<template>
  <div>
    <Multiselect
      v-model="selectedItems"
      placeholder="Digite o nome do local"
      mode="tags"
      :createOption="false"
      :close-on-select="false"
      :searchable="true"
      :create-option="true"
      :options="options"
      @search-change="onSearchChange"
    />
  </div>
</template>

<script>
import Multiselect from '@vueform/multiselect'
import axios from 'axios'

export default {
  components: {
    Multiselect,
  },
  props: {
    vmodel: {
      type: String,
      required: true,
    },
  },
  data() {
    return {
      selectedItems: [],
      options: [],
      searchText: '',
    }
  },
  watch: {
    selectedItems: {
      handler(newVal) {
        // Emita um evento personalizado para atualizar o valor no pai
        this.$emit('update:vmodel', newVal.join(',')); // Converter a matriz em uma string separada por vírgulas
      },
      deep: true, // Observar mudanças profundas na matriz
    },
  },
  created() {
    this.loadOptions();
    // Verificar se o parâmetro location_id está presente na URL
    const locationId = this.$route.query.location_id;
    if (locationId) {
      // Definir a opção correspondente como selecionada
      this.selectedItems = [parseInt(locationId)]; // Converte para número
    }
  },
  methods: {
    loadOptions(searchText = '') {
      const apiUrl = `https://api.wegoout.com.br/api/locations?name=${searchText}`;
      
      axios.get(apiUrl)
        .then(response => {
          this.options = response.data.data.map(item => ({
            value: item.id,
            label: item.name,
          }));
        })
        .catch(error => {
          if (error.response && error.response.status === 429) {
            console.warn('Erro 429 - Tentando novamente em 1 segundo...');
            setTimeout(() => {
              this.loadOptions(searchText);
            }, 1000);
          } else {
            console.error('Erro ao carregar opções:', error);
          }
        });
    },
    onSearchChange(searchText) {
      this.searchText = searchText;
      this.loadOptions(searchText);
    },
  },
}
</script>

<style src="@vueform/multiselect/themes/default.css"></style>

<style type="text/css">
  .multiselect,
  .multiselect-tags-search{
    background-color: transparent;
    outline: 0px;
    color: var(--neutral7);
    font-size: 14px;
    box-shadow: none!important;
  }
  .multiselect-placeholder{
    color: var(--neutral7);
  }
  .multiselect{
    height: 50px;
    background-color: var(--neutral1);
    border: 3px solid var(--neutral2)!important;
    border-radius: var(--lowRadius);    
    transition: var(--transitionFast);
  }
  .multiselect-dropdown{
    background-color: var(--neutral2);
    border: 0px!important;
  }
  .multiselect-tag{
    background-color: var(--main1);
  }
  .multiselect-option.is-pointed{
    background-color: var(--main1);
    color: var(--neutral7);
  }
  .multiselect-caret{
    background-color: var(--main1);
    display: none;
  }
  .multiselect-wrapper{
    width: 100%!important;
  }
  .multiselect-tags{
    overflow-y: scroll;
    height: 24px;
    margin-top: 0px;
  }
  .multiselect-tags .multiselect-tags-search{
    padding: 0px!important;
    border: 0px!important;
    height: 23px!important;
  }
  .multiselect-dropdown{
    max-height: 118px!important;
    border-radius: 0px 0px var(--lowRadius) var(--lowRadius);  
  }
</style>