<template>
  <div>
    Teste abaixo! 
    <Multiselect
      v-model="selectLocais"
      mode="tags"
      :close-on-select="false"
      :searchable="true"
      :create-option="true"
      :options="options"
      @search-change="onSearchChange"
    />
  </div>
</template>

<script>
import Multiselect from '@vueform/multiselect'
import axios from 'axios'

export default {
  components: {
    Multiselect,
  },
  props: {
    vmodel: {
      type: String,
      required: true,
    },
  },
  data() {
    return {
      options: [],
      searchText: '',
    }
  },
  computed: {
    selectLocais: {
      get() {
        return this.vmodel; // Usar o valor vmodel passado pelo pai
      },
      set(value) {
        // Emitir um evento personalizado para atualizar o valor no pai
        this.$emit('update:vmodel', value);
      },
    },
  },
  created() {
    this.loadOptions();
  },
  methods: {
    loadOptions(searchText = '') {
      const apiUrl = `https://api.wegoout.com.br/api/locations?name=${searchText}`;
      
      axios.get(apiUrl)
        .then(response => {
          this.options = response.data.data.map(item => ({
            value: item.id,
            label: item.name,
          }));
        })
        .catch(error => {
          console.error('Erro ao carregar opções:', error);
        });
    },
    onSearchChange(searchText) {
      this.searchText = searchText;
    },
  },
}
</script>

<style src="@vueform/multiselect/themes/default.css"></style>

<style type="text/css">
  .multiselect,
  .multiselect-tags-search{
    background-color: transparent;
    outline: 0px;
    color: var(--neutral7);
    font-size: 14px;
    box-shadow: none!important;
  }
  .multiselect{
    height: 50px;
    background-color: var(--neutral1);
    border: 3px solid var(--neutral2)!important;
    border-radius: var(--lowRadius);    
    transition: var(--transitionFast);
  }
  .multiselect-dropdown{
    background-color: var(--neutral2);
    border: 0px!important;
  }
  .multiselect-tag{
    background-color: var(--main1);
  }
  .multiselect-option.is-pointed{
    background-color: var(--main1);
    color: var(--neutral7);
  }
  .multiselect-caret{
    background-color: var(--neutral2);
  }
  .multiselect-tags-search{
    padding: 0px!important;
    border: 0px!important;
    height: 15px!important;
  }
</style>