<template>
  <div>
    <h1>Lista de Notícias</h1>
    <ul>
      <li style="width: 300px; height: 300px; border: 1px solid white; padding: 20px; color: white; float: left;" v-for="news in newsList" :key="news.id">
        <h2>{{ news.title }}</h2>
        <img style="width: 100%;" :src="news.image" alt="Imagem da Notícia" />
        <p>Data de Publicação: {{ news.public_date }}</p>
      </li>
    </ul>
  </div>
</template>

<script>
import axios from 'axios';

export default {
  data() {
    return {
      newsList: [], // Armazenará os dados das notícias
    };
  },
  mounted() {
    this.fetchNewsData();
  },
  methods: {
    async fetchNewsData() {
      try {
        const totalPages = 10; // Número de páginas que você deseja buscar
        const resultsPerPage = 10; // Número de resultados por página

        // Itera pelas páginas e busca os dados das notícias
        for (let page = 1; page <= totalPages; page++) {
          const response = await axios.get(`https://api.wegoout.com.br/api/news?page=${page}&limit=${resultsPerPage}`);

          // Verifica se a propriedade "data" está presente na resposta
          if (response.data && Array.isArray(response.data.data)) {
            // Adiciona os dados da página atual à lista de notícias
            this.newsList = [...this.newsList, ...response.data.data.map(news => ({
              title: news.title,
              image: news.image,
              public_date: news.public_date,
            }))];
          }
        }
      } catch (error) {
        console.error('Erro ao buscar dados das notícias:', error);
      }
    },
  },
};
</script>