<!DOCTYPE html>
<html lang="">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>We Go Out | Dicas de Festas, Festivais de Música e Viagens</title>
    <link rel="icon" href="/favicon_32.png" sizes="32x32">
    <link rel="icon" href="/favicon_192.png" sizes="192x192">
    <link rel="apple-touch-icon" href="/favicon_180.png">
    <meta name="msapplication-TileImage" content="/favicon_270.png">
    <link rel="stylesheet" href="/styles/globalStyles.css?17072023">
    <link rel="stylesheet" href="/styles/globalStylesMobile.css?17072023">
    <link rel="stylesheet" href="/styles/repairs.css">
    <link rel="stylesheet" href="/styles/texts.css">
    <meta property="og:title" content="We Go Out | Dicas de Festas, Festivais de Música e Viagens">
    <meta property="og:description" content="Festivais de música, festas, música eletrônica e viagens imperdíveis!">
    <meta property="og:image" content="https://wegoout.com.br/images/wgo_featured_image.png">
    <meta property="og:url" content="https://wegoout.com.br">
    <meta property="og:type" content="article">
    <meta name="description" content="Festivais de música, festas, música eletrônica e viagens imperdíveis!">
    <meta name="keywords" content="Festas, Festivais e Viagens">
  </head>
  <body>
    <noscript>
      <strong>We're sorry but <%= htmlWebpackPlugin.options.title %> doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <div id="app"></div>
    <!-- built files will be auto injected -->
  </body>
</html>
