<template>
  <main class="about">
	<LoadingOverlay v-model:is-loading="loading" />
	<section class="firstContent">
		<div class="waveFirst2"></div>
		<div class="container">
			<div class="introduction">
				<h1>SOMOS O WE GO OUT</h1>
				<h2>
					O We Go Out surgiu como um projeto de duas amigas apaixonadas por festas,
					festivais de música e viagens. O amor foi tanto que que decidimos tornar
					nosso estilo de vida em uma empresa.
				</h2>
				<p>
					Nós acreditamos que, ao compartilhar nossas experiências, somos capazes
					de transmitir essa paixão e inspirar nossos seguidores a viverem
					realidades semelhantes.
				</p>
				<p>
					Nosso trabalho é traduzido através de guias, agenda de eventos, conteúdos
					e TOGETHER criados para que as pessoas possam ter acesso às informações e
					aproveitar ao máximo, ter benefícios exclusivos e participar de grupos
					com pessoas que tem a mesma energia.
				</p>
			</div>
		</div>
	</section>
	<section class="extraContent">
		<div class="wave1"></div>
		<div class="wave2"></div>
		<div class="containerExtra">
			<div class="aboutTeam">
				<img class="main-image" src="https://res.cloudinary.com/dgqj6glor/image/upload/v1693243780/WGO/Authors/about-image_vxetw0.jpg" alt="CONHEÇA O NOSSO TIME" />
				<h2 class="font1 fontColor1 title">CONHEÇA O NOSSO TIME</h2>
				<ListaAutores :limit="50" />
			</div>
			<div class="socialMedia">
				<h2 class="font1 fontColor1 title">SIGA O WE GO OUT</h2>
				<ul
					class="juicer-feed"
					data-feed-id="_anaadx"
					data-gutter="20"
					data-per="6"
				></ul>
				<div class="socials">
					<h3 class="font1 fontColor1">NOSSAS REDES</h3>
					<nav>
						<a
							class="insta"
							target="_blank"
							href="https://www.instagram.com/wegoout/"
						></a>
						<a
							class="facebook"
							target="_blank"
							href="https://www.facebook.com/wegoout.br/?locale=pt_BR"
						></a>
						<a
							class="youtube"
							target="_blank"
							href="https://www.youtube.com/@WeGoOut"
						></a>
						<a
							class="spotify"
							target="_blank"
							href="https://open.spotify.com/user/12149669374?si=1ec736824a7749b5"
						></a>
					</nav>
				</div>
			</div>
			<div class="impact">
				<h2 class="font1 fontColor1 title">MILHARES DE PESSOAS ALCANÇADAS</h2>
				<div class="containerGrid">
					<div class="text">
						<p>
							O We Go Out soma milhares de visitantes mensais e possui um alcance
							grande entre o público que consome música no Brasil.
						</p>
						<a href="https://bit.ly/wgo-mk" target="_blank">
							<button></button>
						</a>
					</div>
					<div class="containerNumbers">
						<div class="numbers">
							<h3>100.000</h3>
							<p>Acessos mensais</p>
						</div>
						<div class="numbers readingTime">
							<h3>3M30S</h3>
							<p>Tempo médio de leitura</p>
						</div>
					</div>
					<div>
						<div class="numbers">
							<h3>98.000</h3>
							<p>Seguidores nas redes</p>
						</div>
						<div class="numbers">
							<h3>7.000</h3>
							<p>Contatos na comunidade WGO</p>
						</div>
					</div>
				</div>
			</div>
			<div class="partners">
				<h2 class="font1 fontColor1 title">PARCEIROS</h2>
				<Carousel class="carouselPartners carouselMargin" v-bind="carouselOptions" :breakpoints="carouselBreakpoints">
					<Slide class="item">
						<span>
							<img
								src="https://res.cloudinary.com/dgqj6glor/image/upload/v1693243028/WGO/Parceiros/lollapalooza_dp4tpl.png"
							/>
						</span>
					</Slide>
					<Slide class="item">
						<span>
							<img
								src="https://res.cloudinary.com/dgqj6glor/image/upload/v1693243030/WGO/Parceiros/metlife_dfxw1y.png"
							/>
						</span>
					</Slide>
					<Slide class="item">
						<span>
							<img
								src="https://res.cloudinary.com/dgqj6glor/image/upload/v1693243030/WGO/Parceiros/zig_drxhyt.png"
							/>
						</span>
					</Slide>
					<Slide class="item">
						<span>
							<img
								src="https://res.cloudinary.com/dgqj6glor/image/upload/v1693243030/WGO/Parceiros/warner_xgianr.png"
							/>
						</span>
					</Slide>
					<Slide class="item">
						<span>
							<img
								src="https://res.cloudinary.com/dgqj6glor/image/upload/v1693243030/WGO/Parceiros/xxxperience_tc1sy0.png"
							/>
						</span>
					</Slide>
					<Slide class="item">
						<span>
							<img
								src="https://res.cloudinary.com/dgqj6glor/image/upload/v1693243029/WGO/Parceiros/m_voiw7m.png"
							/>
						</span>
					</Slide>
					<Slide class="item">
						<span>
							<img
								src="https://res.cloudinary.com/dgqj6glor/image/upload/v1693243029/WGO/Parceiros/reveillon-dos-milagres_pjnuyt.png"
							/>
						</span>
					</Slide>
					<Slide class="item">
						<span>
							<img
								src="https://res.cloudinary.com/dgqj6glor/image/upload/v1693243029/WGO/Parceiros/universal_jsevge.png"
							/>
						</span>
					</Slide>
					<Slide class="item">
						<span>
							<img
								src="https://res.cloudinary.com/dgqj6glor/image/upload/v1693243029/WGO/Parceiros/vintage-culture-mark_hfjqrq.png"
							/>
						</span>
					</Slide>
					<Slide class="item">
						<span>
							<img
								src="https://res.cloudinary.com/dgqj6glor/image/upload/v1693243029/WGO/Parceiros/tomorrowland_hjun0u.png"
							/>
						</span>
					</Slide>
					<Slide class="item">
						<span>
							<img
								src="https://res.cloudinary.com/dgqj6glor/image/upload/v1693243029/WGO/Parceiros/novvo_tvpkz0.png"
							/>
						</span>
					</Slide>
					<Slide class="item">
						<span>
							<img
								src="https://res.cloudinary.com/dgqj6glor/image/upload/v1693243029/WGO/Parceiros/rock-in-rio_jre7m4.png"
							/>
						</span>
					</Slide>
					<Slide class="item">
						<span>
							<img
								src="https://res.cloudinary.com/dgqj6glor/image/upload/v1693243029/WGO/Parceiros/lets-pipa_yvtun4.png"
							/>
						</span>
					</Slide>
					<Slide class="item">
						<span>
							<img
								src="https://res.cloudinary.com/dgqj6glor/image/upload/v1693243028/WGO/Parceiros/juca_na_balada_ka1nqn.png"
							/>
						</span>
					</Slide>
					<Slide class="item">
						<span>
							<img
								src="https://res.cloudinary.com/dgqj6glor/image/upload/v1693243028/WGO/Parceiros/inside_wggy7q.png"
							/>
						</span>
					</Slide>
					<Slide class="item">
						<span>
							<img
								src="https://res.cloudinary.com/dgqj6glor/image/upload/v1693243028/WGO/Parceiros/injoy_ijd9io.png"
							/>
						</span>
					</Slide>
					<Slide class="item">
						<span>
							<img
								src="https://res.cloudinary.com/dgqj6glor/image/upload/v1693243028/WGO/Parceiros/ingresse_zm5sr4.png"
							/>
						</span>
					</Slide>
					<Slide class="item">
						<span>
							<img
								src="https://res.cloudinary.com/dgqj6glor/image/upload/v1693243028/WGO/Parceiros/greenvalley_dkpgzt.png"
							/>
						</span>
					</Slide>
					<Slide class="item">
						<span>
							<img
								src="https://res.cloudinary.com/dgqj6glor/image/upload/v1693243028/WGO/Parceiros/eye_snob38.png"
							/>
						</span>
					</Slide>
					<Slide class="item">
						<span>
							<img
								src="https://res.cloudinary.com/dgqj6glor/image/upload/v1693243028/WGO/Parceiros/e-music_rzvhoz.png"
							/>
						</span>
					</Slide>
					<Slide class="item">
						<span>
							<img
								src="https://res.cloudinary.com/dgqj6glor/image/upload/v1693243027/WGO/Parceiros/braslive_i4cw0x.png"
							/>
						</span>
					</Slide>
					<Slide class="item">
						<span>
							<img
								src="https://res.cloudinary.com/dgqj6glor/image/upload/v1693243028/WGO/Parceiros/dubdogz_nwhzru.png"
							/>
						</span>
					</Slide>
					<Slide class="item">
						<span>
							<img
								src="https://res.cloudinary.com/dgqj6glor/image/upload/v1693243028/WGO/Parceiros/entourage_h0u6de.png"
							/>
						</span>
					</Slide>
					<Slide class="item">
						<span>
							<img
								src="https://res.cloudinary.com/dgqj6glor/image/upload/v1693243028/WGO/Parceiros/Boreal_qxq7qe.png"
							/>
						</span>
					</Slide>
					<Slide class="item">
						<span>
							<img
								src="https://res.cloudinary.com/dgqj6glor/image/upload/v1693243027/WGO/Parceiros/becks_xajtqa.png"
							/>
						</span>
					</Slide>
					<Slide class="item">
						<span>
							<img
								src="https://res.cloudinary.com/dgqj6glor/image/upload/v1693243027/WGO/Parceiros/armada_oey1g0.png"
							/>
						</span>
					</Slide>
					<Slide class="item">
						<span>
							<img
								src="https://res.cloudinary.com/dgqj6glor/image/upload/v1693243027/WGO/Parceiros/alok_c15nm6.png"
							/>
						</span>
					</Slide>
					<Slide class="item">
						<span>
							<img
								src="https://res.cloudinary.com/dgqj6glor/image/upload/v1693243027/WGO/Parceiros/be-on_e0n28w.png"
							/>
						</span>
					</Slide>
					<template #addons>
						<Navigation />
					</template>
				</Carousel>
			</div>
			<!--
			<div class="contact">
				<h2 class="font1 fontColor1 title">ENTRE EM CONTATO</h2>
				<p class="font2 fontColor2 title2">
					Preencha os dados ao lado e envie sua mensagem. Em breve, nossa equipe
					entrará em contato.
				</p>
				<form>
					<div class="containerForm">
						<div class="name">
							<label class="font2 fontColor1" for="name">Nome<span>*</span></label>
							<input
								type="text"
								name="name"
								class="font2 fontColor2"
								placeholder="Digite seu nome completo"
							/>
						</div>
						<div class="email">
							<label class="font2 fontColor1" for="email"
								>E-mail<span>*</span></label
							>
							<input
								type="text"
								name="email"
								class="font2 fontColor2"
								placeholder="Digite o seu email"
							/>
						</div>
					</div>
					<label class="font2 fontColor1 subjectLabel" for="subject"
						>Assunto da mensagem<span>*</span></label
					>
					<select class="font2 fontColor4 fontSize3 subject">
						<option value="dúvidas">Dúvidas ou sugestões</option>
						<option value="propostas">Proposta de parceria</option>
						<option value="informações">Mais informações</option>
					</select>
					<label class="font2 fontColor1" for="message"
						>Mensagem<span>*</span></label
					>
					<textarea
						autocomplete="off"
						requiredrows="1"
						name="message"
						class="message font2 fontColor2"
						placeholder="Escreva aqui a sua mensagem"
					></textarea>
					<label class="font2 fontColor1 checkLabel" for="checkbox">
						Li e aceito os
						<router-link to="/politica-de-privacidade">Termos de uso</router-link> e
						as
						<router-link to="/politica-de-cookies"
							>Políticas de privacidade</router-link
						>
						da plataforma We Go Out.
						<input
							type="checkbox"
							id="checkTerms"
							name="checkbox"
							class="font2 fontColor2"
						/>
						<span class="check"></span>
					</label>
					<button class="font1 fontColor4">ENVIAR MENSAGEM</button>
				</form>
			</div>
			-->
			<!--
			<div class="launchOnTheSite">
				<div>
					<h2 class="font1 fontSize6 fontColor1">
						ENVIE SEU LANÇAMENTO PARA O WE GO OUT
					</h2>
					<p class="font2 fontColor2 fontSize5">
						Preencha o formulário do envio do lançamento e mostre a sua música para
						milhares de pessoas
					</p>
				</div>
				<router-link
					class="font1 fontSize3 fontColor3"
					to="/criar-lancamentos"
				>
					ENVIE SEU LANÇAMENTO
				</router-link>
				<div class="launchWave"></div>
				<div class="waveLaunch1"></div>
				<div class="waveLaunch2"></div>
			</div>
			-->
		</div>
	</section>
</main>
</template>

<script>
// @ is an alias to /src
import ListaAutores from '@/components/ListaAutores.vue'
import { Carousel, Slide, Navigation } from 'vue3-carousel';
import 'vue3-carousel/dist/carousel.css'
import LoadingOverlay from '@/components/LoadingOverlay.vue'

export default {
  name: 'AboutView',
  components: {
    ListaAutores,
    Carousel,
    Slide,
    Navigation,
    LoadingOverlay
  },
  data() {
    return {
      eventos: [],
      loading: true,
      carouselOptions: {
        snapAlign: 'start',
      },
      carouselBreakpoints: {
        0: {
          itemsToShow: 2,
        },
        1024: {
          itemsToShow: 9,
        },
      }
    };
  },
  methods: {
    removeLoadingOverlay() {
      this.loading = false;
    }
  },
  created() {
    setTimeout(this.removeLoadingOverlay, 3000);
    // Atualize as metatags para esta página específica
    const pageTitle = "Sobre o We Go Out";
    const pageDescription = "Descrição de Sobre o We Go Out";
    const pageImage = "https://res.cloudinary.com/dgqj6glor/image/upload/v1693243780/WGO/Authors/about-image_vxetw0.jpg";
    const pageKeywords = "Sobre, We, Go, Out";

    document.title = pageTitle;
    document.querySelector('meta[property="og:title"]').setAttribute("content", pageTitle);
    document.querySelector('meta[property="og:description"]').setAttribute("content", pageDescription);
    document.querySelector('meta[property="og:image"]').setAttribute("content", pageImage);
    document.querySelector('meta[name="description"]').setAttribute("content", pageDescription);
    document.querySelector('meta[name="keywords"]').setAttribute("content", pageKeywords);
  },
  mounted() {
	
	},
}
</script>
