<template>
	<main class="artists">
		<LoadingOverlay v-model:is-loading="loading" />
		<section class="firstContent">
			<div class="container">
				<div class="artistHighlights">
					<ListaPequenaArtistasInterna :limit="10" />
				</div>
			</div>
		</section>
		<ListaArtistas />
	</main>
</template>

<script>
// @ is an alias to /src
import ListaArtistas from '@/components/ListaArtistas.vue'
import ListaPequenaArtistasInterna from '@/components/ListaPequenaArtistasInterna.vue'
import LoadingOverlay from '@/components/LoadingOverlay.vue'

export default {
  name: 'ArtistasView',
  components: {
    ListaArtistas,
    ListaPequenaArtistasInterna,
    LoadingOverlay
  },
  data() {
    return {
      loading: true
    };
  },
  methods: {
    removeLoadingOverlay() {
      this.loading = false;
    },
    toggleBodyClass() {
        // Obtém a referência ao elemento body
        const body = document.body;

        // Adiciona a classe 'searchEventsModalActive' ao body
        body.classList.add('searchEventsModalActive');
    },
  },
  created() {
    setTimeout(this.removeLoadingOverlay, 3000);
  },
  mounted() {
    // Obtém o botão com a classe 'searchModalButton'
    const button = document.querySelector('.searchModalButton');

    // Adiciona um ouvinte de evento de clique ao botão
    button.addEventListener('click', this.toggleBodyClass);
  }
}
</script>