<template>
	<main class="singleNews">
        <LoadingOverlay v-model:is-loading="loading" />
        <section class="firstContent">
			<DetalheNoticiaIdentificacao />
        </section>
        <section class="extraContent">
            <div class="containerExtra">
                <div class="firstExtraContent">
					<DetalheNoticiaDescricao />
                    <div class="menuExtra">
                        <h2>Tomorrowland Belgica 2023</h2>
                        <nav>
                            <a href="">Ingressos</a>
                            <a href="">Planejando a viagem para o Tomorrowland</a>
                            <a href="">Bélgica: Onde se hospedar?</a>
                            <a href="">Dreamville: o camping oficial</a>
                            <a href="">Como chegar no festival</a>
                            <a href="">Estrutura do Tomorrowland</a>
                            <a href="">Dicas e Perguntas Frequentes</a>
                            <a href="">Inspirações de Looks</a>
                            <a href="">Edições Anteriores</a>
                            <a href="">Eurotrip</a>
                            <a href="">Tomorrowland Winter</a>
                            <a href="">Tomorrowland Digital</a>
                            <a href="">Nos vemos lá!</a>
                        </nav>
                    </div>    
                </div>
                <div class="componentGuide">
                    <h3 class="font1 fontColor1 title">NOTÍCIAS RELACIONADAS</h3> 
                    <DetalheNoticiaComplemento />
                </div>  
                <div class="advertisement"> 
                    <SelectedAd :position="WideHome" />
                </div> 
            </div>
            <button class="indexButton">ÍNDICE</button>
        </section>
    </main> 
</template>

<script>
import DetalheNoticiaIdentificacao from '@/components/DetalheNoticiaIdentificacao.vue'
import DetalheNoticiaDescricao from '@/components/DetalheNoticiaDescricao.vue'
import DetalheNoticiaComplemento from '@/components/DetalheNoticiaComplemento.vue'
import SelectedAd from '@/components/SelectedAd.vue'
import LoadingOverlay from '@/components/LoadingOverlay.vue'

export default {
  name: 'DetalheNoticiaView',
  components: {
    DetalheNoticiaIdentificacao,
    DetalheNoticiaDescricao,
    DetalheNoticiaComplemento,
    SelectedAd,
    LoadingOverlay
  },
  data() {
    return {
      loading: true
    };
  },
  methods: {
    removeLoadingOverlay() {
      this.loading = false;
    }
  },
  created() {
    setTimeout(this.removeLoadingOverlay, 3000);
  }
}
</script>