<template>
  <main class="search">
    <LoadingOverlay v-model:is-loading="loading" />
    <section class="extraContent">
      <div class="containerExtra">
        <h2 class="font1 fontColor1 searchResultText">
          Resultados para "{{ termo }}"
        </h2>
        <ConsultaSimples :name="termo" />
      </div>
    </section>
  </main>
</template>

<script>
import ConsultaSimples from '@/components/ConsultaSimples.vue'
import LoadingOverlay from '@/components/LoadingOverlay.vue'

export default {
  components: {
    ConsultaSimples,
    LoadingOverlay,
  },
  data() {
    return {
      termo: '',
      loading: true,
    };
  },
  created() {
    if (this.$route.query.termo) {
      this.termo = decodeURIComponent(this.$route.query.termo);
    }
    setTimeout(this.removeLoadingOverlay, 3000);
  },
  watch: {
    '$route.query.termo': {
      immediate: true, // Chama o watcher imediatamente quando o componente é criado
      handler(newTermo) {
        this.termo = decodeURIComponent(newTermo);
      }
    }
  },
  methods: {
    removeLoadingOverlay() {
      this.loading = false;
    },
  },
};
</script>