<template>
	<main class="chao" style="padding: 400px; background-color: #121212;">
		<NoticiasDiversas endpoint="locations" vmodel="locations" />
	</main>
</template>

<script>
import NoticiasDiversas from '@/components/testes/NoticiasDiversas.vue'

export default {
  name: 'ChaoView',
  components: {
    NoticiasDiversas,
  },
  data() {
    return {
      
    };
  },
  methods: {
    
  },
}
</script>
