<template>
  <main class="events">
    <LoadingOverlay v-model:is-loading="loading" />
    <!--
    <section class="firstContent">
      <div class="wave1"></div>
      <div class="container">
        <div class="featured">
          <div class="emphasis">
            <ListaPequenaEventosInterna :limit="5" />
          </div>
        </div>
        <ListaPequenaDestaques :limit="5" />
        <div class="darkWave" alt="icone de fundo"></div>
      </div>
    </section>
    -->
    <section class="extraContent events-filter show-form" ref="eventsFilter">
      <div class="body-filter">
        <div class="containerExtra">
          <BuscaHome />
        </div>
      </div>
    </section>
    <div class="containerExtra results">
      <div class="nextEvents">
        <button class="buttonPinkLarge searchModalButton font1 fontSize2">PESQUISAR EVENTOS
            <img :src="require('@/assets/images/seta-vertical-cima.svg')">
        </button>
        <BuscaEventos />
      </div>
    </div>
  </main>
</template>

<script>
import BuscaEventos from "@/components/BuscaEventos.vue";
import LoadingOverlay from '@/components/LoadingOverlay.vue'
import BuscaHome from '@/components/BuscaHome.vue'
//import ListaPequenaEventosInterna from '@/components/ListaPequenaEventosInterna.vue'
//import ListaPequenaDestaques from '@/components/ListaPequenaDestaques.vue'

export default {
  components: {
    BuscaEventos,
    LoadingOverlay,
    BuscaHome,
    //ListaPequenaEventosInterna,
    //ListaPequenaDestaques
  },
  data() {
    return {
		loading: true,
    };
  },
  methods: {
    removeLoadingOverlay() {
      this.loading = false;
    },
    toggleBodyClass() {
        // Obtém a referência ao elemento body
        const body = document.body;

        // Adiciona a classe 'searchEventsModalActive' ao body
        body.classList.add('searchEventsModalActive');
    },
  },
  created() {
    setTimeout(this.removeLoadingOverlay, 3000);
  },
  mounted() {
    // Obtém o botão com a classe 'searchModalButton'
    const button = document.querySelector('.searchModalButton');

    // Adiciona um ouvinte de evento de clique ao botão
    button.addEventListener('click', this.toggleBodyClass);
  }
};
</script>
