<template>
  <div class="criar-evento">
	<LoadingOverlay v-model:is-loading="loading" />
	<FormEvento />	
  </div>
</template>

<script>
// @ is an alias to /src
import FormEvento from '@/components/FormEvento.vue'
import LoadingOverlay from '@/components/LoadingOverlay.vue'

export default {
  name: 'CriarEventoView',
  components: {
    FormEvento,
    LoadingOverlay
  },
  data() {
    return {
      loading: true
    };
  },
  methods: {
    removeLoadingOverlay() {
      this.loading = false;
    }
  },
  created() {
    setTimeout(this.removeLoadingOverlay, 5000);
  }
}
</script>
