<template>
	<main class="release">
		<LoadingOverlay v-model:is-loading="loading" />
		<section class="firstContent">
			<div class="container container-sticky">
				<div class="info container-sticky-left">
					<DetalheLancamentoIdentificacao />
					<DetalheLancamentoSobre />
					<DetalheLancamentoArtista />
					<!--
          <div class="launchOnTheSite">
						<iframe
							style="border-radius: 12px"
							src="https://open.spotify.com/embed/playlist/4C2RPf3HTrOhYWVtJnphHj?utm_source=generator&theme=0"
							width="350px"
							height="400px"
							frameborder="0"
							allowfullscreen=""
							allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"
							loading="lazy"
						></iframe>
						<div class="content">
							<div class="text">
								<h2 class="font1 fontSize6 fontColor1">
									ENVIE SEU LANÇAMENTO PARA O WE GO OUT
								</h2>
								<p class="font2 fontColor2 fontSize5">
									Preencha o formulário do envio do lançamento e mostre a sua música
									para milhares de pessoas.
								</p>
								<router-link to="/criar-lancamentos" class="font1 fontSize3 fontColor3">
									ENVIAR LANCAMENTO
								</router-link>
							</div>
							<div class="launchWave1"></div>
						</div>
						<div class="blankPart"></div>
					</div>
          -->
				</div>
				<DetalheLancamentoFixo />
			</div>
		</section>
		<section class="extraContent">
			<div class="containerExtra">
				<DetalheLancamentoRelacionados />
				<div class="advertisement">
					<SelectedAd :position="WideHome" />
				</div>
			</div>
		</section>
	</main>
</template>

<script>
import axios from 'axios';

import DetalheLancamentoIdentificacao from '@/components/DetalheLancamentoIdentificacao.vue'
import DetalheLancamentoSobre from '@/components/DetalheLancamentoSobre.vue'
import DetalheLancamentoArtista from '@/components/DetalheLancamentoArtista.vue'
import DetalheLancamentoFixo from '@/components/DetalheLancamentoFixo.vue'
import DetalheLancamentoRelacionados from '@/components/DetalheLancamentoRelacionados.vue'
import SelectedAd from '@/components/SelectedAd.vue'
import LoadingOverlay from '@/components/LoadingOverlay.vue'


export default {
  name: 'DetalheLancamentoView',
  components: {
    DetalheLancamentoIdentificacao,
    DetalheLancamentoSobre,
    DetalheLancamentoArtista,
    DetalheLancamentoFixo,
    DetalheLancamentoRelacionados,
    SelectedAd,
    LoadingOverlay
  },
  data() {
    return {
      loading: true
    };
  },
  methods: {
    removeLoadingOverlay() {
      this.loading = false;
    },
    async fetchConteudo(slug) {
      try {
        const response = await axios.get(`https://api.wegoout.com.br/api/releases?slug=${slug}`);
        const conteudo = response.data.data;

        if (conteudo.length > 0) {
          const tituloConteudo = conteudo[0].name; // Obtem o título da notícia
          // Define o título da página com base no título da notícia
          document.title = `We Go Out | ${tituloConteudo}`;
        } else {
          // Trate o caso em que a notícia não foi encontrada
          document.title = 'Conteúdo não encontrada';
        }
      } catch (error) {
        console.error('Erro ao buscar conteúdo:', error);
        // Trate erros de chamada à API, se necessário
      }
    },
  },
  created() {
    setTimeout(this.removeLoadingOverlay, 3000);
  },
  watch: {
    '$route.params.slug': {
      immediate: true,
      handler(newSlug, oldSlug) {
        if (newSlug !== oldSlug) {
          this.fetchConteudo(newSlug);
        }
      },
    },
  },
}
</script>