<template>
	<main class="artist">
		<LoadingOverlay v-model:is-loading="loading" />
    <section class="firstContent container-sticky">
			<div class="info container-sticky-left">
				<DetalheArtistaIdentificacao v-if="conteudo !== null" :artista="conteudo" />
				<DetalheArtistaDescricao v-if="conteudo !== null" :artista="conteudo" />
				<DetalheArtistaComplemento v-if="conteudo !== null" :artista="conteudo" />
			</div>
			<DetalheArtistaFixo v-if="conteudo !== null" :artista="conteudo"/>
		</section>
		<section class="extraContent">
			<div class="containerExtra">
				<DetalheArtistaRelacionados v-if="conteudo !== null" :artista="conteudo" />
				<div class="advertisement">
					<SelectedAd :position="WideHome" />
				</div>
			</div>
		</section>
	</main>
</template>

<script>
import axios from 'axios';

import DetalheArtistaIdentificacao from '@/components/DetalheArtistaIdentificacao.vue'
import SelectedAd from '@/components/SelectedAd.vue'
import DetalheArtistaFixo from '@/components/DetalheArtistaFixo.vue'
import DetalheArtistaDescricao from '@/components/DetalheArtistaDescricao.vue'
import DetalheArtistaComplemento from '@/components/DetalheArtistaComplemento.vue'
import DetalheArtistaRelacionados from '@/components/DetalheArtistaRelacionados.vue'
import LoadingOverlay from '@/components/LoadingOverlay.vue'

export default {
  name: 'DetalheArtistaView',
  components: {
    DetalheArtistaIdentificacao,
    SelectedAd,
    DetalheArtistaFixo,
    DetalheArtistaDescricao,
    DetalheArtistaComplemento,
    DetalheArtistaRelacionados,
    LoadingOverlay
  },
  data() {
    return {
      loading: true,
      conteudo: null,
    };
  },
  methods: {
    removeLoadingOverlay() {
      this.loading = false;
    },
    async fetchConteudo(slug) {
      try {
        const url = `https://api.wegoout.com.br/api/artists?slug=${slug}`;
        const response = await axios.get(url);
        this.conteudo = response.data.data[0];

        if (this.conteudo) {
          const tituloConteudo = this.conteudo.name;
          document.title = `We Go Out | ${tituloConteudo}`;
        } else {
          document.title = 'Conteúdo não encontrado';
        }
      } catch (error) {
        if (error.response && error.response.status === 429) {
          await new Promise((resolve) => setTimeout(resolve, 1000));
          await this.fetchConteudo(slug);
        } else {
          console.error('Erro ao buscar conteúdo:', error);
        }
      }
    }
  },
  created() {
    setTimeout(this.removeLoadingOverlay, 3000);
  },
  watch: {
    '$route.params.slug': {
      immediate: true,
      handler(newSlug, oldSlug) {
        if (newSlug !== oldSlug) {
          this.fetchConteudo(newSlug);
        }
      },
    },
  },
}
</script>