<template>
  <main class="singleNews">
    <LoadingOverlay v-model:is-loading="loading" />
    <section class="firstContent">
      <DetalheNoticiaIdentificacao v-if="conteudo !== null" :noticia="conteudo" />
    </section>
    <section class="extraContent">
      <div class="containerExtra">
        <div class="firstExtraContent">
          <DetalheNoticiaDescricao v-if="conteudo !== null" :noticia="conteudo" />
          <DetalheNoticiaMenuExtra />
        </div>
        <DetalheNoticiaComplemento v-if="conteudo !== null" :noticia="conteudo" />
        <div class="advertisement">
          <SelectedAd :position="WideHome" />
        </div>
      </div>
    </section>
  </main>
</template>

<script>
import axios from "axios";

import DetalheNoticiaIdentificacao from "@/components/DetalheNoticiaIdentificacao.vue";
import DetalheNoticiaDescricao from "@/components/DetalheNoticiaDescricao.vue";
import DetalheNoticiaMenuExtra from "@/components/DetalheNoticiaMenuExtra.vue";
import DetalheNoticiaComplemento from "@/components/DetalheNoticiaComplemento.vue";
import SelectedAd from "@/components/SelectedAd.vue";
import LoadingOverlay from "@/components/LoadingOverlay.vue";

export default {
  name: "DetalheNoticiaView",
  components: {
    DetalheNoticiaIdentificacao,
    DetalheNoticiaDescricao,
    DetalheNoticiaMenuExtra,
    DetalheNoticiaComplemento,
    SelectedAd,
    LoadingOverlay,
  },
  data() {
    return {
      loading: true,
      conteudo: null, // Inicialize com null
    };
  },
  methods: {
    removeLoadingOverlay() {
      this.loading = false;
    },
    async fetchConteudo(slug) {
      try {
        const response = await axios.get(
          `https://api.wegoout.com.br/api/news?slug=${slug}`);
        this.conteudo = response.data.data[0];

        if (this.conteudo) {
          const tituloConteudo = this.conteudo.title; 
          document.title = `We Go Out | ${tituloConteudo}`;
        } else {
          document.title = "Conteúdo não encontrado";
        }
      } catch (error) {
        if (error.response && error.response.status === 429) {
          setTimeout(() => {
            this.fetchConteudo(slug);
          }, 3000);
        } else {
          console.error("Erro ao buscar conteúdo:", error);
        }
      }
    },
  },
  created() {
    setTimeout(this.removeLoadingOverlay, 3000);
  },
  watch: {
    "$route.params.slug": {
      immediate: true,
      handler(newSlug, oldSlug) {
        if (newSlug !== oldSlug) {
          this.conteudo = null;
          this.fetchConteudo(newSlug);
        }
      },
    },
  },
};
</script>