<template>
  <main class="event">
    <LoadingOverlay v-model:is-loading="loading" />
    <DetalheEventoModal v-if="conteudo !== null" :evento="conteudo" />
    <section class="firstContent">
      <div class="container container-sticky">
        <div class="info container-sticky-left">
          <DetalheEventoIdentificacao v-if="conteudo !== null" :evento="conteudo" />
          <DetalheEventoSobre v-if="conteudo !== null" :evento="conteudo" />
          <DetalheEventoComplemento v-if="conteudo !== null" :evento="conteudo" />
        </div>
        <DetalheEventoFixo v-if="conteudo !== null" :evento="conteudo" />
      </div>
    </section>
    <section class="extraContent">
      <div class="containerExtra">
        <DetalheEventoRelacionados v-if="conteudo !== null" :evento="conteudo" />
      </div>
    </section>
  </main>
</template>

<script>
import axios from 'axios';

import DetalheEventoModal from '@/components/DetalheEventoModal.vue';
import DetalheEventoIdentificacao from '@/components/DetalheEventoIdentificacao.vue';
import DetalheEventoFixo from '@/components/DetalheEventoFixo.vue';
import DetalheEventoSobre from '@/components/DetalheEventoSobre.vue';
import DetalheEventoComplemento from '@/components/DetalheEventoComplemento.vue';
import DetalheEventoRelacionados from '@/components/DetalheEventoRelacionados.vue';
import LoadingOverlay from '@/components/LoadingOverlay.vue';

export default {
  name: 'DetalheEventoView',
  components: {
    DetalheEventoModal,
    DetalheEventoIdentificacao,
    DetalheEventoFixo,
    DetalheEventoSobre,
    DetalheEventoComplemento,
    DetalheEventoRelacionados,
    LoadingOverlay,
  },
  data() {
    return {
      loading: true,
      conteudo: null,
    };
  },
  methods: {
    removeLoadingOverlay() {
      this.loading = false;
    },
    async fetchConteudo(slug) {
      try {
        const response = await axios.get(`https://api.wegoout.com.br/api/events?slug=${slug}`);
        this.conteudo = response.data.data[0];

        if (this.conteudo !== null) {
          const tituloConteudo = this.conteudo.name;
          document.title = `We Go Out | ${tituloConteudo}`;
        } else {
          document.title = 'Conteúdo não encontrado';
        }
      } catch (error) {
        if (error.response && error.response.status === 429) {
          setTimeout(() => {
            this.fetchConteudo(slug);
          }, 5000);
        } else {
          console.error('Erro ao buscar conteúdo:', error);
        }
      }
    },
  },
  created() {
    setTimeout(this.removeLoadingOverlay, 3000);
    //this.fetchConteudo(this.$route.params.slug);
  },
  watch: {
    '$route.params.slug': {
      immediate: true,
      handler(newSlug, oldSlug) {
        if (newSlug !== oldSlug) {
          this.conteudo = null;
          this.fetchConteudo(newSlug);
        }
      },
    },
  },
};
</script>