<template>
	<main class="waiting">
		<LoadingOverlay v-model:is-loading="loading" />
		<div class="main-section-waiting-page">
			<div class="main-container-waiting-page">
				<div class="logo-container-waiting-page">
					<img src="https://wegoout.com.br/img/logo.5705a951.svg"/>
				</div>
				<div class="waiting-page-container">
					<h1>Mais esperado que o seu festival favorito, vem aí o novo site do We Go Out</h1>
				</div>
				<div class="waiting-page-container">
					<p>Aguarde pelas novidades em breve e, enquanto isso, nos vemos na pista!</p>
					<a href="https://www.instagram.com/wegoout/" class="waiting-page-button-link" target="_blank">Retrospectiva We Go Out</a>
				</div>
			</div>
		</div>
		<footer class="footer-waiting-page">
			<p>Todos os direitos reservados a We Go Out 2023® CNPJ: 12.345.678/0001-10</p>
		</footer>
	</main> 
</template>

<script>
import LoadingOverlay from '@/components/LoadingOverlay.vue'

export default {
  name: 'EventosView',
  components: {
	LoadingOverlay
  },
  data() {
    return {
      loading: true
    };
  },
  methods: {
    removeLoadingOverlay() {
      this.loading = false;
    }
  },
  created() {
    setTimeout(this.removeLoadingOverlay, 3000);
  }
}
</script>
