<template>
	<main class="events">
		<LoadingOverlay v-model:is-loading="loading" />
		<section class="firstContent">
			<div class="wave1"></div>
			<div class="container">
				<div class="featured">
					<div class="emphasis">
						<ListaPequenaEventosInterna :limit="5" />
					</div>
				</div>
				<ListaPequenaDestaques :limit="5" />
				<button class="buttonPinkLarge searchModalButton font1 fontSize2">PESQUISAR EVENTOS
					<img :src="require('@/assets/images/seta-vertical-cima.svg')">
				</button>
				<div class="darkWave" alt="icone de fundo"></div>
			</div>
		</section>
		<section class="extraContent events-filter">
			<ListaEventos />
			<div class="containerExtra">
				<div class="advertisement"> 
					<SelectedAd :position="WideHome"  />			   
				</div>
				<!--
				<div class="launchOnTheSite">
					<div>
						<h2 class="font1 fontSize6 fontColor1">ENVIE SEU EVENTO</h2>
						<p class="font2 fontColor2 fontSize5">Preencha o formulário e mostre seu evento para milhares de pessoas;</p>
					</div>
					<router-link class="font1 fontSize3 fontColor3" to="/criar-lancamentos">
						ENVIAR EVENTO
					</router-link>
					<div class="launchWave"></div>
				</div>
				-->
				<div class="filter filterList">
					<button class="filterButton">
						<p class="filterIcon">Filtros</p>
					</button>
					<div class="viewMode">
						<div>
							<div class="change listChange"><p class="list">Lista</p></div>
							<div class="change mapChange"><p class="map">Mapa</p></div>
						</div>
					</div>
				</div>
				<div class="maps">
					<iframe
						src="https://www.google.com/maps/embed?pb=!1m16!1m12!1m3!1d1769624.1898427675!2d-52.996465405552115!3d-29.970886387331266!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!2m1!1smaps%20eventos%20brasil!5e0!3m2!1spt-BR!2sbr!4v1687333183408!5m2!1spt-BR!2sbr"
						width="100%"
						height="750"
						style="border: 0"
						allowfullscreen=""
						loading="lazy"
						referrerpolicy="no-referrer-when-downgrade"
						frameborder="0"
					></iframe>
				</div>
			</div> 
		</section>
	</main> 
</template>

<script>
// @ is an alias to /src
import ListaEventos from '@/components/ListaEventos.vue'
import ListaPequenaEventosInterna from '@/components/ListaPequenaEventosInterna.vue'
import ListaPequenaDestaques from '@/components/ListaPequenaDestaques.vue'
import SelectedAd from '@/components/SelectedAd.vue'
import LoadingOverlay from '@/components/LoadingOverlay.vue'

export default {
  name: 'EventosView',
  components: {
	ListaEventos,
	ListaPequenaEventosInterna,
	ListaPequenaDestaques,
	SelectedAd,
	LoadingOverlay
  },
  data() {
    return {
      loading: true
    };
  },
  methods: {
    removeLoadingOverlay() {
      this.loading = false;
    },
    toggleBodyClass() {
        // Obtém a referência ao elemento body
        const body = document.body;

        // Adiciona a classe 'searchEventsModalActive' ao body
        body.classList.add('searchEventsModalActive');
    },
  },
  created() {
    setTimeout(this.removeLoadingOverlay, 3000);
  },
  mounted() {
    // Obtém o botão com a classe 'searchModalButton'
    const button = document.querySelector('.searchModalButton');

    // Adiciona um ouvinte de evento de clique ao botão
    button.addEventListener('click', this.toggleBodyClass);
  }
}
</script>
