<template>
  <main class="home">
    <LoadingOverlay v-model:is-loading="loading" />
    <section class="firstContent">
        <div class="container">
            <div class="featured">
                <div class="emphasis">
                    <ListaPequenaEventos :limit="5" />
                </div>
                <div class="countdown">
                    <ListaPequenaProximosEventos :limit="6" />
                </div>
            </div>
            <ListaPequenaDestaques :limit="5" />
            <BuscaHome />
            <button class="buttonPinkLarge searchModalButton font1 fontSize2">PESQUISAR EVENTOS
                <img :src="require('@/assets/images/seta-vertical-cima.svg')">
            </button>
            <div class="darkWave" alt="icone de fundo"></div>
        </div>
    </section>
    <section class="extraContent">
        <div class="together">
            <div class="text">
                <h2 class="font1 fontSize7 fontColor1">COMUNIDADE WE GO OUT TOGETHER</h2>
                <h3 class="font2 fontSize6 fontColor2">Faça parte da nossa comunidade entrando nos nossos grupos de WhatsApp e confira todos os benefícios exclusivos, além de conhecer e trocar várias experiências com a galera!</h3>
               <router-link to="/together" class="font1 fontSize3">VER TODOS</router-link>
            </div>
            <div class="smokeEffect"></div>
            <div class="carouselContainer">
                <div class="carouseltogether">
                    <div class="item">
                      <router-link to="/together">
                        <img src="https://api.wegoout.com.br/images/togethers/o1w6fi4adgghcfm2pnkd.webp" alt="Tomorrowland">
                        <p class="font1 fontSize3 fontColor1">Tomorrowland</p>
                      </router-link>
                    </div>
                    <div class="item">
                      <router-link to="/together">
                        <img src="https://api.wegoout.com.br/images/togethers/gxpaiuju1ukovj4lnbwd.webp" alt="Lollapalooza Brasil">
                        <p class="font1 fontSize3 fontColor1">Lollapalooza Brasil</p>
                      </router-link>
                    </div>
                    <div class="item">
                      <router-link to="/together">
                        <img src="https://api.wegoout.com.br/images/togethers/r3uy9kyet5521qo69kdr.webp" alt="Réveillon">
                        <p class="font1 fontSize3 fontColor1">Réveillon</p>
                      </router-link>
                    </div>
                    <div class="item">
                      <router-link to="/together">
                        <img src="https://api.wegoout.com.br/images/togethers/syztvn0nxryf7b6uiig1.webp" alt="Carnaval">
                        <p class="font1 fontSize3 fontColor1">Carnaval</p>
                      </router-link>
                    </div>
                </div>
            </div>
            <div class="backgroundWave" alt="icone de fundo"></div>
        </div>
        <div class="containerExtra">
            <ListaPequenaNoticiasGuia :limit="10" />
            <div class="featuredNews">
                <ListaPequenaNoticias :limit="4" />
                <ListaPequenaNovasNoticias :limit="4" />
                <div class="featuredWave"></div>
            </div>
            <div class="advertisement"> 
                <SelectedAd :position="WideHome" />               
            </div> 
            <ListaPequenaArtistas :limit="10" />
            <ListaPequenaLancamentos :limit="10" />
            <!--
            <div class="launchOnTheSite">
                <div>
                    <h2 class="font1 fontSize6 fontColor1">ENVIE SEU LANÇAMENTO PARA O WE GO OUT</h2>
                    <p class="font2 fontColor2 fontSize5">Preencha o formulário do envio do lançamento e mostre a sua música para milhares de pessoas</p>
                </div>
                <router-link to="/enviar-eventos" class="font1 fontSize3 fontColor3">
                    ENVIE SEU LANÇAMENTO
                </router-link>
                <div class="launchWave"></div>
            </div>
            -->
        </div> 
    </section>
    
        

</main>
</template>

<script>
import ListaPequenaEventos from '@/components/ListaPequenaEventos.vue'
import ListaPequenaProximosEventos from '@/components/ListaPequenaProximosEventos.vue'
import ListaPequenaArtistas from '@/components/ListaPequenaArtistas.vue'
import ListaPequenaLancamentos from '@/components/ListaPequenaLancamentos.vue'
import ListaPequenaNoticias from '@/components/ListaPequenaNoticias.vue'
import ListaPequenaDestaques from '@/components/ListaPequenaDestaques.vue'
import ListaPequenaNoticiasGuia from '@/components/ListaPequenaNoticiasGuia.vue'
import ListaPequenaNovasNoticias from '@/components/ListaPequenaNovasNoticias.vue'
import SelectedAd from '@/components/SelectedAd.vue'
import BuscaHome from '@/components/BuscaHome.vue'
import LoadingOverlay from '@/components/LoadingOverlay.vue'

export default {
  name: 'HomeView',
  components: {
    ListaPequenaEventos,
    ListaPequenaProximosEventos,
    ListaPequenaArtistas,
    ListaPequenaLancamentos,
    ListaPequenaNoticias,
    ListaPequenaNoticiasGuia,
    ListaPequenaDestaques,
    SelectedAd,
    ListaPequenaNovasNoticias,
    BuscaHome,
    LoadingOverlay
  },
  data() {
    return {
      loading: true
    };
  },
  methods: {
    removeLoadingOverlay() {
        this.loading = false;
    },
    toggleBodyClass() {
        // Obtém a referência ao elemento body
        const body = document.body;

        // Adiciona a classe 'searchEventsModalActive' ao body
        body.classList.add('searchEventsModalActive');
    },
  },
  created() {
    setTimeout(this.removeLoadingOverlay, 3000);
  },
  mounted() {
    // Obtém o botão com a classe 'searchModalButton'
    const button = document.querySelector('.searchModalButton');

    // Adiciona um ouvinte de evento de clique ao botão
    button.addEventListener('click', this.toggleBodyClass);
  }
}
</script>
