<template>
	<main class="releases">
		<LoadingOverlay v-model:is-loading="loading" />
		<section class="firstContent">
			<div class="container">
				<ListaPequenaLancamentosInterna :limit="10" />
			</div>
		</section>
		<section class="extraContent">
			<ListaLancamentos />
			<div class="containerExtra">
				<ListaPequenaArtistas :limit="10" />
				<div class="advertisement">
					<SelectedAd :position="WideHome" />
				</div>
			</div>
		</section>
	</main>
</template>

<script>
// @ is an alias to /src
import ListaLancamentos from '@/components/ListaLancamentos.vue'
import ListaPequenaLancamentosInterna from '@/components/ListaPequenaLancamentosInterna.vue'
//import ListaPequenaArtistas from '@/components/ListaPequenaArtistas.vue'
import SelectedAd from '@/components/SelectedAd.vue'
import LoadingOverlay from '@/components/LoadingOverlay.vue'

export default {
  name: 'LancamentosView',
  components: {
    ListaLancamentos,
    ListaPequenaLancamentosInterna,
    //ListaPequenaArtistas,
    SelectedAd,
    LoadingOverlay
  },
  data() {
    return {
      loading: true
    };
  },
  methods: {
    removeLoadingOverlay() {
      this.loading = false;
    },
    toggleBodyClass() {
        // Obtém a referência ao elemento body
        const body = document.body;

        // Adiciona a classe 'searchEventsModalActive' ao body
        body.classList.add('searchEventsModalActive');
    },
  },
  created() {
    setTimeout(this.removeLoadingOverlay, 3000);
  },
  mounted() {
    // Obtém o botão com a classe 'searchModalButton'
    const button = document.querySelector('.searchModalButton');

    // Adiciona um ouvinte de evento de clique ao botão
    button.addEventListener('click', this.toggleBodyClass);
  }

}
</script>
