<template>
	<div>
		<LoadingOverlay v-model:is-loading="loading" />
		<main class="page404">
      <div class="picture"></div>
      <h1>
        Parece que a batida dessa página está fora do ritmo, mas não se preocupe,
        estamos trabalhando duro nos bastidores para criar uma experiência épica
        para você.
      </h1>
      <router-link to="/">VOLTAR À PAGINA INICIAL</router-link>
    </main>
	</div>
</template>

<script>
import LoadingOverlay from '@/components/LoadingOverlay.vue'



// @ is an alias to /src
//import About from '@/components/About.vue'

export default {
  name: 'NaoEncontrada',
  components: {
    //About
    LoadingOverlay
  },
  data() {
    return {
      loading: true
    };
  },
  methods: {
    removeLoadingOverlay() {
      this.loading = false;
    }
  },
  created() {
    setTimeout(this.removeLoadingOverlay, 3000);
  }
}
</script>
