<template>
  <div class="noticias">
	<LoadingOverlay v-model:is-loading="loading" />
    <ListaNoticias />
  </div>
</template>

<script>
// @ is an alias to /src
import ListaNoticias from '@/components/ListaNoticias.vue'
import LoadingOverlay from '@/components/LoadingOverlay.vue'

export default {
  name: 'NoticiasView',
  components: {
    ListaNoticias,
    LoadingOverlay
  },
  data() {
    return {
      loading: true
    };
  },
  methods: {
    removeLoadingOverlay() {
      this.loading = false;
    }
  },
  created() {
    setTimeout(this.removeLoadingOverlay, 3000);
  }
}
</script>
