<template>
	<main class="terms">
		<LoadingOverlay v-model:is-loading="loading" />
		<section class="extraContent">
			<div class="beforeMobile">
				<h1>POLÍTICAS DE COOKIES</h1>
			</div>
			<div class="containerExtra">
				<div class="firstExtraContent">
					<div class="info">
						<div class="content">
							<h2>Termos de Uso</h2>
							<p>
								Este termo regulamenta a utilizacão do portal We Go Out e suas redes
								sociais, e serve para notificar os usuários de que a plataforma possui
								apenas o escopo de divulgar festas, festivais e outros eventos do
								Brasil e do mundo bem como fornecer dicas sobre viagens e turismo. O
								site não se responsabiliza pela realização de nenhum tipo de evento,
								venda de ingressos, bem como fornecimento de hospedagens ou transportes
								cuja responsabilidades são exclusivas dos produtores, fornecedores e
								contratantes de publicidade no site.
							</p>
							<p>
								A utilização do portal implica na aceitação integral e plena do
								presente termo. Deste modo, é importante que você o leia com atenção e
								fique atento às atualizações disponibilizadas no portal.
							</p>
							<h2 class="condicoes">Condições de acesso e utilização do portal</h2>
							<p>
								Para navegar no portal, não é exigido a realização de cadastro. Você
								terá acesso ao We Go Out pelo celular, computador ou tablet. A má
								utilização, infração de leis ou de disposições deste Termo de Uso pode
								causar a suspenção ou interrupção de serviços prestados pelo site.
							</p>
							<p>
								A utilização do portal ou dos serviços não lhe permite reproduzir,
								copiar, distribuir, vender, permitir o acesso público, transformar e/ou
								modificar os conteúdos deste, a menos que possua a prévia autorização
								do titular ou que o faça com permissão legal. Não há, por meio do uso
								do portal ou dos serviços, qualquer transferência ou conferência de
								propriedade intelectual sob o conteúdo acessado.
							</p>
							<p>
								O portal We Go Out não exibe a você apenas conteúdos próprios, mas
								também de terceiros parceiros. Os conteúdos disponibilizados por
								terceiros são de responsabilidade destes. Se você for criança ou
								adolescente , ou compartilhar o computador com pessoas nestas
								condições, lembre-se de que, para navegar no portal We Go Out , precisa
								de permissão ou supervisão dos pais ou responsáveis legais durante a
								navegação.
							</p>
							<h2 class="responsabilidades">Das responsabilidades</h2>
							<p>
								O We Go Out disponibilizará o seu portal de modo a oferecer informações
								de qualidade, sendo que quaisquer interrupções na prestação destes
								serviços, em razão de ocorrências técnicas, operacionais ou
								imprevisíveis em razão de sua natureza, serão solucionadas de maneira
								mais célere e efetiva possível. Caso constate qualquer problema ou
								inconsistência na utilização do portal não deixe de nos contatar por
								e-mail: contato@wegoout.com.br.
							</p>
							<p>
								O We Go Out concede a terceiros parceiros espaço para publicação de
								anúncios, por isso, é de responsabilidade destes os conteúdos
								veiculados. O portal possui ainda dispositivos técnicos denominados
								“links de acesso”, tais como banners, botões, diretórios e ferramentas
								de busca, que permitem aos usuários ter acesso a páginas pertencentes a
								terceiros. Assim, você deve estar ciente de que, ao clicar em um desses
								“links de acesso”, será direcionado a páginas externas e que não são de
								titularidade do We Go Out, motivo pelo qual não garantimos nem
								assumimos qualquer tipo de responsabilidade pelos danos e prejuízos de
								qualquer natureza que possam decorrer do acesso a estas páginas ou aos
								conteúdos ali disponibilizados.
							</p>
							<p>
								O We Go Out poderá disponibilizar em seu portal ou produtos espaços
								interativos para comentários dos internautas. Os conteúdos publicados
								por assinantes ou visitantes nos produtos interativos é de inteira
								responsabilidade de quem os publicou, não havendo qualquer revisão ou
								fiscalização pelo We Go Out nos referidos conteúdos. Caso você
								identifique algum conteúdo ofensivo disponibilizado no portal ou nos
								serviços, comunique por meio do endereço eletrônico
								contato@wegoout.com.br
							</p>
							<h2 class="seguranca">Segurança</h2>
							<p>
								O We Go Out preza pela segurança, sigilo e inviolabilidade de todos os
								dados fornecidos por você. No entanto, você deve estar ciente que as
								medidas de segurança na internet não são infalíveis, principalmente em
								razão da rápida evolução do ambiente virtual. Deste modo, o We Go Out
								não se responsabiliza por danos e/ou prejuízos decorrentes de caso
								fortuito ou força maior.
							</p>
							<h2 class="uso-indevido">Uso Indevido</h2>
							<p>
								Se, durante a utilização do portal ou de qualquer serviço, você
								constatar a ocorrência de alguma atividade ilícita, contrária a este
								termo, a preceitos éticos ou à lei, poderá enviar uma comunicação por
								meio do endereço contato@wegoout.com.br, contendo os seguintes dados:
							</p>
							<p>
								a) Dados pessoais: nome, endereço, número de telefone e endereço
								eletrônico;<br />
								b) Especificação da suposta atividade ilícita ocorrida no portal
								e, em particular, quando se tratar de suposta violação de direitos
								autorais, indicação precisa e completa dos conteúdos protegidos e
								supostamente infringidos;<br />
								c) Fatos e/ou circunstâncias que revelam o caráter ilícito de
								tal atividade;<br />
								d) Declaração expressa e clara de que a utilização dos conteúdos
								foi realizada sem o consentimento do titular dos direitos de
								propriedade intelectual supostamente infringidos.
							</p>
							<br />
						</div>
					</div>
					<div class="menuExtra">
						<h1>POLÍTICAS DE COOKIES</h1>
						<h2>Termos de uso</h2>
						<nav>
							<router-link to="#" @click="scrollCondicoes">Condições de acesso e utilização do portal</router-link>
							<router-link to="#" @click="scrollResponsabilidades">Das responsabilidades</router-link>
							<router-link to="#" @click="scrollSeguranca">Segurança</router-link>
							<router-link to="#" @click="scrollUsoIndevido">Uso Indevido</router-link>
						</nav>
					</div>
				</div>
			</div>
			<button class="indexButton">ÍNDICE</button>
		</section>
	</main>
	<!--<PaginaConteudo slug="politica-de-cookies" />-->
</template>

<script>
//import PaginaConteudo from '@/components/PaginaConteudo.vue';
import LoadingOverlay from '@/components/LoadingOverlay.vue'

export default {
  components: {
    LoadingOverlay
  },
  data() {
    return {
      loading: true
    };
  },
  created() {
    setTimeout(this.removeLoadingOverlay, 3000);
  },
  methods:{
	removeLoadingOverlay() {
      this.loading = false;
    },
	scrollCondicoes() {
      const contentElement = document.querySelector('.condicoes');
      if (contentElement) {
        const offset = 80;
        const rect = contentElement.getBoundingClientRect();
        const currentScrollY = window.scrollY;
        const targetScrollY = rect.top + currentScrollY - offset;

        window.scrollTo({
          top: targetScrollY,
          behavior: 'smooth',
        });
      }
    },
    scrollResponsabilidades() {
      const contentElement = document.querySelector('.responsabilidades');
      if (contentElement) {
        const offset = 80;
        const rect = contentElement.getBoundingClientRect();
        const currentScrollY = window.scrollY;
        const targetScrollY = rect.top + currentScrollY - offset;

        window.scrollTo({
          top: targetScrollY,
          behavior: 'smooth',
        });
      }
    },
    scrollSeguranca() {
      const contentElement = document.querySelector('.seguranca');
      if (contentElement) {
        const offset = 80;
        const rect = contentElement.getBoundingClientRect();
        const currentScrollY = window.scrollY;
        const targetScrollY = rect.top + currentScrollY - offset;

        window.scrollTo({
          top: targetScrollY,
          behavior: 'smooth',
        });
      }
    },
    scrollUsoIndevido() {
      const contentElement = document.querySelector('.uso-indevido');
      if (contentElement) {
        const offset = 80;
        const rect = contentElement.getBoundingClientRect();
        const currentScrollY = window.scrollY;
        const targetScrollY = rect.top + currentScrollY - offset;

        window.scrollTo({
          top: targetScrollY,
          behavior: 'smooth',
        });
      }
    }
  }
};
</script>
