<template>
	<main class="together">
		<LoadingOverlay v-model:is-loading="loading" />
		<ListaTogethers />
	</main>
</template>

<script>
// @ is an alias to /src
import ListaTogethers from '@/components/ListaTogethers.vue'
import LoadingOverlay from '@/components/LoadingOverlay.vue'

export default {
  name: 'TogethersView',
  components: {
    ListaTogethers,
    LoadingOverlay
  },
  data() {
    return {
      loading: true
    };
  },
  methods: {
    removeLoadingOverlay() {
      this.loading = false;
    }
  },
  created() {
    setTimeout(this.removeLoadingOverlay, 3000);
  }
}
</script>
