<template>
	<footer>
        <div class="container">
            <!--
            <section class="sugestions">
                <div class="card">
                    <img class="sendEventImg" :src="require('@/assets/images/footer1.jpg')">
                    <div class="content">
                        <h2 class="font1 fontSize6 fontColor3">Envie seu evento</h2>
                        <p class="font2 fontSize3 fontColor3"> Preencha o formulário e mostre seu evento para milhares de pessoas</p>
                        <router-link to="/enviar-eventos" class="font1 fontSize3 fontColor3">ENVIAR EVENTO</router-link>
                    </div>
                </div>
                <div class="card footerSearch">
                    <img :src="require('@/assets/images/footer2.jpg')">
                    <div class="content">
                        <h2 class="font1 fontSize6 fontColor3 findEvent">ENCONTRE SEU EVENTO FAVORITO</h2>
                        <p class="font2 fontSize3 fontColor3">Encontre seu evento favorito: utilize a nossa pesquisa avançada para encontrar o evento que mais combina com você, buscando por data, localização, gênero, artista, ou aproveitando as nossas seleções especiais.</p>
                        <router-link to="/eventos" class="font1 fontSize3 fontColor3">BUSCAR EVENTO</router-link>
                    </div>
                </div>
                <div class="footerWave1"></div>
            </section>
            -->
            <section class="utils">
                <nav class="navigation">
                    <router-link to="/" class="font1 fontSize4 fontColor2 highlightLink">
                        INÍCIO
                    </router-link>
                    <router-link to="/eventos" class="font1 fontSize4 fontColor2">
                        EVENTOS
                    </router-link>
                    <!--<router-link to="/enviar-eventos" class="font1 fontSize4 fontColor2">
                        ENVIE UM EVENTO
                    </router-link>-->
                    <router-link to="/noticias" class="font1 fontSize4 fontColor2">
                        NOTÍCIAS
                    </router-link>
                    <router-link to="/together" class="font1 fontSize4 fontColor2">
                        TOGETHER
                    </router-link>
                    <router-link to="/artistas" class="font1 fontSize4 fontColor2">
                        ARTISTAS
                    </router-link>
                    <router-link to="/lancamentos" class="font1 fontSize4 fontColor2">
                        LANÇAMENTOS
                    </router-link>
                    <!--<router-link to="/criar-lancamentos" class="font1 fontSize4 fontColor2">
                        ENVIE UM LANÇAMENTO
                    </router-link>-->
                    <router-link to="/sobre" class="font1 fontSize4 fontColor2">
                        SOBRE
                    </router-link>
                </nav>
                <div class="highlightEvents">
                    <h2 class="font1 fontSize5 fontColor3">EVENTOS EM DESTAQUE</h2>
                    <ListaEventosRodape :limit="5" />
                    <router-link to="/eventos" class="font1 fontSize3 fontColor4 seeAll">VER TUDO</router-link>
                </div>
                <div class="follow">
                    <h2 class="font1 fontSize5 fontColor3">SIGA O WE GO OUT</h2>
                    <ul>
                        <li>
                            <a class="icone insta" target="_blank" href="https://www.instagram.com/wegoout/">
                                <p class="font2 fontSize4 fontColor3">@wegoout</p>
                            </a>
                        </li>
                        <li>
                            <a class="icone facebook" target="_blank" href="https://www.facebook.com/wegoout.br/?locale=pt_BR">
                                <p class="font2 fontSize4 fontColor3">/wegoout.br</p>
                            </a>
                        </li>
                        <li>
                            <a class="icone youtube" target="_blank" href="https://www.youtube.com/@WeGoOut">
                                <p class="font2 fontSize4 fontColor3">/wegoout</p>
                            </a>
                        </li>
                        <li>
                            <a class="icone spotify" target="_blank" href="https://open.spotify.com/user/12149669374?si=1ec736824a7749b5">
                                <p class="font2 fontSize4 fontColor3">/wegoout</p>
                            </a>
                        </li>
                    </ul>
                </div>
                <!--
                <form class="newsletter">
                    <h2 class="font1 fontSize5 fontColor3">NEWSLETTER</h2>
                    <p class="font2 fontSize3 fontColor2">Quer receber descontos e mais informações sobre festas e festivais?</p>                  
                    <input class="font2 fontSize3 fontColor2" type="text" name="name" placeholder="Nome e sobrenome"/>
                    <input class="font2 fontSize3 fontColor2" type="text" name="email" placeholder="Email"/>
                    <input class="font2 fontSize3 fontColor2" type="text" name="whatsapp" placeholder="Whatsapp"/>
                    <button class="font1 fontSize3 fontColor3" type="submit">CADASTRAR</button>
                </form>
                -->
            </section>
            <section class="rights">  
                <div class="logo">
                    <router-link to="/eventos">   
                        <img class="logo" :src="require('@/assets/images/logo-dark.svg')" alt="logo We Go Out">
                    </router-link>
                    <div class="text">
                        <p class="font2 fontSize2 fontColor2">©2023 We Go Out, todos os direitos reservados</p>
                        <p class="font2 fontSize2 fontColor2">A WE GO OUT PROMOCAO DE EVENTOS E MUSICA LTDA, inscrita sob o CNPJ 45.221.697/0001-69, é uma instituição devidamente habilitada e autorizada. Toda comunicação através da rede mundial de computadores está sujeita a interrupções ou atrasos, podendo impedir ou prejudicar o envio ou a recepção de informações atualizadas.</p>
                        <a class="font2 fontSize2" href="mailto:contato@wegoout.com">contato@wegoout.com</a>
                    </div>
                </div>
                <!--
                <div class="politics">
                    <router-link to="/politica-de-privacidade" class="font1 fontSize2 fontColor2">POLÍTICA DE PRIVACIDADE</router-link>
                    <router-link to="/politica-de-cookies" class="font1 fontSize2 fontColor2">POLÍTICA DE COOKIES</router-link>
                </div>
                -->
                <div class="footerWave2"></div>
                <div class="footerWave3"></div>
            </section>
        </div>
    </footer>
</template>

<script>
import router from '@/router'
import ListaEventosRodape from '@/components/ListaEventosRodape.vue'

export default {
    name: 'App',
    router,
    components: {
        ListaEventosRodape
    }
}
</script>