<template>
	<div>
		<header class="menu scroll static">
			<nav>
				<router-link to="/" class="mainLogo">
					<img class="logo" :src="require('@/assets/images/logo.svg')" alt="We Go Out">
				</router-link>
				<div class="links">
					<router-link class="font1 fontColor3 fontSize4" to="/eventos">
						EVENTOS
					</router-link>
					<router-link to="/noticias" class="font1 fontColor3 fontSize4">
						NOTÍCIAS
					</router-link>
					<router-link to="/together" class="font1 fontColor3 fontSize4">
						TOGETHER
					</router-link>
					<router-link to="/artistas" class="font1 fontColor3 fontSize4">
						ARTISTAS
					</router-link>
					<router-link to="/lancamentos" class="font1 fontColor3 fontSize4">
						LANÇAMENTOS
					</router-link>
					<router-link class="font1 fontColor3 fontSize4" to="/sobre">
						SOBRE
					</router-link>
				</div>
				<div class="containerLupa">
					<div class="containerHide">
						<CampoBusca />	
					</div>
				</div>
			</nav> 
		</header>	 
		<header class="menu scroll floated">
			<nav class="navStatic">
				<div class="modal">
					<span></span>
					<span></span>
					<span></span>
				</div>
				<router-link to="/" class="mainLogo">	 
					<img class="logo" :src="require('@/assets/images/logo.svg')" alt="logo We Go Out">
				</router-link>
				<div class="lupaFloated">
					<img :src="require('@/assets/images/lupa.svg')" alt="lupa">
				</div>
			</nav>
			<div class="modalMenu">
				<ul>
					<li>
						<router-link class="font1 fontSize4 fontColor3" to="/">
						INÍCIO
						</router-link>
					</li>
					<li>
						<router-link class="font1 fontColor3 fontSize4" to="/eventos">
						EVENTOS
						</router-link>
					</li>
					<li>
						<router-link to="/noticias" class="font1 fontSize4 fontColor3">
						NOTÍCIAS
						</router-link>
					</li>
					<li>
						<router-link to="/together" class="font1 fontSize4 fontColor3">
						TOGETHER
						</router-link>
					</li>
					<li>
						<router-link to="/artistas" class="font1 fontSize4 fontColor3">
						ARTISTAS
						</router-link>
					</li>
					<li>
						<router-link to="/lancamentos" class="font1 fontSize4 fontColor3">
						LANÇAMENTOS
						</router-link>
					</li>
					<li>
						<router-link class="font1 fontSize4 fontColor3" to="/sobre">
						SOBRE
						</router-link>
					</li>
				</ul> 
				<!--<div class="buttons">
					<router-link to="/criar-lancamentos" class="font1 fontSize3 fontColor3 buttonBlackLarge">ENVIE UM LANÇAMENTO</router-link>
					<router-link to="/enviar-eventos" class="font1 fontSize3 buttonPinkLarge">ENVIE UM EVENTO</router-link>
				</div> -->
					<h2 class="font1 fontSize4 fontColor3">SIGA O WE GO OUT</h2>
					<div class="icons">
					<a class="littleIcon" target="_blank" href="https://www.instagram.com/wegoout/">
						<img :src="require('@/assets/images/icone-instagram.svg')" alt="Minha Imagem" />
					</a>
					<a class="littleIcon" target="_blank" href="https://www.facebook.com/wegoout.br/?locale=pt_BR" >
						<img class="littleIcon" :src="require('@/assets/images/icone-facebook.svg')">
					</a>
					<a class="littleIcon" target="_blank" href="https://www.youtube.com/@WeGoOut">
						<img class="littleIcon" :src="require('@/assets/images/icone-youtube.svg')">
					</a>
					<a class="littleIcon" target="_blank" href="https://open.spotify.com/user/12149669374?si=1ec736824a7749b5">
						<img class="littleIcon" :src="require('@/assets/images/icone-spotify.svg')">
					</a>
				</div>
			</div>
		</header>
	</div>
</template>

<script>
import CampoBusca from '@/components/CampoBusca.vue'

export default {
  components: {
    CampoBusca,
  },
  data() {
    return {
      scrollPosition: 0,
      isModalLupaActive: false,
    };
  },
  mounted() {
    window.addEventListener("scroll", this.handleScroll);
    document.querySelector(".modal").addEventListener("click", this.handleModalClick);

    const menuLinks = document.querySelectorAll(".modalMenu li a");
    menuLinks.forEach((link) => {
      link.addEventListener("click", this.handleMenuLinkClick);
    });

    const lupaContainerItems = document.querySelectorAll(".lupaContainerItem");
    lupaContainerItems.forEach((item) => {
      item.addEventListener("click", this.handleContainerLupaClick);
    });

    const closeLupaElements = document.querySelectorAll(".closeLupa");
    closeLupaElements.forEach((element) => {
      element.addEventListener("click", this.handleCloseLupaClick);
    });

    const lupaFloatedElements = document.querySelectorAll(".lupaFloated");
    lupaFloatedElements.forEach((element) => {
      element.addEventListener("click", this.handleLupaFloatedClick);
    });
  },
  beforeUnmount() {
    window.removeEventListener("scroll", this.handleScroll);
    document.querySelector(".modal").removeEventListener("click", this.handleModalClick);

    const menuLinks = document.querySelectorAll(".modalMenu li a");
    menuLinks.forEach((link) => {
      link.removeEventListener("click", this.handleMenuLinkClick);
    });

    const lupaContainerItems = document.querySelectorAll(".lupaContainerItem");
    lupaContainerItems.forEach((item) => {
      item.removeEventListener("click", this.handleContainerLupaClick);
    });

    const closeLupaElements = document.querySelectorAll(".closeLupa");
    closeLupaElements.forEach((element) => {
      element.removeEventListener("click", this.handleCloseLupaClick);
    });

    const lupaFloatedElements = document.querySelectorAll(".lupaFloated");
    lupaFloatedElements.forEach((element) => {
      element.removeEventListener("click", this.handleLupaFloatedClick);
    });
  },
  methods: {
    handleScroll() {
      this.scrollPosition = window.scrollY;
      this.updateMenuClasses();
    },

    handleModalClick() {
      this.toggleMenuDropClass();
    },

    handleMenuLinkClick() {
      this.removeMenuDropClass();
    },

    handleContainerLupaClick() {
      this.toggleModalLupaActive();
      // Coloque o foco no input com a classe "inputLupa" quando "lupaContainerItem" for clicado
      const inputLupa = document.querySelector(".inputLupa");
      if (inputLupa) {
        inputLupa.focus();
      }
    },

    handleCloseLupaClick() {
      this.removeModalLupaActive();
    },

    handleLupaFloatedClick() {
      const bodyElement = document.querySelector("body");
      const hasModalLupaActiveClass = bodyElement.classList.contains("modalLupaActive");

      if (!hasModalLupaActiveClass) {
        bodyElement.classList.add("modalLupaActive");
      }

      // Role o usuário até o topo da página
      window.scrollTo({ top: 0, behavior: "smooth" });

      // Coloque o foco no input com a classe "inputLupa" quando "lupaFloated" for clicado
      const inputLupa = document.querySelector(".inputLupa");
      if (inputLupa) {
        inputLupa.focus();
      }
    },

    updateMenuClasses() {
      const bodyElement = document.querySelector("body");
      if (this.scrollPosition > 200) {
        bodyElement.classList.add("menuActive");
      } else {
        bodyElement.classList.remove("menuActive");
      }
    },

    toggleMenuDropClass() {
      const bodyElement = document.querySelector("body");
      const hasMenuDropClass = bodyElement.classList.contains("menuDrop");
      if (hasMenuDropClass) {
        bodyElement.classList.remove("menuDrop");
      } else {
        bodyElement.classList.add("menuDrop");
      }
    },

    removeMenuDropClass() {
      const bodyElement = document.querySelector("body");
      bodyElement.classList.remove("menuDrop");
    },

    toggleModalLupaActive() {
      const bodyElement = document.querySelector("body");
      const hasModalLupaActiveClass = bodyElement.classList.contains("modalLupaActive");
      if (hasModalLupaActiveClass) {
        bodyElement.classList.remove("modalLupaActive");
      } else {
        bodyElement.classList.add("modalLupaActive");
      }
    },

    removeModalLupaActive() {
      const bodyElement = document.querySelector("body");
      bodyElement.classList.remove("modalLupaActive");
    },
  },
};
</script>

