<template>
  <div>
    <div class="body-filter">
      <div class="containerExtra">
        <div class="searchEvents searchTool">
          <h2 class="font1 title fontColor3 fontSize6">PESQUISE EVENTOS</h2>
          <div class="form">
            <div class="name field">
              <label class="font2 fontSize4 fontColor3" for="name">Nome</label>
              <input type="text" id="eventName" v-model="eventName" placeholder="Digite o nome do evento"  class="font2 fontSize2 fontColor2" />
            </div>
            <div class="field"> 
              <label class="font2 fontSize4 fontColor3" for="date">Data</label>
              <input type="date" id="eventDate" v-model="eventDate" placeholder="dd/mm/aaaa" class="font2 fontSize2 fontColor2" />
            </div>
            <div class="field">
              <label class="font2 fontSize4 fontColor3" for="eventType">Tipo de Evento</label>
              <select id="eventTypes" v-model="selectEventTypes" class="selectType fontColor2 pure-style" multiple>
                <option value="">Todos os tipos</option>
                <option v-for="eventType in eventTypes" :key="eventType.id" :value="eventType.id">{{ eventType.name }}</option>
              </select>
              <button class="clearButton typeButton"></button>
            </div>
            <div class="field">
              <label class="font2 fontSize4 fontColor3" for="show">Atração</label>
              <select id="artistas" v-model="selectArtistas" class="selectShow arrowOff fontColor2 pure-style" multiple>
                <option value="">Todos os artistas</option>
                <option v-for="artista in artistas" :key="artista.id" :value="artista.id">{{ artista.name }}</option>
              </select>
              <button class="clearButton showButton"></button>
            </div>
            <button @click="buscarEventos" class="go">Go</button>
            <button @click="limparFiltros" class="go">Limpar</button>
          </div>
          <div class="filter">
            <h4>
              Mostrando {{ eventos.length }} {{ eventos.length === 1 ? 'resultado' : 'resultados' }}
            </h4>
            <div class="viewMode">
              <h3>Modo de visualização</h3>
              <div>
                <div class="change"><p class="list">Lista</p></div>
                <div class="change"><p class="map">Mapa</p></div>
              </div>
            </div>
          </div>
        </div>
        <button class="buttonPinkLarge searchModalButton font1 fontSize2">PESQUISAR EVENTOS
          <img :src="require('@/assets/images/seta-vertical-cima.svg?17072023')" alt="seta">
        </button>
      </div>
    </div>
    <div class="containerExtra results">
      <div class="nextEvents">
        <div class="title">
          <h2 class="font1 fontColor1">PRÓXIMOS EVENTOS</h2>
        </div>
        <div class="listItems">
          <div v-if="loading">Buscando...</div>
          <div v-if="!eventos.length && !loading">
            Nenhum resultado encontrado...
          </div>
          <div  class="item" v-for="evento in eventos" :key="evento.id">
            <router-link :to="`/eventos/${evento.slug}`">
              <figure class="square-image-container ">
                <img :src="evento.image" alt="DON L & BANDA">
                <span class="font2 fontSize2 fontColor3 tag"
                  :class="{'backgroundPink': evento.event_type.name === 'Festa',
                             'backgroundPurple': evento.event_type.name === 'Festival',
                             'backgroundYellow': evento.event_type.name === 'Show'}">
                  {{ evento.event_type.name }}
                </span>
              </figure>
              <div class="text">
                <h2 class="font1 fontColor3 fontSize7">{{ evento.name }}</h2>
                <p class="icon star">{{ formatSimpleList(evento.artists, 3) }}</p>
                <div class="iconWrapper">
                  <p class="icon house" v-if="evento.location && evento.location.name">{{ evento.location.name }}</p>
                  <p class="icon location" v-if="evento.location && evento.location.name">{{ evento.location.city.name }} - {{ evento.location.city.state.abbr }}</p>
                </div>
                <div class="calendar">
                  <p class="icon calendar">
                    <template v-if="evento.end_date">
                      {{ formatDate2(evento.start_date) }} a {{ formatDate(evento.end_date) }}
                    </template>
                    <template v-else>
                      {{ formatDate(evento.start_date) }}
                    </template>
                  </p>
                </div>
              </div>
              <div v-if="evento.has_discount !== '0' && evento.has_discount !== null" class="tagPromoDiv">
                <span class="font1 fontSize2 fontColor3 tagPromo">DESCONTO WE GO OUT</span>
                <span class="fontColor3 tagPromoTip"></span>
              </div>
            </router-link>
          </div>
        </div>
        <button class="font1 fontSize3 moreItems" v-if="showLoadMoreButton" @click="loadMoreEventos">CARREGAR MAIS</button>
      </div>
    </div>
  </div>
</template>

<script>
import axios from 'axios';

export default {
  name: 'EventosView',
  data() {
    return {
      eventos: [],
      eventTypes: [],
      artistas: [],
      selectEventTypes: [],
      selectArtistas: [],
      eventName: "",
      eventDate: "",
      loading: true,
      currentPage: 1,
      totalPages: 1,
    }
  },
  mounted() {
    this.buscarEventos();
    this.buscarEventTypes();
    this.buscarArtistas();
  },
  methods: {
    buscarEventos() {
      this.loading = true;
      let apiUrl = 'https://api.wegoout.com.br/api/events?';

      if (this.selectEventTypes.length > 0) {
        apiUrl += 'event_type_id=' + this.selectEventTypes.join('&event_type_id=');
      }
      if (this.selectArtistas.length > 0) {
        apiUrl += 'artist_id=' + this.selectArtistas.join('&artist_id=');
      }
      if (this.eventName) {
        apiUrl += '&name=' + this.eventName;
      }
      if (this.eventDate) {
        apiUrl += '&date=' + this.eventDate;
      }
      
      // Adiciona a página atual à URL
      apiUrl += '&page=' + this.currentPage;

      axios.get(apiUrl) 
        .then(response => {
          if (this.currentPage === 1) {
            this.eventos = response.data.data;
          } else {
            this.eventos = [...this.eventos, ...response.data.data];
          }

          this.currentPage = response.data.current_page;
          this.totalPages = response.data.last_page;
          this.loading = false;
        })
        .catch(error => {
          console.log(error);
          this.loading = false;
        });

        //rola para resultados
        const contentElement = document.querySelector('.results');
          if (contentElement) {
          const offset = 100;
          const rect = contentElement.getBoundingClientRect();
          const currentScrollY = window.scrollY;
          const targetScrollY = rect.top + currentScrollY - offset;

          window.scrollTo({
            top: targetScrollY,
            behavior: 'smooth',
          });
        }
    },
    limparFiltros(){
      this.selectEventTypes = []
      this.selectArtistas = []
      this.eventName = ""
      this.eventDate = "" // Clear the date filter
      this.buscarEventos()
    },  
    buscarEventTypes(){
      axios.get('https://api.wegoout.com.br/api/eventTypes')
      .then(response => {
        this.eventTypes = response.data;
      })
      .catch(error => {
        console.log(error);
      });
    },
    buscarArtistas() {
      const baseUrl = 'https://api.wegoout.com.br/api/artists';
      this.artistas = []; // Limpa o array antes de começar a busca

      const fetchAllPages = async () => {
        let page = 1;
        while (page > 0) {
          try {
            const response = await axios.get(`${baseUrl}?page=${page}`);
            const artists = response.data.data;
            if (artists.length === 0) {
              break; // Sai do loop quando não houver mais artistas
            }
            this.artistas.push(...artists);
            page++;
          } catch (error) {
            console.log(error);
            page = -1; // Sai do loop em caso de erro
          }
        }
      };

      fetchAllPages(); // Inicia a busca por todas as páginas
    },

    loadMoreEventos() {
      this.currentPage++;
      this.buscarEventos();
    },
    formatDate(dateString) {
      const months = [
        'janeiro', 'fevereiro', 'março', 'abril', 'maio', 'junho',
        'julho', 'agosto', 'setembro', 'outubro', 'novembro', 'dezembro'
      ];

      const date = new Date(dateString);
      const day = date.getDate();
      const month = months[date.getMonth()];

      return `${day} de ${month}`;
    },
    formatDate2(dateString) {
      const date = new Date(dateString);
      const day = date.getDate();
      return `${day}`;
    },
    formatSimpleList(list) {
      const formattedList = list.map((item) => item.name);
      if (formattedList.length === 1) {
        return formattedList[0];
      } else if (formattedList.length === 2) {
        return formattedList.join(' e ');
      } else if (formattedList.length === 3) {
        return `${formattedList[0]}, ${formattedList[1]} e ${formattedList[2]}`;
      } else {
        const firstItems = formattedList.slice(0, 3).join(', ');
        const extraCount = formattedList.length - 3;
        return `${firstItems} e + ${extraCount}`;
      }
    },
  },
  computed: {
    showLoadMoreButton() {
      return this.currentPage < this.totalPages;
    },
  }
}
</script>