<div>
        <label for="eventTypeId">Event Type IDs:</label>
        <select id="eventTypeId" v-model="eventTypeId" multiple>
          <option value="" selected>selecionar</option>
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
        </select>
      </div>
      <div>
        <label for="name">Name:</label>
        <input type="text" id="name" v-model="name" placeholder="Digite o nome do evento" />
      </div>
      <div>
        <label for="date">Data:</label>
        <input type="date" id="date" v-model="date" placeholder="Digite a data no formato DD-MM-DD" />
      </div>
      <div>
        <label for="genreId">Genre IDs:</label>
        <input type="text" id="genreId" v-model="genreId" placeholder="Digite os Genre IDs separados por vírgula" />
      </div>
      <div>
        <label for="artistId">Artist IDs:</label>
        <input type="text" id="artistId" v-model="artistId" placeholder="Digite os Artist IDs separados por vírgula" />
      </div>
      <div>
        <label for="isMain">Is Main:</label>
        <input type="text" id="isMain" v-model="isMain" placeholder="Digite 1 para true ou 0 para false" />
      </div>
      <div>
        <label for="locationId">Location IDs:</label>
        <input type="text" id="locationId" v-model="locationId" placeholder="Digite os Location IDs separados por vírgula" />
      </div>
      <div>
        <label for="cityId">City IDs:</label>
        <input type="text" id="cityId" v-model="cityId" placeholder="Digite os City IDs separados por vírgula" />
      </div>
      <div>
        <label for="stateId">State IDs:</label>
        <input type="text" id="stateId" v-model="stateId" placeholder="Digite os State IDs separados por vírgula" />
      </div>
      <div>
        <label for="countryId">Country IDs:</label>
        <input type="text" id="countryId" v-model="countryId" placeholder="Digite os Country IDs separados por vírgula" />
      </div>