<template>
  <div>
    <div class="listItems" v-if="eventos.length > 0">
      <div  class="item" v-for="evento in eventos" :key="evento.id">
        <router-link :to="`/eventos/${evento.slug}`">
          <figure class="square-image-container ">
            <img :src="evento.images?.large ? evento.images.large : evento.image" :alt="evento.name">
            <span v-if="evento.event_type && evento.event_type.name" class="font2 fontSize2 fontColor3 tag"
              :class="{
              'backgroundBlue': evento.event_type.name === 'Música',
              'backgroundLightGreen': evento.event_type.name === 'Entrevista',
              'backgroundWaterBlue': evento.event_type.name === 'Fica a Dica',
              'backgroundOrange': evento.event_type.name === 'Cena',
              'backgroundPink': evento.event_type.name === 'Festa',
              'backgroundSalmon': evento.event_type.name === 'Guia',
              'backgroundPurple': evento.event_type.name === 'Festival',
              'backgroundGreen': evento.event_type.name === 'Lista',
              'backgroundYellow': evento.event_type.name === 'Show',
              'backgroundFuchsia': evento.event_type.name === 'Carnaval',
              'backgroundLime': evento.event_type.name === 'Réveillon',
              'backgroundPurple2': evento.event_type.name === 'Quanto custa',
              'backgroundGray2': evento.event_type.name === 'Review'
              }">
              {{ evento.event_type.name }}
            </span>
          </figure>
          <div class="text">
            <h2 class="font1 fontColor3 fontSize7">{{ evento.name }}</h2>
            <p v-if="evento.artists.length > 0" class="icon star">{{ formatSimpleList(evento.artists, 3) }}</p>
            <div class="iconWrapper">
              <p class="icon house" v-if="evento.location && evento.location.name">{{ evento.location.name }}</p>
              <p class="icon location" v-if="evento.location && evento.location.city">
                {{ evento.location.city.name }} - {{ evento.location.city.state.abbr }}
              </p>
            </div>
            <div class="calendar" v-if="evento.start_date">
              <p class="icon calendar">
                <template v-if="evento.end_date">
                  <template v-if="formatDate(evento.start_date) == formatDate(evento.end_date)">
                    {{ formatDate(evento.start_date) }}
                  </template>
                  <template v-else>
                    <template v-if="formatDate4(evento.start_date) == formatDate4(evento.end_date)">
                      {{ formatDate2(evento.start_date) }} a {{ formatDate(evento.end_date) }}
                    </template>
                    <template v-else>
                      {{ formatDate(evento.start_date) }} a {{ formatDate(evento.end_date) }}
                    </template>
                  </template>
                </template>
                <template v-else>
                  {{ formatDate(evento.start_date) }}
                </template>
              </p>
            </div>
          </div>
          <div v-if="evento.has_discount !== '0' && evento.has_discount !== null" class="tagPromoDiv">
            <span class="font1 fontSize2 fontColor3 tagPromo">DESCONTO WE GO OUT</span>
            <span class="fontColor3 tagPromoTip"></span>
          </div>
        </router-link>
      </div>
    </div>
    <main v-else class="search notFound">
      <section class="extraContent" v-if="eventoBuscado == true">
        <div class="containerExtra">
          <div class="notFoundImg"></div>
          <h1 class="font1 fontColor1">NENHUM RESULTADO ENCONTRADO</h1>
          <h4 class="font2 fontColor1">Confira se o termo está escrito corretamente ou tente palavras-chaves diferentes.</h4>
        </div>
      </section>
      <section class="extraContent" v-else>
        <div class="containerExtra">
          <div class="boxContainer floated">
            <div class="box box1"></div>
            <div class="box box2"></div>
            <div class="box box3"></div>
            <div class="box box4"></div>
            <div class="box box5"></div>
          </div>
          <p class="searching-items">Buscando resultados</p>
        </div>
      </section>
    </main>
    <button v-if="currentPage < lastPage" @click="loadMore">Carregar Mais</button>
  </div>
</template>

<script>
import axios from 'axios';

export default {
  name: 'EventList',
  data() {
    return {
      eventos: [],
      currentPage: 1,
      lastPage: 1,
    }
  },
  watch: {
    $route(to, from) {
      // Detecta mudanças na URL
      if (to.fullPath !== from.fullPath) {
        // Se a URL mudou, reinicialize a lista de eventos e carregue novamente com base nos parâmetros da URL
        this.eventos = [];
        this.currentPage = 1;
        this.loadEvents();
      }
    },
  },
  mounted() {
    // Carrega eventos da primeira página ao montar o componente
    this.loadEvents();
  },
  methods: {
    async loadEvents() {
      this.eventoBuscado = false; 
      const baseUrl = 'https://api.wegoout.com.br/api/events?future=true';

      const queryParams = this.$route.query;

      let apiUrl = `${baseUrl}&page=${this.currentPage}`;
      for (const key in queryParams) {
        if (Object.prototype.hasOwnProperty.call(queryParams, key)) {
          apiUrl += `&${key}=${queryParams[key]}`;
        }
      }

      try {
        const response = await axios.get(apiUrl);
        const eventData = response.data;
        this.lastPage = eventData.last_page;
        this.eventos = this.eventos.concat(eventData.data);
        this.eventoBuscado = true;
      } catch (error) {
        if (error.response && error.response.status === 429) {
          await new Promise((resolve) => setTimeout(resolve, 1000));
          await this.loadEvents();
        } else {
          console.error(error);
          this.eventoBuscado = true;
        }
      }
    },
    loadMore() {
      if (this.currentPage < this.lastPage) {
        this.currentPage++;
        this.loadEvents();
      }
    },
    formatDate(dateString) {
      const months = [
        'janeiro', 'fevereiro', 'março', 'abril', 'maio', 'junho',
        'julho', 'agosto', 'setembro', 'outubro', 'novembro', 'dezembro'
      ];

      const date = new Date(dateString);
      const day = date.getDate();
      const month = months[date.getMonth()];

      return `${day} de ${month}`;
    },
    formatDate2(dateString) {
      const date = new Date(dateString);
      const day = date.getDate();
      return `${day}`;
    },
    formatDate4(dateString) {
      const date = new Date(dateString);
      const month = date.getMonth() + 1;
      return `${month}`;
    },
    formatSimpleList(list) {
      const formattedList = list.map((item) => item.name);
      if (formattedList.length === 1) {
        return formattedList[0];
      } else if (formattedList.length === 2) {
        return formattedList.join(' e ');
      } else if (formattedList.length === 3) {
        return `${formattedList[0]}, ${formattedList[1]} e ${formattedList[2]}`;
      } else {
        const firstItems = formattedList.slice(0, 3).join(', ');
        const extraCount = formattedList.length - 3;
        return `${firstItems} e + ${extraCount}`;
      }
    },
  },
}
</script>