<template>
  <div class="searchEvents searchTool">
    <div class="title">
      <h2 class="font1 fontColor3 fontSize6">
        Pesquisar eventos
      </h2>
    </div>
    <div class="form">
      <div class="name field">
        <label class="font2 fontSize4 fontColor3" for="name">Nome</label>
        <input type="text" id="eventName" v-model="eventName" placeholder="Digite o nome do evento"  class="font2 fontSize2 fontColor2" />
      </div>
      <div class="field"> 
        <label class="font2 fontSize4 fontColor3" for="date">Data</label>
        <input type="date" id="eventDate" v-model="eventDate" placeholder="dd/mm/aaaa" class="font2 fontSize2 fontColor2" />
      </div>
      <div class="field">
        <label class="font2 fontSize4 fontColor3" for="show">Local</label>
        <DropdownLocais :vmodel="selectLocais" @update:vmodel="selectLocais = $event" />
        <input type="hidden" v-model="selectLocais" class="teste" />
      </div>
      <div class="field hidden">
        <label class="font2 fontSize4 fontColor3" for="show">Cidade</label>
        <select id="cidades" v-model="selectCidades" class="selectShow arrowOff fontColor2 pure-style" multiple>
          <option value="">Todas as cidades</option>
          <option v-for="cidade in cidades" :key="cidade.id" :value="cidade.id">{{ cidade.name }}</option>
        </select>
      </div>
      <div class="field hidden">
        <label class="font2 fontSize4 fontColor3" for="eventType">Tipo de Evento</label>
        <select id="eventTypes" v-model="selectEventTypes" class="selectType fontColor2 pure-style" multiple>
          <option value="">Todos os tipos</option>
          <option v-for="eventType in eventTypes" :key="eventType.id" :value="eventType.id">{{ eventType.name }}</option>
        </select>
      </div>
      <div class="field hidden">
        <label class="font2 fontSize4 fontColor3" for="show">Atração</label>
        <select id="artistas" v-model="selectArtistas" class="selectShow arrowOff fontColor2 pure-style" multiple>
          <option value="">Todos os artistas</option>
          <option v-for="artista in artistas" :key="artista.id" :value="artista.id">{{ artista.name }}</option>
        </select>
      </div>
      <button @click="consultarEventos" class="go">Go</button>
    </div>
    <button @click="limparEventos" class="clear">Limpar Pesquisa</button>
  </div>
</template>  

<script>
import axios from 'axios';
import DropdownLocais from '@/components/testes/DropdownLocais.vue'

export default {
  name: 'EventosView',
  components: {
    DropdownLocais,
  },
  data() {
    return {
      eventTypes: [],
      artistas: [],
      selectEventTypes: [],
      selectArtistas: [],
      selectLocais: [],
      selectCidades: [],
      eventName: "",
      eventDate: "",
    }
  },
  mounted() {
    this.buscarEventTypes();
    this.buscarArtistas();
    this.buscarLocais();
    this.buscarCidades();
  },
  methods: {
    buscarEventTypes(){
      axios.get('https://api.wegoout.com.br/api/eventTypes')
      .then(response => {
        this.eventTypes = response.data;
      })
      .catch(error => {
        console.log(error);
      });
    },
    buscarArtistas() {
      const baseUrl = 'https://api.wegoout.com.br/api/artists';
      this.artistas = [];

      const fetchAllPages = async () => {
        let page = 1;
        while (page > 0) {
          try {
            const response = await axios.get(`${baseUrl}?page=${page}`);
            const artists = response.data.data;
            if (artists.length === 0) {
              break;
            }
            this.artistas.push(...artists);
            page++;
          } catch (error) {
            console.log(error);
            page = -1;
          }
        }
      };
      fetchAllPages();
    },
    buscarLocais() {
      const baseUrl = 'https://api.wegoout.com.br/api/locations';
      this.locais = [];

      const fetchAllPages = async () => {
        let page = 1;
        while (page > 0) {
          try {
            const response = await axios.get(`${baseUrl}?page=${page}`);
            const locais = response.data.data;
            if (locais.length === 0) {
              break;
            }
            this.locais.push(...locais);
            page++;
          } catch (error) {
            console.log(error);
            page = -1;
          }
        }
      };
      fetchAllPages();
    },
    buscarCidades() {
      const baseUrl = 'https://api.wegoout.com.br/api/cities';

      try {
        axios.get(baseUrl)
          .then((response) => {
            this.cidades = response.data;
          })
          .catch((error) => {
            console.error(error);
          });
      } catch (error) {
        console.error(error);
      }
    },
    consultarEventos() {
      // Construa a URL com base nos campos preenchidos
      let parametros = [];

      if (this.selectEventTypes.length > 0) {
        parametros.push(`event_type_id=${this.selectEventTypes.join(',')}`);
      }

      if (this.selectArtistas.length > 0) {
        parametros.push(`artist_id=${this.selectArtistas.join(',')}`);
      }

      if (this.selectLocais.length > 0) {
        //parametros.push(`location_id=${this.selectLocais.join(',')}`);
        parametros.push(`location_id=${this.selectLocais}`);
      }

      if (this.selectCidades.length > 0) {
        parametros.push(`city_id=${this.selectCidades.join(',')}`);
      }

      if (this.eventDate) {
        parametros.push(`date=${this.eventDate}`);
      }

      if (this.eventName) {
        parametros.push(`name=${this.eventName}`);
      }

      // Verifique se há parâmetros a serem adicionados à URL
      if (parametros.length > 0) {
        const queryString = parametros.join('&');
        const url = `/consulta?${queryString}`;
        
        // Redirecione para a rota /consulta com os parâmetros
        this.$router.push(url);
      } else {
        // Se nenhum parâmetro for especificado, redirecione apenas para /consulta
        this.$router.push('/consulta');
      }
      // adicionar rolagem   
    },
    limparEventos(){
      this.selectEventTypes = []
      this.selectArtistas = []
      this.selectLocais = ""
      this.selectCidades = ""
      this.eventDate = ""
      this.eventName = ""
      this.consultarEventos()
      // adicionar rolagem
    }, 
  },
  computed: {
    queryName() {
      return this.$route.query.name || '';
    },
    queryDate() {
      return this.$route.query.date || '';
    },
  },
  created() {
    // Verifique se há um query parameter 'name' na URL
    const queryParams = new URLSearchParams(window.location.search);
    if (queryParams.has("name")) {
      // Se 'name' existe na URL, defina o valor de 'eventName' com base nele
      this.eventName = queryParams.get("name");
    }
    if (queryParams.has("date")) {
      // Se 'name' existe na URL, defina o valor de 'eventName' com base nele
      this.eventDate = queryParams.get("date");
    }
    if (queryParams.has("location_id")) {
      // Se 'name' existe na URL, defina o valor de 'eventName' com base nele
      this.selectLocais = queryParams.get("location_id");
    }
  },

}
</script>