<template>
  <div>
    <form @submit="submitBusca">
      <input
        type="text"
        placeholder="Digite aqui a busca"
        class="font2 fontSize2 fontColor2 inputLupa"
        v-model="termo"
        @input="checkInputText"
      />
      <div class="lupaContainerItem lupa lupaStatic">
        <img :src="require('@/assets/images/lupa.svg')" alt="lupa" />
      </div>
      <em class="closeLupa">
        <img :src="require('@/assets/images/closeLupa.svg')" alt="lupa" />
      </em>
      <em class="clearSearch" @click="clearInput">
        Limpar
      </em>
    </form>
  </div>
</template>

<script>
export default {
  data() {
    return {
      termo: this.$route.query.termo || '',
    };
  },
  methods: {
    submitBusca(event) {
      event.preventDefault();

      if (this.termo.trim() !== '') {
        this.$router.push(`/busca?termo=${encodeURIComponent(this.termo)}`);
        this.$root.$emit('updateSearchTerm', this.termo);
      }
    },
    checkInputText() {
      // Adiciona a classe "active" ao elemento "clearSearch" se o campo de entrada tiver algum texto
      const clearSearch = document.querySelector('.clearSearch');
      if (this.termo.trim() !== '') {
        clearSearch.classList.add('active');
      } else {
        clearSearch.classList.remove('active');
      }
    },
    clearInput() {
      // Limpa o campo de entrada e remove a classe "active" do elemento "clearSearch"
      this.termo = '';
      const clearSearch = document.querySelector('.clearSearch');
      clearSearch.classList.remove('active');
    },
  },
};
</script>