<template>
  <div>
    <div class="search-results" v-if="events.length > 0 || news.length > 0 || togethers.length > 0 || artists.length > 0 || releases.length > 0">
      <div class="emphasis" v-if="events.length > 0">
        <div class="title">
          <h3 class="font1 fontColor1">Eventos</h3>
          <p class="font2 fontColor1">{{ events.length }} {{ events.length === 1 ? 'resultado' : 'resultados' }}</p>
        </div>
        <Carousel class="carouselEvents carouselMargin" v-bind="carouselOptions" :breakpoints="carouselBreakpoints1">
          <Slide class="item" v-for="event in events" :key="event.id">
            <router-link :to="`/eventos/${event.slug}`">
              <figure>
                <img
                  :src="event.images?.large ? event.images.large : event.image"
                  :alt="event.name"
                />
                <span class="font2 fontSize2 fontColor3 tag"
                    :class="{
                'backgroundBlue': event.event_type.name === 'Música',
                'backgroundLightGreen': event.event_type.name === 'Entrevista',
                'backgroundWaterBlue': event.event_type.name === 'Fica a Dica',
                'backgroundOrange': event.event_type.name === 'Cena',
                'backgroundPink': event.event_type.name === 'Festa',
                'backgroundSalmon': event.event_type.name === 'Guia',
                'backgroundPurple': event.event_type.name === 'Festival',
                'backgroundGreen': event.event_type.name === 'Lista',
                'backgroundYellow': event.event_type.name === 'Show',
                'backgroundFuchsia': event.event_type.name === 'Carnaval',
                'backgroundLime': event.event_type.name === 'Réveillon',
                'backgroundPurple2': event.event_type.name === 'Quanto custa',
                'backgroundGray2': event.event_type.name === 'Review'
                }">
                  {{ event.event_type.name }}
                </span>

              </figure>
              <div class="text">
                <h2 class="font1 fontColor3 fontSize7">{{ event.name }}</h2>
                
                <p class="icon star" v-if="event.artists.length > 0">
                  {{ formatSimpleList(event.artists, 3) }}
                </p>


                <div class="iconWrapper">
                  <p class="icon house" v-if="event.location && event.location.name">{{ event.location.name }}</p>
                  <p class="icon location" v-if="event.location && event.location.city">
                    {{ event.location.city.name }} - {{ event.location.city.state.abbr }}
                  </p>
                </div>
                <div class="calendar">
                  <p class="icon calendar">
                    <template v-if="event.end_date">
                      <template v-if="formatDate(event.start_date) == formatDate(event.end_date)">
                        {{ formatDate(event.start_date) }}
                      </template>
                      <template v-else>
                        <template v-if="formatDate4(event.start_date) == formatDate4(event.end_date)">
                          {{ formatDate2(event.start_date) }} a {{ formatDate(event.end_date) }}
                        </template>
                        <template v-else>
                          {{ formatDate(event.start_date) }} a {{ formatDate(event.end_date) }}
                        </template>
                      </template>
                    </template>
                    <template v-else>
                      {{ formatDate(event.start_date) }}
                    </template>
                  </p>
                </div>
              </div>

              <div v-if="event.has_discount !== '0' && event.has_discount !== null" class="tagPromoDiv">
                <span class="font1 fontSize2 fontColor3 tagPromo"
                  >DESCONTO WE GO OUT</span>
                <span class="fontColor3 tagPromoTip"></span>
              </div>

            </router-link>
          </Slide>
          <template #addons>
            <Navigation />
          </template>
        </Carousel>
        <router-link v-if="events.length > 5" class="font1 fontSize3 fontColor4 seeAll" :to="`/consulta?name=${termoAtualizado}`"
          >VER TUDO</router-link
        >
      </div>
      <div class="componentGuide" v-if="news.length > 0">
        <div class="title">
          <h3 class="font1 fontColor1">Notícias</h3>
          <p class="font2 fontColor1">{{ news.length }} {{ news.length === 1 ? 'resultado' : 'resultados' }}</p>
        </div>
        <Carousel class="carouselGuide carouselMargin" v-bind="carouselOptions" :breakpoints="carouselBreakpoints1">
          <Slide class="item" v-for="noticia in news" :key="noticia.id">
            <router-link :to="`noticias/${noticia.slug}`">
              <figure>
                <img
                  :src="noticia.images?.large ? noticia.images.large : noticia.image"
                  :alt="noticia.title"
                />
                <span class="font2 fontSize2 fontColor3 tag"
                :class="{
                'backgroundBlue': noticia.category.name === 'Música',
                'backgroundLightGreen': noticia.category.name === 'Entrevista',
                'backgroundWaterBlue': noticia.category.name === 'Fica a Dica',
                'backgroundOrange': noticia.category.name === 'Cena',
                'backgroundPink': noticia.category.name === 'Festa',
                'backgroundSalmon': noticia.category.name === 'Guia',
                'backgroundPurple': noticia.category.name === 'Festival',
                'backgroundGreen': noticia.category.name === 'Lista',
                'backgroundYellow': noticia.category.name === 'Show',
                'backgroundFuchsia': noticia.category.name === 'Carnaval',
                'backgroundLime': noticia.category.name === 'Réveillon',
                'backgroundPurple2': noticia.category.name === 'Quanto custa',
                'backgroundGray2': noticia.category.name === 'Review'
                }">
                  {{ noticia.category.name }}
                </span>
              </figure>
              <h2>{{ noticia.title }}</h2>
              <span class="font2 fontSize3 fontColor2">{{ formatDate(noticia.public_date) }}</span>
            </router-link>
          </Slide>
          <template #addons>
            <Navigation />
          </template>
        </Carousel>
        <router-link v-if="news.length > 5" class="font1 fontSize3 fontColor4 seeAll" :to="`/noticias?title=${termoAtualizado}`">VER TUDO</router-link
        >
      </div>
      <div class="lastLaunch" v-if="releases.length > 0">
        <div class="title">
          <h3 class="font1 fontColor1">Lançamentos</h3>
          <p class="font2 fontColor1">{{ releases.length }} {{ releases.length === 1 ? 'resultado' : 'resultados' }}</p>
        </div>
        <Carousel class="carouselLaunch carouselMargin" v-bind="carouselOptions" :breakpoints="carouselBreakpoints1">
          <Slide class="item" v-for="release in releases" :key="release.id">
            <router-link :to="`lancamentos/${release.slug}`">
              <figure>
                <img
                  :src="release.images?.large ? release.images.large : release.image"
                  :alt="release.name"
                />
              </figure>
              <div>
                <h3 class="font1 fontSize4 fontColor1">
                  {{ release.name }}
                </h3>
                <p class="font2 fontSize4 fontColor1">
                  {{ formatSimpleList(release.artists, 3) }}
                </p>
              </div>
            </router-link>
          </Slide>
          <template #addons>
            <Navigation />
          </template>
        </Carousel>
        <router-link v-if="releases.length > 5" class="font1 fontSize3 fontColor4 seeAll" :to="`/lancamentos?name=${termoAtualizado}`"
          >VER TUDO</router-link
        >
      </div>
      <div class="artistsHighlights" v-if="artists.length > 0">
        <div class="title">
          <h3 class="font1 fontColor1">ARTISTAS</h3>
          <p class="font2 fontColor1">{{ artists.length }} {{ artists.length === 1 ? 'resultado' : 'resultados' }}</p>
        </div>
        <Carousel class="carouselArtists carouselMargin" v-bind="carouselOptions" :breakpoints="carouselBreakpoints2">
          <Slide class="item" v-for="artist in artists" :key="artist.id">
            <router-link :to="`artistas/${artist.slug}`">
              <figure>
                <img
                  :src="artist.images?.medium ? artist.images.medium : artist.image"
                  :alt="artist.name"
                />
              </figure>
              <h3 class="font1 fontSize4 fontColor1">
                {{ artist.name }}
              </h3>
            </router-link>
          </Slide>
          <template #addons>
            <Navigation />
          </template>
        </Carousel>
        <router-link v-if="artists.length > 5" class="font1 fontSize3 fontColor4 seeAll" :to="`/artistas?name=${termoAtualizado}`"
          >VER TUDO</router-link
        >
      </div>
      <div class="together carouselTogethers" v-if="togethers.length > 0">
        <div class="title">
          <h3 class="font1 fontColor1">TOGETHER</h3>
          <p class="font2 fontColor1">{{ togethers.length }} {{ togethers.length === 1 ? 'resultado' : 'resultados' }}</p>
        </div>
        <Carousel class="carouselCommunity carouselMargin" v-bind="carouselOptions" :breakpoints="carouselBreakpoints3">
          <Slide class="item" v-for="together in togethers" :key="together.id">
            <a :href="together.link" target="_blank">
              
              <img
                :src="together.images?.medium ? together.images.medium : together.image"
                :alt="together.name"
              />
              <h2 class="font1 fontSize3 fontColor1">
                {{ together.name }}
              </h2>
            </a>
          </Slide>
          <template #addons>
            <Navigation />
          </template>
        </Carousel>
        <!--<router-link class="font1 fontSize3 fontColor4 seeAll" to="/together"
          >VER TUDO</router-link
        >-->
      </div>
    </div>
    <main class="search notFound" v-else>
      <section class="extraContent" v-if="releaseBuscado == true && noticiaBuscada == true && artistaBuscado && true && togetherBuscado == true && eventoBuscado == true">
        <div class="containerExtra">
          <div class="notFoundImg"></div>
          <h1 class="font1 fontColor1">
            NENHUM RESULTADO ENCONTRADO
          </h1>
          <h4 class="font2 fontColor1">
            Confira se o termo está escrito corretamente ou tente palavras-chaves diferentes.
          </h4>
        </div>
      </section>
      <section class="extraContent" v-else>
        <div class="containerExtra">
          <div class="boxContainer floated">
            <div class="box box1"></div>
            <div class="box box2"></div>
            <div class="box box3"></div>
            <div class="box box4"></div>
            <div class="box box5"></div>
          </div>
          <p class="searching-items">Buscando resultados</p>
        </div>
      </section>
    </main>
  </div>
</template>

<script>
import axios from 'axios';
import { Carousel, Slide, Navigation } from 'vue3-carousel';
import 'vue3-carousel/dist/carousel.css'

export default {
  props: {
    name: {
      type: String,
      required: true,
    },
  },
  components: {
    Carousel,
    Slide,
    Navigation,
  },
  data() {
    return {
      events: [],
      artists: [],
      releases: [],
      togethers: [],
      news: [],
      termoAtualizado: '',
      carouselOptions: {
        snapAlign: 'start',
      },
      carouselBreakpoints1: {
        0: {
          itemsToShow: 1,
        },
        1024: {
          itemsToShow: 4,
        },
      },
      carouselBreakpoints2: {
        0: {
          itemsToShow: 2,
        },
        1024: {
          itemsToShow: 6,
        },
      },
      carouselBreakpoints3: {
        0: {
          itemsToShow: 1,
        },
        1024: {
          itemsToShow: 8,
        },
      },
    };
  },
  created() {
    if (this.$route.query.termo) {
      this.termoAtualizado = decodeURIComponent(this.$route.query.termo);
      this.fetchEvents();
      this.fetchArtists();
      this.fetchReleases();
      this.fetchNews();
      this.fetchTogethers();
    }
  },
  watch: {
    '$route.query.termo': {
      immediate: true,
      handler(newTermo) {
        this.termoAtualizado = decodeURIComponent(newTermo);
        this.fetchEvents();
        this.fetchArtists();
        this.fetchReleases();
        this.fetchNews();
        this.fetchTogethers();
      }
    }
  },
  methods: {
    fetchEvents() {
      console.log('Busca em eventos:', this.termoAtualizado);
      this.eventoBuscado = false;
      axios.get(`https://api.wegoout.com.br/api/events?future=true&name=${this.termoAtualizado}`)
        .then(response => {
          this.events = response.data.data;
          this.eventoBuscado = true;
        })
        .catch(error => {
          console.error('Error fetching events:', error);
          this.eventoBuscado = true;
        });
    },
    fetchArtists() {
      console.log('Busca em artistas:', this.name);
      this.artistaBuscado = false;
      axios.get(`https://api.wegoout.com.br/api/artists?name=${this.termoAtualizado}`)
        .then(response => {
          this.artists = response.data.data;
          this.artistaBuscado = true;
        })
        .catch(error => {
          console.error('Error fetching artists:', error);
          this.artistaBuscado = true;
        });
    },
    fetchReleases() {
      console.log('Busca em lançamentos:', this.name);
      this.releaseBuscado = false;
      axios.get(`https://api.wegoout.com.br/api/releases?name=${this.termoAtualizado}`)
        .then(response => {
          this.releases = response.data.data;
          this.releaseBuscado = true;
        })
        .catch(error => {
          console.error('Error fetching releases:', error);
          this.releaseBuscado = true;
        });
    },
    fetchNews() {
      console.log('Busca em notícias:', this.name); // Verificar se o valor está correto
      this.noticiaBuscada = false;
      axios.get(`https://api.wegoout.com.br/api/news?sortedBy=public_date&sorted=DESC&title=${this.termoAtualizado}`)
        .then(response => {
          this.news = response.data.data;
          this.noticiaBuscada = true;
        })
        .catch(error => {
          console.error('Error fetching news:', error);
          this.noticiaBuscada = true;
        });
    },
    fetchTogethers() {
      console.log('Busca em togethers:', this.name); // Verificar se o valor está correto
      this.togetherBuscado = false;
      axios.get(`https://api.wegoout.com.br/api/togethers?status=1&name=${this.termoAtualizado}`)
        .then(response => {
          this.togethers = response.data.data;
          this.togetherBuscado = true;
        })
        .catch(error => {
          console.error('Error fetching togethers:', error);
          this.togetherBuscado = true;
        });
    },
    formatDate(dateString) {
      const months = [
        'janeiro', 'fevereiro', 'março', 'abril', 'maio', 'junho',
        'julho', 'agosto', 'setembro', 'outubro', 'novembro', 'dezembro'
      ];

      const date = new Date(dateString);
      const day = date.getDate();
      const month = months[date.getMonth()];

      return `${day} de ${month}`;
    },
    formatDate2(dateString) {
      const date = new Date(dateString);
      const day = date.getDate();
      return `${day}`;
    },
    formatDate4(dateString) {
      const date = new Date(dateString);
      const month = date.getMonth() + 1;
      return `${month}`;
    },
    formatSimpleList(list) {
      const formattedList = list.map((item) => item.name);
      if (formattedList.length === 1) {
        return formattedList[0];
      } else if (formattedList.length === 2) {
        return formattedList.join(' e ');
      } else if (formattedList.length === 3) {
        return `${formattedList[0]}, ${formattedList[1]} e ${formattedList[2]}`;
      } else {
        const firstItems = formattedList.slice(0, 3).join(', ');
        const extraCount = formattedList.length - 3;
        return `${firstItems} e + ${extraCount}`;
      }
    },
  },
};
</script>
