<template>
  <div>
    <div class="componentGuide">
      <h3 class="font1 fontColor1 title">
        NOTÍCIAS RELACIONADAS
      </h3>
      <Carousel class="carouselGuide carouselMargin" v-bind="carouselOptions" :breakpoints="carouselBreakpoints">
        <Slide class="item" v-for="relatedNoticia in filteredRelatedNoticias" :key="relatedNoticia.id">
          <router-link :to="`/noticias/${relatedNoticia.slug}`">
            <figure>
              <img :src="relatedNoticia.images?.large ? relatedNoticia.images.large : relatedNoticia.image" :alt="relatedNoticia.title">
              <span class="font2 fontSize2 fontColor3 tag"
              :class="{
              'backgroundBlue': relatedNoticia.category.name === 'Música',
              'backgroundLightGreen': relatedNoticia.category.name === 'Entrevista',
              'backgroundWaterBlue': relatedNoticia.category.name === 'Fica a Dica',
              'backgroundOrange': relatedNoticia.category.name === 'Cena',
              'backgroundPink': relatedNoticia.category.name === 'Festa',
              'backgroundSalmon': relatedNoticia.category.name === 'Guia',
              'backgroundPurple': relatedNoticia.category.name === 'Festival',
              'backgroundGreen': relatedNoticia.category.name === 'Lista',
              'backgroundYellow': relatedNoticia.category.name === 'Show',
              'backgroundFuchsia': relatedNoticia.category.name === 'Carnaval',
              'backgroundLime': relatedNoticia.category.name === 'Réveillon',
              'backgroundPurple2': relatedNoticia.category.name === 'Quanto custa',
              'backgroundGray2': relatedNoticia.category.name === 'Review'
              }">
                {{ relatedNoticia.category.name }}
              </span>
            </figure>
            <h2>{{ relatedNoticia.title }}</h2>
            <span class="font2 fontSize3 fontColor2">{{ formatDate(relatedNoticia.public_date) }}</span>
          </router-link>
        </Slide>
        <template #addons>
          <Navigation />
        </template>
      </Carousel>
    </div>
  </div>
</template>

<script>
import axios from "axios";
import { Carousel, Slide, Navigation } from 'vue3-carousel';
import 'vue3-carousel/dist/carousel.css';

export default {
  components: {
    Carousel,
    Slide,
    Navigation,
  },
  props: {
    noticia: {
      type: Object,
      required: true,
    },
  },
  data() {
    return {
      relatedNoticias: [],
      carouselOptions: {
        snapAlign: 'start',
      },
      carouselBreakpoints: {
        700: {
          itemsToShow: 1,
        },
        1024: {
          itemsToShow: 4,
        },
      },
    };
  },
  computed: {
    filteredRelatedNoticias() {
      return this.relatedNoticias.filter(noticia => noticia.slug !== this.noticia.slug);
    },
  },
  methods: {
    async fetchRelatedNoticiasWithRetry(categoryId) {
      try {
        const response = await axios.get(`https://api.wegoout.com.br/api/news?sortedBy=public_date&sorted=DESC&category_id=${categoryId}`, {
          timeout: 10000, // Tempo limite de 10 segundos (10000 ms)
        });
        this.relatedNoticias = response.data.data;
      } catch (error) {
        if (axios.isCancel(error)) {
          // A solicitação foi cancelada, não realize uma nova consulta
          return;
        }

        if (error.response && error.response.status === 429) {
          // Erro 429 (Too Many Requests): Aguarde um tempo e faça uma nova consulta
          setTimeout(() => {
            this.fetchRelatedNoticiasWithRetry(categoryId); // Tente novamente após o tempo configurado
          }, 10000); // Aguarda 5 segundos antes de tentar novamente
        } else {
          console.error('Erro ao buscar noticia por categoria:', error);
          this.relatedNoticias = [];
        }
      }
    },
    formatDate(dateString) {
      const months = [
        'janeiro', 'fevereiro', 'março', 'abril', 'maio', 'junho',
        'julho', 'agosto', 'setembro', 'outubro', 'novembro', 'dezembro'
      ];
      const date = new Date(dateString);
      const day = date.getDate();
      const month = months[date.getMonth()];
      const year = date.getFullYear();
      return `${day} de ${month} de ${year}`;
    },
  },
  watch: {
    'noticia.category_id': {
      handler(newCategoryId, oldCategoryId) {
        if (newCategoryId !== oldCategoryId) {
          this.relatedNoticias = [];
          this.fetchRelatedNoticiasWithRetry(newCategoryId);
        }
      },
      immediate: true,
    },
  },
};
</script>