<template>
  <div>
    <div>
      <div class="nextEvents cardEvent2" v-if="eventosRelacionados.length > 0">
        <div class="title">
          <h2 class="font1 fontColor1">PRÓXIMOS EVENTOS com {{ artista.name }}</h2>
          <router-link v-if="eventosRelacionadosTotal.length > 5" class="font1 fontSize3 fontColor4 seeAll" :to="`/consulta?artist_id=${artista.id}`">
            VER TUDO
          </router-link>
        </div>
        <ul class="listItems">
          <li class="item" v-for="evento in eventosRelacionados" :key="evento.id">
            <router-link :to="`/eventos/${evento.slug}`" class="card">
              <figure>
                <img
                  :src="evento.images?.large ? evento.images.large : evento.image"
                  :alt="evento.name"
                />

                <span class="font2 fontSize2 fontColor3 tag"
                  :class="{
                  'backgroundBlue': evento.event_type.name === 'Música',
                  'backgroundLightGreen': evento.event_type.name === 'Entrevista',
                  'backgroundWaterBlue': evento.event_type.name === 'Fica a Dica',
                  'backgroundOrange': evento.event_type.name === 'Cena',
                  'backgroundPink': evento.event_type.name === 'Festa',
                  'backgroundSalmon': evento.event_type.name === 'Guia',
                  'backgroundPurple': evento.event_type.name === 'Festival',
                  'backgroundGreen': evento.event_type.name === 'Lista',
                  'backgroundYellow': evento.event_type.name === 'Show',
                  'backgroundFuchsia': evento.event_type.name === 'Carnaval',
                  'backgroundLime': evento.event_type.name === 'Réveillon',
                  'backgroundPurple2': evento.event_type.name === 'Quanto custa',
                  'backgroundGray2': evento.event_type.name === 'Review'
                  }">
                  {{ evento.event_type.name }}
                </span>
              </figure>
              <div class="text">
                <h2 class="font1 fontColor3 fontSize5">{{ evento.name }}</h2>
                <div class="iconWrapper">
                  <p class="house icon">{{ evento.location.name }}</p>
                  <p class="location icon">
                    {{ evento.location.city.name }} - {{ evento.location.city.state.abbr }}
                  </p>
                </div>
                <p class="calendar icon">
                  <template v-if="evento.end_date">
                    <template v-if="formatDate(evento.start_date) == formatDate(evento.end_date)">
                      {{ formatDate(evento.start_date) }}
                    </template>
                    <template v-else>
                      <template v-if="formatDate4(evento.start_date) == formatDate4(evento.end_date)">
                        {{ formatDate2(evento.start_date) }} a {{ formatDate(evento.end_date) }}
                      </template>
                      <template v-else>
                        {{ formatDate(evento.start_date) }} a {{ formatDate(evento.end_date) }}
                      </template>
                    </template>
                  </template>
                  <template v-else>
                    {{ formatDate(evento.start_date) }}
                  </template>
                </p>
              </div>
            </router-link>
          </li>
        </ul>
      </div>

      <div class="lastLaunch" v-if="lancamentosRelacionados.length > 0">
        <div class="title">
          <h2 class="font1 fontColor1">ÚLTIMOS LANCAMENTOS de {{ artista.name }} </h2>
          <router-link v-if="lancamentosRelacionados.length > 3" class="font1 fontSize3 fontColor4 seeAll" :to="`/lancamentos?artist_id=${artista.id}`"
            >VER TUDO</router-link
          >
        </div>
        <div class="listLaunchItems" v-if="lancamentosRelacionados.length > 0">
          <div class="item" v-for="release in lancamentosRelacionadosTotal" :key="release.id">
            <router-link :to="`/lancamentos/${release.slug}`">
              <figure>
                <img
                  :src="release.images?.large ? release.images.large : release.image"
                  :alt="release.name"
                />
              </figure>
              <h3 class="font1 fontSize4 fontColor1">{{ release.name }}</h3>
              <p class="font2 fontSize4 fontColor1" v-if="release.artists.length > 0">
                {{ formatSimpleList(release.artists, 3) }}
              </p>
            </router-link>
          </div>
        </div>
      </div>
      <div class="artistNews" v-if="noticiasRelacionadas.length > 0">
        <div class="title">
          <h2 class="font1 fontColor1">NOTÍCIAS SOBRE O ARTISTA</h2>
          <router-link v-if="noticiasRelacionadasTotal.length > 5" class="font1 fontSize3 fontColor4 seeAll" :to="`/noticias?artist_id=${artista.id}`"
            >VER TUDO</router-link
          >
        </div>
        <ul class="listItems">
          <div class="item" v-for="noticia in noticiasRelacionadas" :key="noticia.id">
            <router-link :to="`/noticias/${noticia.slug}`">
              <figure>
                <img
                  :src="noticia.images?.large ? noticia.images.large : noticia.image"
                  :alt="noticia.title"
                />
                <span class="font2 fontSize2 fontColor3 tag"
                    :class="{
                    'backgroundBlue': noticia.category.name === 'Música',
                    'backgroundLightGreen': noticia.category.name === 'Entrevista',
                    'backgroundWaterBlue': noticia.category.name === 'Fica a Dica',
                    'backgroundOrange': noticia.category.name === 'Cena',
                    'backgroundPink': noticia.category.name === 'Festa',
                    'backgroundSalmon': noticia.category.name === 'Guia',
                    'backgroundPurple': noticia.category.name === 'Festival',
                    'backgroundGreen': noticia.category.name === 'Lista',
                    'backgroundYellow': noticia.category.name === 'Show',
                    'backgroundFuchsia': noticia.category.name === 'Carnaval',
                    'backgroundLime': noticia.category.name === 'Réveillon'
                    }">
                  {{ noticia.category.name }}
                </span>
              </figure>
              <div>
                <h2 class="font1 fontSize5 fontColor1">
                  {{ noticia.title }}
                </h2>
                <span class="font2 fontColor2 date">
                  {{ formatDate(noticia.public_date) }}
                </span>
              </div>
            </router-link>
          </div>
        </ul>
        <div class="blankPart"></div>
      </div>
      

    </div>
  </div>
</template>

<script>
import axios from 'axios';

export default {
  props: {
    artista: {
      type: Object,
      required: true,
    },
  },
  data() {
    return {
      lancamentosRelacionados: [],
      lancamentosRelacionadosTotal: [],
      noticiasRelacionadas: [],
      noticiasRelacionadasTotal: [],
      eventosRelacionados: [],
      eventosRelacionadosTotal: [],
    };
  },
  methods: {
    async fetchArtistaPorId(artistId) {
      try {
        // Carregar lançamentos relacionados usando o ID do artista
        const releasesResponse = await axios.get(`https://api.wegoout.com.br/api/releases?artist_id=${artistId}`);
        this.lancamentosRelacionados = releasesResponse.data.data;
         this.lancamentosRelacionadosTotal = releasesResponse.data.data.slice(0, 3);

        // Carregar notícias relacionadas usando o ID do artista
        const newsResponse = await axios.get(`https://api.wegoout.com.br/api/news?sortedBy=public_date&sorted=DESC&artist_id=${artistId}`);
        this.noticiasRelacionadas = newsResponse.data.data.slice(0, 5);
        this.noticiasRelacionadasTotal = newsResponse.data.data;

        // Carregar eventos relacionados usando o ID do artista
        const eventsResponse = await axios.get(`https://api.wegoout.com.br/api/events?artist_id=${artistId}&future=true`);
        this.eventosRelacionados = eventsResponse.data.data.slice(0, 5);
        this.eventosRelacionadosTotal = eventsResponse.data.data;
      } catch (error) {
        if (error.response && error.response.status === 429) {
          // Se ocorreu um erro 429, faça uma nova tentativa após 1 segundo
          await new Promise((resolve) => setTimeout(resolve, 1000));
          await this.fetchArtistaPorId(artistId); // Chame o método novamente
        } else {
          console.error('Erro ao buscar informações relacionadas ao artista:', error);
        }
      }
    },

    formatDate(dateString) {
      const months = [
        'janeiro', 'fevereiro', 'março', 'abril', 'maio', 'junho',
        'julho', 'agosto', 'setembro', 'outubro', 'novembro', 'dezembro'
      ];

      const date = new Date(dateString);
      const day = date.getDate();
      const month = months[date.getMonth()];

      return `${day} de ${month}`;
    },
    formatDate2(dateString) {
      const date = new Date(dateString);
      const day = date.getDate();
      return `${day}`;
    },
    formatDate4(dateString) {
      const date = new Date(dateString);
      const month = date.getMonth() + 1;
      return `${month}`;
    },
    formatSimpleList(list) {
      const formattedList = list.map((item) => item.name);
      if (formattedList.length === 1) {
        return formattedList[0];
      } else if (formattedList.length === 2) {
        return formattedList.join(' e ');
      } else if (formattedList.length === 3) {
        return `${formattedList[0]}, ${formattedList[1]} e ${formattedList[2]}`;
      } else {
        const firstItems = formattedList.slice(0, 3).join(', ');
        const extraCount = formattedList.length - 3;
        return `${firstItems} e + ${extraCount}`;
      }
    },
  },
  watch: {
    'artista.id'(newArtistId, oldArtistId) {
      if (newArtistId !== oldArtistId) {
        this.fetchArtistaPorId(newArtistId); // Carrega os dados relacionados do artista quando o ID do artista muda
      }
    }
  },
  created() {
    this.fetchArtistaPorId(this.artista.id); // Carrega os dados relacionados do artista inicialmente
  },
};
</script>
