<template>
  <div class="releasetMain" v-for="lancamento in lancamentosFiltrados" :key="lancamento.id">
    <div class="photo">
      <img
        :src="lancamento.images?.thumb ? lancamento.images.thumb : lancamento.image"
        :alt="lancamento.name"
        class="photoBackground"
      />
      <div class="photoArtist">
        <figure>
          <img
            :src="lancamento.images?.full ? lancamento.images.full : lancamento.image"
            :alt="lancamento.name"
          />
        </figure>
      </div>
    </div>
    <div class="content">
      <h1 class="font1 fontColor3">{{ lancamento.name }}</h1>
      <p class="country font2 fontColor3 calendar">{{ formatDate(lancamento.date) }}</p>
      <p class="country font2 fontColor3 star" v-if="lancamento.artists.length > 0">{{ formatSimpleList(lancamento.artists, 3) }}</p>
      <div class="iconWrapper">
        <p class="record font2 fontColor3" v-if="lancamento.companies.length > 0">{{ formatSimpleList(lancamento.companies, 3) }}</p>
      </div>
      <div v-html="lancamento.embed"></div>
    </div>
  </div>
</template>

<script>
import axios from 'axios';

export default {
  data() {
    return {
      lancamentos: [],
    };
  },
  created() {
    this.fetchLancamentos();
  },
  computed: {
    lancamentosFiltrados() {
      return this.lancamentos.slice(0, 1);
    },
  },
  methods: {
    async fetchLancamentos() {
      try {
        const slug = this.$route.params.slug;
        const response = await axios.get(`https://api.wegoout.com.br/api/releases?slug=${slug}`);
        this.lancamentos = response.data.data;
      } catch (error) {
        console.error('Erro ao buscar lançamentos:', error);
      }
    },
    formatSimpleList(list) {
      const formattedList = list.map((item) => item.name);
      if (formattedList.length === 1) {
        return formattedList[0];
      } else if (formattedList.length === 2) {
        return formattedList.join(' e ');
      } else if (formattedList.length === 3) {
        return `${formattedList[0]}, ${formattedList[1]} e ${formattedList[2]}`;
      } else {
        const firstItems = formattedList.slice(0, 3).join(', ');
        const extraCount = formattedList.length - 3;
        return `${firstItems} e + ${extraCount}`;
      }
    },
    formatDate(dateString) {
      const months = [
        'janeiro', 'fevereiro', 'março', 'abril', 'maio', 'junho',
        'julho', 'agosto', 'setembro', 'outubro', 'novembro', 'dezembro'
      ];
      const date = new Date(dateString);
      const day = date.getDate();
      const month = months[date.getMonth()];
      const year = date.getFullYear(); // Obtém o ano
      return `${day} de ${month} de ${year}`;
    },
  },
  watch: {
    '$route.params.slug'(newSlug, oldSlug) {
      if (newSlug !== oldSlug) {
        this.fetchLancamentos(); // Carrega os dados do novo lançamento quando o Slug da rota muda
      }
    }
  },
};
</script>