<template>
  <div class="artistsHighlights">
    <div class="title">
      <div class="text">
        <h2 class="font1 fontColor1">Além de {{ artista.name}}, veja também</h2>
      </div>
    </div>
    <Carousel class="carouselArtists carouselMargin" v-if="artistasRelacionados.length > 0" v-bind="carouselOptions" :breakpoints="carouselBreakpoints">
      <Slide class="item" v-for="artistaRelacionado in artistasRelacionados" :key="artistaRelacionado.id">
        <router-link :to="`/artistas/${artistaRelacionado.slug}`">
          <figure>
            <img
              :src="artistaRelacionado.images?.large ? artistaRelacionado.images.large : artistaRelacionado.image"
              :alt="artistaRelacionado.name"
            />
          </figure>
          <h3 class="font1 fontSize4 fontColor1">
            {{ artistaRelacionado.name }}
          </h3>
        </router-link>
      </Slide>
      <template #addons>
        <Navigation />
      </template>
    </Carousel>
  </div>
</template>

<script>
import axios from 'axios';
import { Carousel, Slide, Navigation } from 'vue3-carousel';
import 'vue3-carousel/dist/carousel.css';

export default {
  props: {
    artista: {
      type: Object,
      required: true,
    },
  },
  data() {
    return {
      artistasRelacionados: [],
      carouselOptions: {
        snapAlign: 'start',
      },
      carouselBreakpoints: {
        0: {
          itemsToShow: 2,
        },
        1024: {
          itemsToShow: 5,
        },
      },
    };
  },
  components: {
    Carousel,
    Slide,
    Navigation,
  },
  computed: {
    artistasFiltrados() {
      if (this.artista && this.artista.genres) {
        const generoIds = this.artista.genres.map(genero => genero.id);
        return this.artistasRelacionados.filter(artista => generoIds.some(id => artista.genres.map(g => g.id).includes(id)) && artista.slug !== this.artista.slug);
      }
      return [];
    },
  },
  async created() {
    await this.fetchArtistasRelacionados(this.artista);
  },
  watch: {
    artista: {
      handler: 'fetchArtistasRelacionados',
      immediate: true,
    },
  },
  methods: {
    async fetchArtistasRelacionados(artista) {
      try {
        if (artista && artista.genres) {
          const generoIds = artista.genres.map(genero => genero.id).join(',');
          const url = `https://api.wegoout.com.br/api/artists?genre_id=${generoIds}&sortedBy=updated_at&sorted=DESC`;
          const response = await axios.get(url);
          this.artistasRelacionados = response.data.data;
        }
      } catch (error) {
        if (error.response && error.response.status === 429) {
          await new Promise((resolve) => setTimeout(resolve, 1000));
          await this.fetchArtistasRelacionados(artista);
        } else {
          console.error('Erro ao buscar artistas relacionados:', error);
        }
      }
    }
  },
};
</script>