<template>
  <div class="content main-content">
    <h2 v-if="evento.about" class="title">SOBRE {{ evento.name }}</h2>
    <article v-html="evento.about"></article>
    <article>
      <a v-if="evento.guide_link" :href="evento.guide_link" class="buttonGuide">GUIA DO EVENTO</a>
    </article>
    <button class="moreInfo font1 fontSize2" @click="scrollToContent">SABER MAIS</button>
  </div>
</template>

<script>
export default {
  props: {
    evento: {
      type: Object,
    },
  },
  data() {
    return {
      //eventos: [],
    };
  },
  
  methods: {
    scrollToContent() {
      const contentElement = document.querySelector('.main-content');
      if (contentElement) {
        const offset = 100;
        const rect = contentElement.getBoundingClientRect();
        const currentScrollY = window.scrollY;
        const targetScrollY = rect.top + currentScrollY - offset;

        window.scrollTo({
          top: targetScrollY,
          behavior: 'smooth',
        });
      }
    },
  },
};
</script>