<template>
  <div>
    <div>
      <div>
        <div class="about main-content">
          <template v-if="artista.biography">
            <h2 class="font1 fontColor1">SOBRE</h2>
            <div v-html="artista.biography"></div> 
          </template>
          <template v-else >
            
          </template>
          <button class="moreInfo font1 fontSize2" @click="scrollToContent">SABER MAIS</button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>

export default {
  props: {
    artista: {
      type: Object,
    },
  },
  methods: {
    scrollToContent() {
      const contentElement = document.querySelector('.main-content');
      if (contentElement) {
        const offset = 100; // Ajuste o valor conforme necessário
        const rect = contentElement.getBoundingClientRect();
        const currentScrollY = window.scrollY;
        const targetScrollY = rect.top + currentScrollY - offset;

        window.scrollTo({
          top: targetScrollY,
          behavior: 'smooth',
        });
      }
    },
  },
};
</script>
