<template>
  <div class="about main-content" v-for="lancamento in lancamentosFiltrados" :key="lancamento.id">
    <h2 v-if="lancamento.description" class="font1 fontColor1">SOBRE</h2>
    <div v-html="lancamento.description"></div>
    <button class="moreInfo font1 fontSize2" @click="scrollToContent">SABER MAIS</button>
  </div>
</template>

<script>
import axios from 'axios';

export default {
  data() {
    return {
      lancamentos: [],
    };
  },
  created() {
    this.fetchLancamentos();
  },
  computed: {
    lancamentosFiltrados() {
      return this.lancamentos.slice(0, 1);
    },
  },
  methods: {
    async fetchLancamentos() {
      try {
        const slug = this.$route.params.slug;
        const response = await axios.get(`https://api.wegoout.com.br/api/releases?slug=${slug}`);
        this.lancamentos = response.data.data;
      } catch (error) {
        console.error('Erro ao buscar lançamentos:', error);
      }
    },
    scrollToContent() {
      const contentElement = document.querySelector('.main-content');
      if (contentElement) {
        const offset = 100;
        const rect = contentElement.getBoundingClientRect();
        const currentScrollY = window.scrollY;
        const targetScrollY = rect.top + currentScrollY - offset;
        window.scrollTo({
          top: targetScrollY,
          behavior: 'smooth',
        });
      }
    },
  },
  watch: {
    '$route.params.slug'(newSlug, oldSlug) {
      if (newSlug !== oldSlug) {
        this.fetchLancamentos(); // Carrega os dados do novo lançamento quando o Slug da rota muda
      }
    }
  },
};
</script>
