<template>
  <div class="guide" v-for="lancamento in lancamentosFiltrados" :key="lancamento.id">
    <div class="title">
      <h2 class="font1 fontColor1">ARTISTAS</h2>
    </div>
    <div class="listGuide">
      <div class="item" v-for="artista in lancamento.artists" :key="artista.id">
        <router-link :to="`/artistas/${artista.slug}`">
          <figure>
            <img
              :src="artista.images?.large ? artista.images.large : artista.image"
              :alt="artista.name"
            />
          </figure>
          <h2 class="font1 fontSize3 fontColor1">{{ artista.name }} </h2>
        </router-link>
      </div>
    </div>
  </div>
</template>

<script>
import axios from 'axios';

export default {
  data() {
    return {
      lancamentos: [],
    };
  },
  created() {
    this.fetchLancamentos();
  },
  computed: {
    lancamentosFiltrados() {
      return this.lancamentos.slice(0, 1);
    },
  },
  methods: {
    async fetchLancamentos() {
      try {
        const slug = this.$route.params.slug;
        const response = await axios.get(`https://api.wegoout.com.br/api/releases?slug=${slug}`);
        this.lancamentos = response.data.data;
      } catch (error) {
        console.error('Erro ao buscar lançamentos:', error);
      }
    },
  },
  watch: {
    '$route.params.slug'(newSlug, oldSlug) {
      if (newSlug !== oldSlug) {
        this.fetchLancamentos(); // Carrega os dados do novo lançamento quando o Slug da rota muda
      }
    }
  },
};
</script>