<template>
  <div>
    <div class="discountModal" v-if="evento.coupon_code">
      <div>
        <button class="closeDiscount" @click="hideModal"></button>
        <h2>Use o cupom para comprar:</h2>
        <h3>{{ evento.coupon_code }}</h3>
        <p>
          Insira o código no campo de cupom para ativar o desconto!
        </p>
        <a :href="evento.tickets_link" class="nextDiscount" target="_blank">Avançar</a>
      </div>
    </div>      
  </div>
</template>

<script>
export default {
  props: {
    evento: {
      type: Object,
    },
  },
  methods: {
    hideModal() {
      document.body.classList.remove('showModal');
    }
  },
};
</script>