<template>
  <div class="eventMain">
    <div class="photo">
      <img
        :src="evento.images?.thumb ? evento.images.thumb : evento.image"
        :alt="evento.name"
        class="photoBackground"
      />

      <div class="photoArtist">
        <figure>
          <img
            :src="evento.images?.full ? evento.images.full : evento.image"
            :alt="evento.name"
          />
        </figure>
      </div>
    </div>
    <div class="complementContent">
      <h1>
        {{ evento.name }}
        <span class="tag1"
        :class="{
        'backgroundBlue': evento.event_type.name === 'Música',
        'backgroundLightGreen': evento.event_type.name === 'Entrevista',
        'backgroundWaterBlue': evento.event_type.name === 'Fica a Dica',
        'backgroundOrange': evento.event_type.name === 'Cena',
        'backgroundPink': evento.event_type.name === 'Festa',
        'backgroundSalmon': evento.event_type.name === 'Guia',
        'backgroundPurple': evento.event_type.name === 'Festival',
        'backgroundGreen': evento.event_type.name === 'Lista',
        'backgroundYellow': evento.event_type.name === 'Show',
        'backgroundFuchsia': evento.event_type.name === 'Carnaval',
        'backgroundLime': evento.event_type.name === 'Réveillon',
        'backgroundPurple2': evento.event_type.name === 'Quanto custa',
        'backgroundGray2': evento.event_type.name === 'Review'
        }">
          {{ evento && evento.event_type ? evento.event_type.name : '' }}
        </span>

      </h1>
      <div class="description">
        <div class="calendarWrapper">
          <p class="calendar icon">
            <template v-if="evento.end_date">
              <template v-if="formatDate(evento.start_date) == formatDate(evento.end_date)">
                {{ formatDate(evento.start_date) }}
              </template>
              <template v-else>
                <template v-if="formatDate4(evento.start_date) == formatDate4(evento.end_date)">
                  {{ formatDate2(evento.start_date) }} a {{ formatDate(evento.end_date) }}
                </template>
                <template v-else>
                  {{ formatDate(evento.start_date) }} a {{ formatDate(evento.end_date) }}
                </template>
              </template>
            </template>
            <template v-else>
              {{ formatDate(evento.start_date) }}
            </template>
          </p>
          <p class="clock icon" v-if="evento.start_date && formatDate3(evento.start_date) !== '11:11'">
            <template v-if="evento.end_date">
              <template v-if="evento.start_date == evento.end_date">
                {{ formatDate3(evento.start_date) }}
              </template>
              <template v-else>
                <template v-if="formatDate3(evento.end_date) == '11:11'">
                  {{ formatDate3(evento.start_date) }}
                </template>
                <template v-else>
                  {{ formatDate3(evento.start_date) }} às {{ formatDate3(evento.end_date) }}
                </template>
              </template>
            </template>
            <template v-else>
              {{ formatDate3(evento.start_date) }}
            </template>
          </p>
        </div>
        <div class="houseWrapper" v-if="evento.location">
          <div class="linkWrapper">
            <p class="house icon">
              {{ evento.location && evento.location.name ? evento.location.name : '' }}              
              <template v-if="evento.location.address">
                - {{ evento.location.address }}
              </template>
            </p>
            <p class="place icon">
              {{ evento.location && evento.location.city && evento.location.city.name ? evento.location.city.name : '' }} -
              {{ evento.location && evento.location.city && evento.location.city.state && evento.location.city.state.abbr ? evento.location.city.state.abbr : '' }}
            </p>
          </div>
          <a target="_blank" :href="`https://www.google.com/maps/search/${evento.location && evento.location.name ? evento.location.name : ''}/@${evento.location && evento.location.latitude ? evento.location.latitude : ''},${evento.location && evento.location.longitude ? evento.location.longitude : ''},17z/data=!3m1!4b1?entry=ttu`">Como chegar</a>
        </div>
      </div>
      <div>
        
        <template v-if="calculateTimeRemaining(evento.start_date).days <= 0">
          <template v-if="evento.end_date && isDateBeforeNow(evento.end_date)">
            <p class="timeCounter">
              Este evento já passou.
              <router-link to="/eventos">
                Confira outros eventos
              </router-link>
            </p>
          </template>
          <template v-else>
            <template v-if="(!evento.end_date && isDateBeforeNow(evento.start_date))">
              <p class="timeCounter">
                Este evento já passou.
                <router-link to="/eventos">
                  Confira outros eventos
                </router-link>
              </p>
            </template>
            <template v-else>
              <p class="timeCounter">Este evento está acontecendo.</p>
              <div v-if="evento.coupon_code !== null && parseInt(evento.has_discount) === 1 && evento.tickets_link !== null">
                <button class="modalDiscountButton" @click="showModal">COMPRAR COM DESCONTO</button>
              </div>
              <div v-else-if="evento.coupon_code === null && parseInt(evento.has_discount) === 1 && evento.tickets_link !== null">
                <a :href="evento.tickets_link" class="mainButton" target="_blank">COMPRAR COM DESCONTO</a>
              </div>
              <div v-else-if="evento.coupon_code === null && parseInt(evento.has_discount) === 0 && evento.tickets_link !== null">
                <a :href="evento.tickets_link" target="_blank" class="mainButton openModal">COMPRAR</a>
              </div>
            </template>
          </template>
        </template>
        <template v-else>
          <p class="timeCounter">
            Faltam {{ calculateTimeRemaining(evento.start_date).days }} dia{{ calculateTimeRemaining(evento.start_date).days === 1 ? '' : 's' }}, {{ calculateTimeRemaining(evento.start_date).hours }} hora{{ calculateTimeRemaining(evento.start_date).hours === 1 ? '' : 's' }} e {{ calculateTimeRemaining(evento.start_date).minutes }} minuto{{ calculateTimeRemaining(evento.start_date).minutes === 1 ? '' : 's' }} para o evento.
          </p>
          <div v-if="evento.coupon_code !== null && parseInt(evento.has_discount) === 1 && evento.tickets_link !== null">
            <button class="modalDiscountButton" @click="showModal">COMPRAR COM DESCONTO</button>
          </div>
          <div v-else-if="evento.coupon_code === null && parseInt(evento.has_discount) === 1 && evento.tickets_link !== null">
            <a :href="evento.tickets_link" class="mainButton" target="_blank">COMPRAR COM DESCONTO</a>
          </div>
          <div v-else-if="evento.coupon_code === null && parseInt(evento.has_discount) === 0 && evento.tickets_link !== null">
            <a :href="evento.tickets_link" target="_blank" class="mainButton openModal">COMPRAR</a>
          </div>
        </template>

      </div>
    </div>
  </div>
</template>

<script>

export default {
  props: {
    evento: {
      type: Object,
    },
  },
  data() {
    return {
      //eventos: [],
      timeRemaining: [],
    };
  },
  methods: {
    isDateBeforeNow(dateString) {
      if (!dateString) {
        return false; // Se a data for nula, retorna falso
      }

      const end_date = new Date(dateString);
      const current_date = new Date();

      return end_date < current_date;
    },
    formatDate(dateString) {
      const months = [
        'janeiro', 'fevereiro', 'março', 'abril', 'maio', 'junho',
        'julho', 'agosto', 'setembro', 'outubro', 'novembro', 'dezembro'
      ];
      const date = new Date(dateString);
      const day = date.getDate();
      const month = months[date.getMonth()];
      return `${day} de ${month}`;
    },
    formatDate2(dateString) {
      const date = new Date(dateString);
      const day = date.getDate();
      return `${day}`;
    },
    formatDate3(startDateString) {
      const startDate = new Date(startDateString);
      const startHours = startDate.getHours();
      const startMinutes = startDate.getMinutes();
      return `${startHours}:${startMinutes.toString().padStart(2, '0')}`;
    },
    formatDate4(dateString) {
      const date = new Date(dateString);
      const month = date.getMonth() + 1;
      return `${month}`;
    },
    calculateTimeRemaining(startDateString) {
      const startDate = new Date(startDateString);
      const currentDate = new Date();
      const timeRemaining = startDate - currentDate;
      const days = Math.floor(timeRemaining / (1000 * 60 * 60 * 24));
      const hours = Math.floor((timeRemaining % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
      const minutes = Math.floor((timeRemaining % (1000 * 60 * 60)) / (1000 * 60));
      return {
        days,
        hours,
        minutes
      };
    },
    showModal() {
      document.body.classList.add('showModal');
    }
  },
};
</script>

