<template>
  <div>
    <div class="similar">
      <h2 class="title">Parecidos com {{ evento.name}}</h2>
      <div>
        <Carousel class="carouselEvents carouselMargin" v-bind="carouselOptions" :breakpoints="carouselBreakpoints">
          <Slide class="item" v-for="relacionado in relacionados" :key="relacionado.id">
            <router-link :to="`/eventos/${relacionado.slug}`">
              <figure>
                <img
                  :src="relacionado.images?.large ? relacionado.images.large : relacionado.image"
                  :alt="relacionado.name"
                />
                <span class="font2 fontSize2 fontColor3 tag"
                :class="{
                'backgroundBlue': relacionado.event_type.name === 'Música',
                'backgroundLightGreen': relacionado.event_type.name === 'Entrevista',
                'backgroundWaterBlue': relacionado.event_type.name === 'Fica a Dica',
                'backgroundOrange': relacionado.event_type.name === 'Cena',
                'backgroundPink': relacionado.event_type.name === 'Festa',
                'backgroundSalmon': relacionado.event_type.name === 'Guia',
                'backgroundPurple': relacionado.event_type.name === 'Festival',
                'backgroundGreen': relacionado.event_type.name === 'Lista',
                'backgroundYellow': relacionado.event_type.name === 'Show',
                'backgroundFuchsia': relacionado.event_type.name === 'Carnaval',
                'backgroundLime': relacionado.event_type.name === 'Réveillon',
                'backgroundPurple2': relacionado.event_type.name === 'Quanto custa',
                'backgroundGray2': relacionado.event_type.name === 'Review'
                }">
                  {{ relacionado.event_type.name }}
                </span>
              </figure>
              <div class="text">
                <h2 class="font1 fontColor1 fontSize7">
                  {{ relacionado.name }}
                </h2>
                <div class="star" v-if="relacionado.artists > 0">
                  <img
                    class="littleIcon"
                    :src="require('@/assets/images/icone-estrela-dark.svg?17072023')"
                    alt="icone estrela"
                  />
                  <p class="font2 fontColor1 fontSize3">
                    {{ formatSimpleList(relacionado.artists, 3) }}
                  </p>
                </div>
                <div class="calendar">
                  <img
                    class="littleIcon date"
                    :src="require('@/assets/images/icone-calendario-dark.svg?17072023')"
                    alt="icone calendário"
                  />
                  <p class="font2 fontColor1 fontSize3">
                    <template v-if="relacionado.end_date">
                      <template v-if="formatDate(relacionado.start_date) == formatDate(relacionado.end_date)">
                        {{ formatDate(relacionado.start_date) }}
                      </template>
                      <template v-else>
                        <template v-if="formatDate4(relacionado.start_date) == formatDate4(relacionado.end_date)">
                          {{ formatDate2(relacionado.start_date) }} a {{ formatDate(relacionado.end_date) }}
                        </template>
                        <template v-else>
                          {{ formatDate(relacionado.start_date) }} a {{ formatDate(relacionado.end_date) }}
                        </template>
                      </template>
                    </template>
                    <template v-else>
                      {{ formatDate(relacionado.start_date) }}
                    </template>
                  </p>
                </div>
              </div>
              <div v-if="relacionado.has_discount !== '0' && evento.has_discount !== null && evento.has_discount !== ''" class="tagPromoDiv">
                <span class="font1 fontSize2 fontColor3 tagPromo">DESCONTO WE GO OUT</span>
                <span class="fontColor3 tagPromoTip"></span>
              </div>
            </router-link>
          </Slide>
          <template #addons>
            <Navigation />
          </template>
        </Carousel>
      </div>
    </div>

  </div>
</template>

<script>
import axios from 'axios';
import { Carousel, Slide, Navigation } from 'vue3-carousel';
import 'vue3-carousel/dist/carousel.css';

export default {
  props: {
    evento: {
      type: Object,
    },
  },
  data() {
    return {
      relacionados: [],
      carouselOptions: {
        snapAlign: 'start'
      },
      carouselBreakpoints: {
        0: {
          itemsToShow: 2,
        },
        1024: {
          itemsToShow: 5,
        },
      },
    };
  },
  components: {
    Carousel,
    Slide,
    Navigation,
  },
  methods: {
    async fetchEventos() {
      try {
        const response = await axios.get(`https://api.wegoout.com.br/api/events?event_type_id=${this.evento.event_type.id}&future=true`);
        this.relacionados = response.data.data;
      } catch (error) {
        if (error.response && error.response.status === 429) {
          setTimeout(() => {
            this.fetchEventos();
          }, 10000);
        } else {
          console.error('Erro ao buscar eventos:', error);
        }
      }
    },
    formatDate(dateString) {
      const months = [
        'janeiro', 'fevereiro', 'março', 'abril', 'maio', 'junho',
        'julho', 'agosto', 'setembro', 'outubro', 'novembro', 'dezembro'
      ];
      const date = new Date(dateString);
      const day = date.getDate();
      const month = months[date.getMonth()];
      return `${day} de ${month}`;
    },
    formatDate2(dateString) {
      const date = new Date(dateString);
      const day = date.getDate();
      return `${day}`;
    },
    formatDate4(dateString) {
      const date = new Date(dateString);
      const month = date.getMonth() + 1;
      return `${month}`;
    },
    formatSimpleList(list) {
      const formattedList = list.map((item) => item.name);
      if (formattedList.length === 1) {
        return formattedList[0];
      } else if (formattedList.length === 2) {
        return formattedList.join(' e ');
      } else if (formattedList.length === 3) {
        return `${formattedList[0]}, ${formattedList[1]} e ${formattedList[2]}`;
      } else {
        const firstItems = formattedList.slice(0, 3).join(', ');
        const extraCount = formattedList.length - 3;
        return `${firstItems} e + ${extraCount}`;
      }
    },
  },
  watch: {
    '$route.params.slug'(newSlug, oldSlug) {
      if (newSlug !== oldSlug) {
        this.fetchEventos();
      }
    }
  },
  created() {
    this.fetchEventos();
  },
};
</script>
