<template>
  <div>
    <div>
      <div>
        <p>{{ noticia.author.name }}</p>
        <img :src="noticia.author.image" />
        <p>{{ noticia.author.biography }}</p>
        <p>redes</p> 
      </div>
    </div>
  </div>
</template>

<script>
import axios from 'axios';

export default {
  props: {
    noticia: {
      type: Object,
    },
  },
  data() {
    return {
      //noticia: [],
    };
  },
  created() {
    this.fetchNoticia();
  },
  computed: {
    noticiaFiltrados() {
      return this.noticia.slice(0, 1);
    },
  },
  methods: {
    async fetchNoticia() {
      //try {
      //  const slug = this.$route.params.slug;
      //  const response = await axios.get(`https://api.wegoout.com.br/api/news?slug=${slug}`);
      //  this.noticia = response.data.data;
      //} catch (error) {
      //  console.error('Erro ao buscar noticia:', error);
      //}
    },
  },
  //watch: {
  //  '$route.params.slug'(newSlug, oldSlug) {
  //    if (newSlug !== oldSlug) {
  //      this.fetchNoticia(); // Carrega os dados da nova notícia quando o Slug da rota muda
  //    }
  //  }
  //},
};
</script>