<template>
  <div class="releaseHighlights">
    <div v-for="lancamento in lancamentosFiltrados" :key="lancamento.id">
      <div class="title">
        <div class="text">
          <h2 class="font1 fontColor1">Outros lançamentos</h2>
        </div>
      </div>
      <Carousel class="carouselRelease carouselMargin" v-bind="carouselOptions" :breakpoints="carouselBreakpoints">
        <Slide class="item" v-for="lancamentoRelacionado in lancamentosRelacionados" :key="lancamentoRelacionado.id">
          <router-link :to="`/lancamentos/${lancamentoRelacionado.slug}`">
            <figure>
              <img
                :src="lancamentoRelacionado.images?.large ? lancamentoRelacionado.images.large : lancamentoRelacionado.image"
                :alt="lancamentoRelacionado.name"
              />
            </figure>
            <div>
              <h3 class="font1 fontSize4 fontColor1">{{ lancamentoRelacionado.name }}</h3>
              <p class="font2 fontSize4 fontColor1" v-if="lancamentoRelacionado.artists.length > 0">{{ formatSimpleList(lancamentoRelacionado.artists, 3) }}</p>
            </div>
          </router-link>
        </Slide>
        <template #addons>
          <Navigation />
        </template>
      </Carousel>
    </div>
  </div>
</template>

<script>
import axios from 'axios';
import { Carousel, Slide, Navigation } from 'vue3-carousel';
import 'vue3-carousel/dist/carousel.css';

export default {
  data() {
    return {
      lancamentos: [],
      lancamentosRelacionados: [],
      carouselOptions: {
        itemsToShow: 1,
      },
      carouselBreakpoints: {
        700: {
          itemsToShow: 2,
        },
        1024: {
          itemsToShow: 5,
        },
      },
    };
  },
  components: {
    Carousel,
    Slide,
    Navigation,
  },
  created() {
    this.fetchLancamentos();
  },
  computed: {
    lancamentosFiltrados() {
      return this.lancamentos.slice(0, 1);
    },
  },
  methods: {
    async fetchLancamentos() {
      try {
        const slug = this.$route.params.slug; 
        const response = await axios.get(`https://api.wegoout.com.br/api/releases?slug=${slug}`);
        this.lancamentos = response.data.data;
        const generoIds = this.lancamentos[0].genres.map(genero => genero.id).join(',');
        const responseRelacionados = await axios.get(`https://api.wegoout.com.br/api/releases?genre_id=${generoIds}`);
        this.lancamentosRelacionados = responseRelacionados.data.data.filter(item => item.slug !== this.lancamentos[0].slug);
      } catch (error) {
        console.error('Erro ao buscar lançamentos:', error);
      }
    },
    formatSimpleList(list) {
      const formattedList = list.map((item) => item.name);
      if (formattedList.length === 1) {
        return formattedList[0];
      } else if (formattedList.length === 2) {
        return formattedList.join(' e ');
      } else if (formattedList.length === 3) {
        return `${formattedList[0]}, ${formattedList[1]} e ${formattedList[2]}`;
      } else {
        const firstItems = formattedList.slice(0, 3).join(', ');
        const extraCount = formattedList.length - 3;
        return `${firstItems} e + ${extraCount}`;
      }
    },
  },
  watch: {
    '$route.params.id'(newId, oldId) {
      if (newId !== oldId) {
        this.fetchLancamentos(); // Carrega os dados do novo lançamento quando o ID da rota muda
      }
    }
  },
};
</script>