<template>
  <div class="fixedContent container-sticky-right">
    <div class="container-sticky-right-fixed fixedTrue">
      <div class="icons">
        <a target="_blank" v-for="social in artista.social_media" :key="social.id" :href="social.pivot.link" :class="social.name">
        </a>
      </div>
      <h1 class="font1 fontColor3">
        {{ artista.name }}
      </h1>
      <p v-if="artista.country" class="country font2 fontColor3">
        {{ artista.country.country_name }}
      </p>
      <div class="iconWrapper" v-if="artista.companies.length > 0">
        <p class="record font2 fontColor3">
          {{ formatSimpleList(artista.companies, 3) }}
        </p>
      </div>
      <div v-html="artista.embed"></div>
    </div>    
  </div>
</template>

<script>

export default {
  props: {
    artista: {
      type: Object,
    },
  },
  methods: {
    formatSimpleList(list) {
      const formattedList = list.map((item) => item.name);
      if (formattedList.length === 1) {
        return formattedList[0];
      } else if (formattedList.length === 2) {
        return formattedList.join(' e ');
      } else if (formattedList.length === 3) {
        return `${formattedList[0]}, ${formattedList[1]} e ${formattedList[2]}`;
      } else {
        const firstItems = formattedList.slice(0, 3).join(', ');
        const extraCount = formattedList.length - 3;
        return `${firstItems} e + ${extraCount}`;
      }
    }
  },
};
</script>
