<template>
  <div class="menuExtra">
    <div class="fixedTrue">
      <!--<h2 class="font1 fontColor1">CONFIRA MAIS</h2>-->
      <div class="links">
          <h3>Receba cupons de desconto e mais informações sobre festas.</h3>
          <a target="_blank" href="https://share.hsforms.com/1TVxuNHLARMuFq92jGjdViQe4tbl">Saber mais</a>
      </div>
      <div class="links">
          <h3>Confira nossos grupos exclusivos de WhatsApp.</h3>
          <router-link to="/together">Saber mais</router-link>
      </div>
      <div class="links">
          <h3>Siga também nosso perfil no Instagram.</h3>
          <a class="follow" target="_blank" href="https://www.instagram.com/wegoout/">@wegoout</a>
      </div>
    </div>
  </div> 
</template>

<script>
// empty
</script>
