<template>
  <div>
    <div id="artists" class="artists" v-if="evento.artists.length > 0">
      <div class="title">
        <h2>ARTISTAS em {{ evento.name }}</h2>
        <span>({{ evento.artists.length }})</span>
      </div>
      <ul>
        <li class="item" v-for="artist in displayedArtists" :key="artist.id">
          <router-link :to="`/artistas/${artist.slug}`">
            <figure>
              <img
                :src="artist.images?.medium ? artist.images.medium : artist.image"
                :alt="artist.name"
              />
            </figure>
            <h3 class="font1 fontSize4 fontColor1">
              {{ artist.name }}
            </h3>
          </router-link>
        </li>
      </ul>
      <a v-if="evento.artists.length > 10" href="#artists" class="viewAllArtist" @click="toggleArtistsDisplay">
        {{ showAllArtists ? "Ver menos" : "Exibir todos" }}
      </a>
    </div>
    <div class="tickets" v-if="evento.price !== null || evento.tickets_link">
      <div class="title">
        <h2>INGRESSOS</h2>
      </div>
      <div v-if="evento.price" v-html="evento.price"></div>
      <a v-if="evento.tickets_link" :href="evento.tickets_link">
        Comprar agora
      </a>
    </div>
    <div class="hotels" v-if="evento.host_links && evento.host_links.length > 0">
      <div class="title">
        <h2>ONDE SE HOSPEDAR</h2>
      </div>
      <div class="option" v-for="host in evento.host_links" :key="host.id">
        <div class="textWrapper">
          <h3>{{ host.title }}</h3>
          <p v-if="host.description">
            {{ host.description }}
          </p>
        </div>
        <a :href="host.link" target="_blank">Reservar</a>
      </div>
    </div>
    <div class="together" v-if="evento.togethers && evento.togethers.length > 0">
      <div class="title">
        <h2>WE GO OUT TOGETHER</h2>
      </div>
      <p>
        Faça parte do nosso grupo de WhatsApp desse evento para ter benefícios exclusivos, cupons de desconto e acesso as melhores dicas até o evento. <router-link to="/together">Clique aqui</router-link> e veja todos os nosso grupos.
      </p>
      <ul>
        <li class="item" v-for="together in evento.togethers" :key="together.id">
          <a :href="together.link">
            <figure>
              <img
                :src="together.images?.medium ? together.images.medium : together.image"
                :alt="together.name"
              />
            </figure>
            <h3 class="font1 fontSize4 fontColor1">{{ together.name }}</h3>
          </a>
        </li>
      </ul>
    </div>
    <div class="getInTheMood" v-if="evento.playlist">
      <div class="title">
        <h2>ENTRE NO CLIMA</h2>
      </div>
      <div v-html="evento.playlist"></div>
    </div>
    <div class="questions" v-if="evento.FAQ && evento.FAQ.length > 0">
      <div class="title">
        <h2>DÚVIDAS FREQUENTES</h2>
      </div>
      <div class="question" v-for="question in evento.FAQ" :key="question.id">
        <h3>{{ question.ask }}</h3>
        <p>{{ question.answer }}</p>
      </div> 
    </div>
    <div class="more" v-if="evento.details">
      <h2 class="title">MAIS DETALHES</h2>
      <div class="event-details" v-html="evento.details"></div>
    </div>
    <!-- alerta: texto de detalhes está sendo usado para ser exibido logo antes do texto de ingressos, por falta de outro campo, assim, os detalhes que viriam aqui não existem no banco, ou aquele outro campo precisa ser criado --> 
    <!-- alerta: não são entregues no endpoint do evento as suas notícias relacionadas, da mesma forma como são entregues as questões relacionadas, por exemplo --> 

    <div class="news" v-if="evento.news && evento.news.length > 0">
      <div class="title">
        <h2 class="font1 fontSize6 fontColor1">NOTÍCIAS SOBRE O EVENTO</h2>
        <router-link v-if="evento.news.length > 5" :to="`/noticias?event_id=${evento.id}`" class="seeAll">VER TUDO</router-link>
      </div>
      <ul>
        <li v-for="relatedNew in firstFiveNews" :key="relatedNew.id">
          
          <router-link :to="`/noticias/${relatedNew.slug}`">
            <figure>
              <img
                :src="relatedNew.images?.medium ? relatedNew.images.medium : relatedNew.image"
                :alt="relatedNew.title"
              />
              <span class="font2 fontSize2 fontColor3 tag"
                :class="{
                'backgroundBlue': relatedNew.category.name === 'Música',
                'backgroundLightGreen': relatedNew.category.name === 'Entrevista',
                'backgroundWaterBlue': relatedNew.category.name === 'Fica a Dica',
                'backgroundOrange': relatedNew.category.name === 'Cena',
                'backgroundPink': relatedNew.category.name === 'Festa',
                'backgroundSalmon': relatedNew.category.name === 'Guia',
                'backgroundPurple': relatedNew.category.name === 'Festival',
                'backgroundGreen': relatedNew.category.name === 'Lista',
                'backgroundYellow': relatedNew.category.name === 'Show',
                'backgroundFuchsia': relatedNew.category.name === 'Carnaval',
                'backgroundLime': relatedNew.category.name === 'Réveillon',
                'backgroundPurple2': relatedNew.category.name === 'Quanto custa',
                'backgroundGray2': relatedNew.category.name === 'Review'
                }">
                {{ relatedNew.category.name }}
              </span>
            </figure>
            <div>
              <h3 class="font1 fontSize5 fontColor1">
                {{ relatedNew.title }}
              </h3>
              <span class="font2 fontColor2">
                {{ formatDate(relatedNew.public_date) }}
              </span>
            </div>
          </router-link>
        </li>
      </ul>
    </div>
  </div>
</template>

<script>

export default {
  props: {
    evento: {
      type: Object,
    },
  },
  data() {
    return {
      //eventos: [],
      showAllArtists: false,
    };
  },
  computed: {
    firstFiveNews() {
      return this.evento.news.slice(0, 5);
    },
    displayedArtists() {
      if (this.showAllArtists) {
        return this.evento.artists;
      } else {
        return this.evento.artists.slice(0, 10);
      }
    },
  },
  methods: {
    formatDate(dateString) {
      const months = [
        'janeiro', 'fevereiro', 'março', 'abril', 'maio', 'junho',
        'julho', 'agosto', 'setembro', 'outubro', 'novembro', 'dezembro'
      ];
      const date = new Date(dateString);
      const day = date.getDate();
      const month = months[date.getMonth()];
      return `${day} de ${month}`;
    },
    toggleArtistsDisplay() {
      this.showAllArtists = !this.showAllArtists;
    },
  },
};
</script>