<template>
  <div class="container">
    <div class="newsMain">
      <div class="content">
        <div class="text">
          <span
          v-if="noticia.category"
          class="tag"
          :class="{
          'backgroundBlue': noticia.category.name === 'Música',
          'backgroundLightGreen': noticia.category.name === 'Entrevista',
          'backgroundWaterBlue': noticia.category.name === 'Fica a Dica',
          'backgroundOrange': noticia.category.name === 'Cena',
          'backgroundPink': noticia.category.name === 'Festa',
          'backgroundSalmon': noticia.category.name === 'Guia',
          'backgroundPurple': noticia.category.name === 'Festival',
          'backgroundGreen': noticia.category.name === 'Lista',
          'backgroundYellow': noticia.category.name === 'Show',
          'backgroundFuchsia': noticia.category.name === 'Carnaval',
          'backgroundLime': noticia.category.name === 'Réveillon',
          'backgroundPurple2': noticia.category.name === 'Quanto custa',
          'backgroundGray2': noticia.category.name === 'Review'
          }"
          >
            {{ noticia.category.name }}
          </span>
          <h1>{{ noticia.title }}</h1>
          <div class="description">
            <div class="profile">
              <img :src="noticia.author?.image" :alt="noticia.author?.name" />
              <h3>{{ noticia.author?.name }}</h3>
            </div>
            <div class="date">
              <h3>{{ formatDate(noticia.public_date) }}</h3>
            </div>
          </div>
        </div>
      </div>
      <div class="photo">
        <div class="photoArtist">
          <img :src="noticia.images?.full ? noticia.images.full : noticia.image" :alt="noticia.title" />
          <span
          v-if="noticia.category"
          class="tag tag2"
          :class="{
          'backgroundBlue': noticia.category.name === 'Música',
          'backgroundLightGreen': noticia.category.name === 'Entrevista',
          'backgroundWaterBlue': noticia.category.name === 'Fica a Dica',
          'backgroundOrange': noticia.category.name === 'Cena',
          'backgroundPink': noticia.category.name === 'Festa',
          'backgroundSalmon': noticia.category.name === 'Guia',
          'backgroundPurple': noticia.category.name === 'Festival',
          'backgroundGreen': noticia.category.name === 'Lista',
          'backgroundYellow': noticia.category.name === 'Show',
          'backgroundFuchsia': noticia.category.name === 'Carnaval',
          'backgroundLime': noticia.category.name === 'Reveillon'
          }"
          >
            {{ noticia.category.name }}
          </span>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
// import axios from "axios";

export default {
  props: {
    noticia: {
      type: Object,
    },
  },
  data() {
    return {
      // noticia: [],
    };
  },
  created() {
    this.fetchNoticia();
  },
  computed: {
    // noticiaFiltrados() {
    //   return this.noticia.slice(0, 1);
    // },
  },
  methods: {
    async fetchNoticia() {
      // try {
      //   const slug = this.$route.params.slug;
      //   const response = await axios.get(
      //     `https://api.wegoout.com.br/api/news?slug=${slug}`
      //   );
      //   this.noticia = response.data.data;
      // } catch (error) {
      //   console.error("Erro ao buscar noticia:", error);
      // }
    },
    formatDate(dateString) {
      const months = [
        "janeiro",
        "fevereiro",
        "março",
        "abril",
        "maio",
        "junho",
        "julho",
        "agosto",
        "setembro",
        "outubro",
        "novembro",
        "dezembro",
      ];
      const date = new Date(dateString);
      const day = date.getDate();
      const month = months[date.getMonth()];
      const year = date.getFullYear(); // Obtém o ano
      return `${day} de ${month} de ${year}`;
    },
  },
  // watch: {
  //   "$route.params.slug"(newSlug, oldSlug) {
  //     if (newSlug !== oldSlug) {
  //       this.fetchNoticia(); // Carrega os dados da nova notícia quando o Slug da rota muda
  //     }
  //   },
  // },
};
</script>
