<template>
  <div class="info main-content">
    <div>

      

      <div style="padding: 100px; background-color: red;" v-if="$route.path === '/noticias/teste-de-embed'">
        <iframe class="ql-video" frameborder="0" allowfullscreen="true" src="https://www.youtube.com/embed/Chz92EotBuY"></iframe>
      </div>

      <div
        class="content main-content"
        v-html="noticia.formatted_content"
      ></div>


      <div class="share">
        <div class="border"></div>
        <h3>Compartilhe este conteúdo</h3>
        <nav>
          <button class="link" @click="copyToClipboard"></button>
          <a
            class="facebook"
            :href="'https://www.facebook.com/sharer/sharer.php?u=' + activeUrl"
          ></a>
          <a
            class="whatsapp"
            :href="'https://web.whatsapp.com/send?text=' + activeUrl"
          ></a>
          <a
            class="twitter"
            :href="'https://twitter.com/intent/tweet?url=' + activeUrl"
          ></a>
        </nav>
      </div>
      <div class="seeMore">
        <div class="profile">
          <div class="signature-text">
            <img :src="noticia.author.image" :alt="noticia.author.name" />
          </div>
          <div>
            <h2>{{ noticia.author.name }}</h2>
            <p>{{ noticia.author.biography }}</p>
            <nav>
              <a target="_blank" v-for="social in noticia.author.social_media" :key="social.id" :href="social.pivot.link" :class="social.name">
              </a>
            </nav>
          </div>
        </div>
        <div class="see-more-new">
          <h2 class="font1 fontColor1">CONFIRA MAIS</h2>
          <div class="links">
            <h3>Receba cupons de desconto e mais informações sobre festas:</h3>
            <a href="https://chat.whatsapp.com/KfgaLf3txzj9oEu7l4x5H0"
              >Saber mais</a
            >
          </div>
          <div class="links">
            <h3>Confira nossos grupos exclusivos de WhatsApp.</h3>
            <router-link to="/together">Saber mais</router-link>
          </div>
          <div class="links">
            <h3>Siga também nosso perfil no Instagram.</h3>
            <a
              class="follow"
              target="_blank"
              href="https://www.instagram.com/wegoout/"
              >@wegoout</a
            >
          </div>
        </div>
      </div>
      <span class="moreInfo font1 fontSize2 read-more" @click="scrollToContent"
        >Ler mais</span
      >
    </div>
  </div>
</template>

<script>
// import axios from "axios";

export default {
  props: {
    noticia: {
      type: Object,
    },
  },
  data() {
    return {
      // noticia: [],
    };
  },
  created() {
    this.fetchNoticia();
  },
  computed: {
    // noticiaFiltrados() {
    //   return this.noticia.slice(0, 1);
    // },
    activeUrl() {
      const baseUrl = new URL(
        this.$router.options.base,
        window.location.origin
      );
      const currentPath = this.$route.path;
      const fullPath = new URL(currentPath, baseUrl);
      return fullPath.href;
    },
  },
  methods: {
    async fetchNoticia() {
      // try {
      //   const slug = this.$route.params.slug;
      //   const response = await axios.get(
      //     `https://api.wegoout.com.br/api/news?slug=${slug}`
      //   );
      //   this.noticia = response.data.data;
      // } catch (error) {
      //   console.error("Erro ao buscar noticia:", error);
      // }
    },
    formatDate(dateString) {
      const months = [
        "janeiro",
        "fevereiro",
        "março",
        "abril",
        "maio",
        "junho",
        "julho",
        "agosto",
        "setembro",
        "outubro",
        "novembro",
        "dezembro",
      ];
      const date = new Date(dateString);
      const day = date.getDate();
      const month = months[date.getMonth()];
      const year = date.getFullYear(); // Obtém o ano
      return `${day} de ${month} de ${year}`;
    },
    copyToClipboard() {
      const dummyInput = document.createElement("input");
      dummyInput.value = this.activeUrl;
      document.body.appendChild(dummyInput);
      dummyInput.select();
      document.execCommand("copy");
      document.body.removeChild(dummyInput);
      document.body.classList.add("modalAlertActive");
      setTimeout(() => {
        document.body.classList.remove("modalAlertActive");
      }, 5000);
    },
    scrollToContent() {
      const contentElement = document.querySelector(".main-content");
      if (contentElement) {
        const offset = 100;
        const rect = contentElement.getBoundingClientRect();
        const currentScrollY = window.scrollY;
        const targetScrollY = rect.top + currentScrollY - offset;

        window.scrollTo({
          top: targetScrollY,
          behavior: "smooth",
        });
      }
    },
  },
  // watch: {
  //   "$route.params.slug"(newSlug, oldSlug) {
  //     if (newSlug !== oldSlug) {
  //       this.fetchNoticia(); // Carrega os dados da nova notícia quando o Slug da rota muda
  //     }
  //   },
  // },
};
</script>
