<template>
  <div>
    <h2>
      <p style="color: orange;" v-if="eventName">name: {{ eventName }}</p>
      <p style="color: pink;" v-if="internalEventTypeId.length > 0">event_type_id: {{ internalEventTypeId.join(', ') }}</p>
      <p style="color: blue;" v-if="internalArtistId.length > 0">artist_id: {{ internalArtistId.join(', ') }}</p>

      <p style="color: green;" v-if="date">date: {{ date }}</p>
    </h2>
    <hr />
    <ul>
      <li v-for="eventItem in filteredEvents" :key="eventItem.id">
        Nome do evento: <strong style="color: orange;">{{ eventItem.name }}</strong><br/>
        Id do tipo: <strong style="color: pink;">{{ eventItem.event_type_id }}</strong><br/>
        Id do artista: <strong style="color: blue;" v-for="artist in eventItem.artists" :key="artist.id">
          {{ artist.id }},
        </strong><br/>
        Data: <strong style="color: green;">{{ eventItem.start_date }} e {{ eventItem.end_date }}</strong><br/>
      </li>
    </ul>
    <button v-if="currentPage < lastPage" @click="loadMore">Carregar Mais</button>
  </div>
</template>

<script>
export default {
  props: {
    eventName: String,
    eventTypeId: Array,
    artistId: Array,
    date: String,
  },
  data() {
    return {
      events: [],
      currentPage: 1,
      lastPage: 1,
      internalEventName: '',
      internalEventTypeId: [],
      internalArtistId: [],
      internalDate: '',
    };
  },
  computed: {
    filteredEvents() {
      console.log('Filtering events...');
      console.log('eventName:', this.eventName);
      console.log('eventTypeId:', this.internalEventTypeId);
      console.log('artistId:', this.internalArtistId);
      console.log('date:', this.date);

      return this.events.filter((event) => {
        console.log('Event:', event);

        const nameFilter = !this.eventName || event.name.toLowerCase().includes(this.eventName.toLowerCase());

        // lógica de tipo
        const typeIdFilter = this.internalEventTypeId.length === 0 || this.internalEventTypeId[0].length === 0 || this.internalEventTypeId.some(id => event.event_type_id.toString().split(',').includes(id.toString()));

        // lógica de artista
        const artistIdFilter = this.internalArtistId.length === 0 || this.internalArtistId[0].length === 0 || event.artists.some(artist => this.internalArtistId[0].includes(artist.id.toString()));

        const dateFilter = !this.date || (event.start_date.includes(this.date) || event.end_date.includes(this.date));

        const passedAllFilters = nameFilter && typeIdFilter && artistIdFilter && dateFilter;

        console.log('Passed all filters:', passedAllFilters);

        return passedAllFilters;
      });
    },
  },

  mounted() {
    const searchParams = new URLSearchParams(this.$route.query);

    this.internalEventName = searchParams.get('name') || '';
    this.internalEventTypeId = searchParams.getAll('event_type_id');
    this.internalArtistId = searchParams.getAll('artist_id');
    this.internalDate = searchParams.get('date') || '';

    this.fetchEvents();
  },
  methods: {
    async fetchEvents() {
      try {
        let apiUrl = 'https://api.wegoout.com.br/api/events';
        let queryParams = [];
        if (this.internalEventName) {
          queryParams.push(`name=${this.internalEventName}`);
        }
        if (this.internalEventTypeId.length > 0) {
          queryParams.push(`event_type_id=${this.internalEventTypeId.join(',')}`);
        }
        if (this.internalArtistId.length > 0) {
          queryParams.push(`artist_id=${this.internalArtistId.join(',')}`);
        }
        if (this.internalDate) {
          queryParams.push(`date=${this.internalDate}`);
        }
        if (queryParams.length > 0) {
          apiUrl += `?${queryParams.join('&')}`;
        }

        console.log('API URL:', apiUrl);
        
        const response = await fetch(apiUrl);
        const data = await response.json();

        this.lastPage = data.last_page;

        console.log('API Data:', data);
        
        this.events = data.data;
      } catch (error) {
        console.error("Erro ao buscar eventos:", error);
      }
    },
    async loadMore() {
      this.currentPage++;
      await this.fetchNextPage();
    },
    async fetchNextPage() {
      try {
        let apiUrl = 'https://api.wegoout.com.br/api/events';
        let queryParams = [];
        // ... inclua os parâmetros de filtro como antes ...

        // Adicione o parâmetro de página para carregar a próxima página
        queryParams.push(`page=${this.currentPage}`);

        if (queryParams.length > 0) {
          apiUrl += `?${queryParams.join('&')}`;
        }

        const response = await fetch(apiUrl);
        const data = await response.json();
        this.events = this.events.concat(data.data);
      } catch (error) {
        console.error("Erro ao buscar eventos:", error);
      }
    },
  },
};
</script>