<template>
  <form @submit.prevent="submitEvent">
    <!--<div>
      <label for="eventName">Nome do Evento:</label>
      <input type="text" id="eventName" v-model="eventData.name" required>
    </div>
    <div>
      <label for="eventDetails">Detalhes do Evento:</label>
      <textarea id="eventDetails" v-model="eventData.details" required></textarea>
    </div>
    <div>
      <label for="locationId">ID da Localização:</label>
      <input type="text" id="locationId" v-model="eventData.location_id" required>
    </div>
    <div>
      <label for="startDate">Data de Início:</label>
      <input type="datetime-local" id="startDate" v-model="eventData.start_date" required>
    </div>
    <div>
      <label for="endDate">Data de Término:</label>
      <input type="datetime-local" id="endDate" v-model="eventData.end_date" required>
    </div>
    <div>
      <label for="ticketsLink">Link dos Ingressos:</label>
      <input type="text" id="ticketsLink" v-model="eventData.tickets_link">
    </div>
    <div>
      <label for="eventTypeId">ID do Tipo de Evento:</label>
      <input type="text" id="eventTypeId" v-model="eventData.event_type_id">
    </div>
    <div>
      <label for="price">Preço:</label>
      <input type="number" id="price" v-model="eventData.price">
    </div>
    <div>
      <label for="hostLabel">Label do Host:</label>
      <input type="text" id="hostLabel" v-model="eventData.host_label">
    </div>
    <div>
      <label for="hostLink">Link do Host:</label>
      <input type="text" id="hostLink" v-model="eventData.host_link">
    </div>
    <div>
      <label for="playlist">Playlist:</label>
      <input type="text" id="playlist" v-model="eventData.playlist">
    </div>-->
    <button type="submit">Enviar</button>
  </form>
</template>

<script>
import axios from 'axios';

export default {
  data() {
    return {
      eventData: {
		//basic
		name: 'Nome teste',
		details: 'Details teste',
		image: 'https://media.istockphoto.com/id/974238866/pt/foto/audience-listens-to-the-lecturer-at-the-conference.jpg',
		is_draft: 0,
		location_id: 1,
		event_type_id: 1,
		start_date: '2023-04-09 02:40:00',
		end_date: '2023-04-11 15:40:00',
		// support
		tickets_link: 'https://www.ingresso-teste.com.br/',
		price: 'Qualquer valor',
		host_label: 'Host teste',
		host_link: 'https://www.teste.com.br/',
		playlist: 'https://open.spotify.com/playlist/3e7GZGQAbu6NDcCwtjs3N4?si=a0ae8c427b924550',
		// dates
		publish_date: '2023-05-18 19:46:05',
		created_at: '2023-04-18 15:40:38',
		updated_at: '2023-05-18 19:29:02',
      },
    };
  },
  methods: {
    submitEvent() {
      axios.post('https://api.wegoout.com.br/api/events/create', this.eventData)
        .then(response => {
          console.log('Evento criado com sucesso!', response.data);
        })
        .catch(error => {
          console.error('Tivemos um probleminha aqui', error);
        });
    },
  },
};
</script>
