<template>
  <div>
    <div class="releases-filter">
      <div class="containerExtra">
        <div class="searchEvents searchTool">
          <h2 class="font1 fontSize6 fontColor3" @click="removeBodyClass">PESQUISE LANÇAMENTOS</h2>
          <div class="form">
            <div class="field">
              <label class="font2 fontSize4 fontColor3" for="key-word"
                >Nome do lançamento</label
              >
              <input type="text" v-model="releaseTitle" placeholder="Digite o título do lançamento">
            </div>
            <div class="field">
              <label class="font2 fontSize4 fontColor3" for="record">Gravadora</label>
              <select class="selectRecord arrowOff fontColor2 pure-style" v-model="releases_company">
                <option value="">Todas as gravadoras</option>
                <option v-for="gravadora in gravadoras" :key="gravadora.id" :value="gravadora.id">{{ gravadora.name }}</option>
              </select>
            </div>
            <button class="goSearch go" @click="fetchLancamentos">Go</button>
          </div>
          <button class="buttonPinkLarge searchModalButton font1 fontSize2">
            PESQUISAR LANÇAMENTOS
            <img
              :src="require('@/assets/images/seta-vertical-cima.svg?17072023')"
              alt="seta"
            />
          </button>
        </div>
      </div>
    </div>
    <div class="containerExtra results">
      <div class="lastLaunch">
        <div class="title">
          <div class="text">
            <h2 class="font1 fontSize6 fontColor1">ÚLTIMOS LANÇAMENTOS</h2>
          </div>
        </div>
        <div class="content listItemsContent">
          <div class="item" v-for="lancamento in lancamentos" :key="lancamento.id">
            <router-link :to="`lancamentos/${lancamento.slug}`">
              <figure>
                <img :src="lancamento.images?.large ? lancamento.images.large : lancamento.image" :alt="lancamento.name" />               
              </figure>
              <div>
                <span class="font2 icon fontSize4 fontColor1">{{ formatDate(lancamento.date) }}</span>
                <h3 class="font1 fontSize4 fontColor1">{{ lancamento.name }}</h3>
                <p class="font2 fontSize4 fontColor1" v-if="lancamento.artists.length > 0">
                  {{ formatSimpleList(lancamento.artists, 3) }}
                </p>
              </div>          
            </router-link>
          </div>
        </div>
        <button class="font1 fontSize3 moreItems" v-if="showLoadMoreButton" @click="loadMoreLancamentos">CARREGAR MAIS</button>
      </div>
    </div>
  </div>
</template>

<script>
import axios from 'axios';

export default {
  data() {
    return {
      lancamentos: [],
      releaseTitle: '',
      releases_company: '',
      currentPage: 1,
      totalPages: 1,
    };
  },
  created() {
    this.fetchLancamentos();
    this.fetchGravadoras();
  },
  methods: {
    async fetchLancamentos() {
      
      try {
        let url = 'https://api.wegoout.com.br/api/releases';
        const params = {
          page: this.currentPage,
        };

        if (this.releaseTitle.trim() !== '') {
          params.name = this.releaseTitle;
        }
        if (this.releases_company !== '') {
          params.company_id = this.releases_company;
        }

        const response = await axios.get(url, { params });

        if (this.currentPage === 1) {
          this.lancamentos = response.data.data;
        } else {
          this.lancamentos = [...this.lancamentos, ...response.data.data];
        }

        this.currentPage = response.data.current_page;
        this.totalPages = response.data.last_page;
      } catch (error) {
        console.error('Erro ao buscar lançamentos:', error);
      }

      const body = document.body;
      body.classList.remove('searchEventsModalActive');

    },
    async fetchGravadoras() {
      try {
        const response = await axios.get('https://api.wegoout.com.br/api/companies');
        this.gravadoras = response.data.data;
      } catch (error) {
        console.error('Erro ao buscar gravadoras:', error);
      }
    },
    async loadMoreLancamentos() {
      this.currentPage++;
      await this.fetchLancamentos();
    },
    formatSimpleList(list) {
      const formattedList = list.map((item) => item.name);
      if (formattedList.length === 1) {
        return formattedList[0];
      } else if (formattedList.length === 2) {
        return formattedList.join(' e ');
      } else if (formattedList.length === 3) {
        return `${formattedList[0]}, ${formattedList[1]} e ${formattedList[2]}`;
      } else {
        const firstItems = formattedList.slice(0, 3).join(', ');
        const extraCount = formattedList.length - 3;
        return `${firstItems} e + ${extraCount}`;
      }
    },
    formatDate(dateString) {
      const months = [
        'janeiro', 'fevereiro', 'março', 'abril', 'maio', 'junho',
        'julho', 'agosto', 'setembro', 'outubro', 'novembro', 'dezembro'
      ];

      const date = new Date(dateString);
      const day = date.getDate();
      const month = months[date.getMonth()];

      return `${day} de ${month}`;
    },
    removeBodyClass() {
      const body = document.body;
      body.classList.remove('searchEventsModalActive');
    },
  },
  computed: {
    showLoadMoreButton() {
      return this.currentPage < this.totalPages;
    },
  },
};
</script>
