<template>
  <div>
    <section class="extraContent artists-filter">
      <div class="containerExtra">
        <div class="searchTool">
          <h2 class="font1 fontSize6 fontColor3" @click="removeBodyClass">PESQUISE ARTISTAS</h2>
          <div class="form">
            <div class="field">
              <label class="font2 fontSize4 fontColor3" for="key-word">Nome</label>
              <input
                type="text"
                name="key-word"
                v-model="artistTitle"
                class="font2 fontSize2 fontColor2"
                placeholder="Digite o nome do artista"
              />
            </div>
            <div class="field">
              <label class="font2 fontSize4 fontColor3" for="record">Gravadora</label>
              <select v-model="artists_company" class="selectRecord arrowOff fontColor2 pure-style">
                <option value="">Todas as gravadoras</option>
                <option v-for="gravadora in gravadoras" :key="gravadora.id" :value="gravadora.id">{{ gravadora.name }}</option>
              </select>
            </div>
            <div class="field">
              <label class="font2 fontSize4 fontColor3" for="country"
                >País de Origem</label
              >
              <select v-model="artists_country" class="selectCountry fontColor2 pure-style">
                <option value="">Todos os países</option>
                <option v-for="pais in paises" :key="pais.id" :value="pais.id">{{ pais.country_name }}</option>
              </select>
            </div>
            <button type="button" class="goSearch go" @click="fetchArtistas">Go</button>
          </div>
          <button class="buttonPinkLarge searchModalButton font1 fontSize2">
            PESQUISAR ARTISTAS
            <img
              :src="require('@/assets/images/seta-vertical-cima.svg?17072023')"
              alt="seta"
            />
          </button>
        </div>
      </div>
    </section>
    <section class="extraContent">
      <div class="containerExtra results">
        <div class="allArtists">
          <div class="title">
            <div class="text">
              <h2 class="font1 fontSize6 fontColor1">TODOS OS ARTISTAS</h2>
              <div class="filterAZ">
                <p class="font2 fontColor1 fontSize3 orderby">Ordenado por</p>
                <div class="field">
                  <select class="font2 fontColor4 fontSize3 selectAZ">
                    <option value="A-Z">A-Z</option>
                    <option value="Z-A">Z-A</option>
                  </select>
                </div>
              </div>
            </div>
          </div>
          <div class="listArtists">
            <div class="item" v-for="artista in artistas" :key="artista.id">
              <router-link :to="`artistas/${artista.slug}`">
                <figure>
                  <img :src="artista.images?.medium ? artista.images.medium : artista.image" :alt="artista.name" />
                </figure>
                <h3 class="font1 fontSize4 fontColor1">{{ artista.name }}</h3>
              </router-link>
            </div>
          </div>


          <button class="font1 fontSize3 moreItems" v-if="showLoadMoreButton" @click="loadMoreArtistas">CARREGAR MAIS</button>
        </div>
        <div class="advertisement"> 
          <SelectedAd :position="WideHome" />        
        </div>
      </div>
    </section>
  </div>
</template>

<script>
import axios from 'axios';

import SelectedAd from '@/components/SelectedAd.vue'

export default {
  components: {
    SelectedAd
  },
  data() {
    return {
      artistas: [],
      artistTitle: '',
      artists_country: '',
      artists_company: '',
      currentPage: 1,
      totalPages: 1,
    };
  },
  created() {
    this.fetchArtistas();
    this.fetchGravadoras();
    this.fetchPaises();
  },
  methods: {
    async fetchArtistas() {
      const url = 'https://api.wegoout.com.br/api/artists';
      const params = {
        page: this.currentPage,
      };

      if (this.artistTitle.trim() !== '') {
        params.name = this.artistTitle;
      }
      if (this.artists_country !== '') {
        params.country_id = this.artists_country;
      }
      if (this.artists_company !== '') {
        params.company_id = this.artists_company;
      }

      try {
        const response = await axios.get(url, { params });

        if (this.currentPage === 1) {
          this.artistas = response.data.data;
        } else {
          this.artistas = [...this.artistas, ...response.data.data];
        }

        this.currentPage = response.data.current_page;
        this.totalPages = response.data.last_page;
      } catch (error) {
        if (error.response && error.response.status === 429) {
          // Se ocorreu um erro 429, faça uma nova tentativa após 1 segundo
          await new Promise((resolve) => setTimeout(resolve, 1000));
          await this.fetchArtistas(); // Chame o método novamente
        } else {
          console.error('Erro ao buscar artistas:', error);
        }
      }

      const body = document.body;
      body.classList.remove('searchEventsModalActive');
    },
    async fetchGravadoras() {
      try {
        const response = await axios.get('https://api.wegoout.com.br/api/companies');
        this.gravadoras = response.data.data;
      } catch (error) {
        console.error('Erro ao buscar gravadoras:', error);
      }
    },
    async fetchPaises() {
      try {
        const response = await axios.get('https://api.wegoout.com.br/api/countries');
        this.paises = response.data;
      } catch (error) {
        console.error('Erro ao buscar países:', error);
      }
    },
    async loadMoreArtistas() {
      this.currentPage++;
      await this.fetchArtistas();
    },
    removeBodyClass() {
      const body = document.body;
      body.classList.remove('searchEventsModalActive');
    },
  },
  computed: {
    showLoadMoreButton() {
      return this.currentPage < this.totalPages;
    },
  },
};
</script>