<template>
  <div class="bestEvents">
    <div class="title">
      <h2 class="font1 fontColor3 fontSize6">Agendas em destaque</h2>
    </div>
    <Carousel class="carouselBestEvents carouselMargin" v-bind="carouselOptions" :breakpoints="carouselBreakpoints">
      <Slide class="item" v-for="destaque in destaquesFiltrados" :key="destaque.id">
        <router-link :to="`${destaque.link}`">
          <p class="font1 fontSize4 fontColor3">
            <img :src="destaque.type.icon" />
            {{ destaque.name }}
          </p>
        </router-link>
      </Slide>
      <template #addons>
        <Navigation />
      </template>
    </Carousel>
  </div>
</template>

<script>
import axios from 'axios';
import { Carousel, Slide, Navigation } from 'vue3-carousel';
import 'vue3-carousel/dist/carousel.css'

export default {
  props: {
    limit: {
      type: Number,
      default: 4,
    },
  },
  components: {
    Carousel,
    Slide,
    Navigation,
  },
  data() {
    return {
      destaques: [],
      carouselOptions: {
        itemsToShow: 1,
        snapAlign: 'start',
      },
      carouselBreakpoints: {
        700: {
          itemsToShow: 2,
        },
        1024: {
          itemsToShow: 4,
        },
      },
    };
  },
  created() {
    this.fetchDestaques();
  },
  computed: {
    destaquesFiltrados() {
      return this.destaques.slice(0, this.limit);
    },
  },
  methods: {
    async fetchDestaques() {
      const url = 'https://api.wegoout.com.br/api/highlights';
      try {
        const response = await axios.get(url);
        this.destaques = response.data.data;
      } catch (error) {
        if (error.response && error.response.status === 429) {
          await new Promise((resolve) => setTimeout(resolve, 1000));
          await this.fetchDestaques();
        } else {
          console.error('Erro ao buscar destaques:', error);
        }
      }
    }
  },
};
</script>