<template>
  <div class="artistHighlights">
    <div class="title">
      <div class="text">
        <h2 class="font1 fontSize6 fontColor3">ARTISTAS EM DESTAQUE</h2>
      </div>
    </div>
    <Carousel class="carouselArtists carouselMargin" v-bind="carouselOptions" :breakpoints="carouselBreakpoints">
      <Slide class="item" v-for="artista in artistasFiltrados" :key="artista.id">
        <router-link :to="`artistas/${artista.slug}`">
          <figure>
            <img :src="artista.images?.large ? artista.images.large : artista.image" :alt="artista.name" />

          </figure>
          <h3 class="font1 fontSize5 fontColor3">
            {{ artista.name }}
          </h3>
        </router-link>
      </Slide>
      <template #addons>
        <Navigation />
      </template>
    </Carousel>
  </div>
</template>

<script>
import axios from 'axios';
import { Carousel, Slide, Navigation } from 'vue3-carousel';
import 'vue3-carousel/dist/carousel.css'

export default {
  props: {
    limit: {
      type: Number,
      default: 4,
    },
  },
  components: {
    Carousel,
    Slide,
    Navigation,
  },
  data() {
    return {
      artistas: [],
      carouselOptions: {
        itemsToShow: 1,
        snapAlign: 'start',
      },
      carouselBreakpoints: {
        0: {
          itemsToShow: 2,
        },
        1024: {
          itemsToShow: 5,
        },
      },
    };
  },
  created() {
    this.fetchArtistas();
  },
  computed: {
    artistasFiltrados() {
      return this.artistas.slice(0, this.limit);
    },
  },
  methods: {
    async fetchArtistas() {
      const url = 'https://api.wegoout.com.br/api/artists?is_main=1&sortedBy=updated_at&sorted=DESC';
      try {
        const response = await axios.get(url);
        this.artistas = response.data.data;
      } catch (error) {
        if (error.response && error.response.status === 429) {
          await new Promise((resolve) => setTimeout(resolve, 1000));
          await this.fetchArtistas();
        } else {
          console.error('Erro ao buscar artistas:', error);
        }
      }
    }
  },
};
</script>
