<template>
  <div class="highlightLaunch">
    <div class="title">
      <div class="text">
        <h2 class="font1 fontSize6 fontColor3">LANÇAMENTOS EM DESTAQUE</h2>
      </div>
    </div>
    <div class="content">
      <Carousel class="carouselHighlightLaunch carouselMargin" v-bind="carouselOptions" :breakpoints="carouselBreakpoints">
        <Slide class="item" v-for="lancamento in lancamentosFiltrados" :key="lancamento.id">
          <router-link :to="`lancamentos/${lancamento.slug}`">
            <figure>
              <img :src="lancamento.images?.large ? lancamento.images.large : lancamento.image" :alt="lancamento.name"/>
            </figure>
            <h3 class="font1 fontSize4 fontColor3">{{ lancamento.name }}</h3>
            <p class="font2 fontSize4 fontColor3" v-if="lancamento.artists.length > 0">{{ formatSimpleList(lancamento.artists, 3) }}</p>
          </router-link>
        </Slide>
        <template #addons>
          <Navigation />
        </template>
      </Carousel>
    </div>
  </div>
</template>

<script>
import axios from 'axios';
import { Carousel, Slide, Navigation } from 'vue3-carousel';
import 'vue3-carousel/dist/carousel.css'

export default {
  props: {
    limit: {
      type: Number,
      default: 4,
    },
  },
  components: {
    Carousel,
    Slide,
    Navigation,
  },
  data() {
    return {
      lancamentos: [],
      carouselOptions: {
        snapAlign: 'start',
      },
      carouselBreakpoints: {
        0: {
          itemsToShow: 2,
        },
        1024: {
          itemsToShow: 5,
        },
      },
    };
  },
  created() {
    this.fetchLancamentos();
  },
  computed: {
    lancamentosFiltrados() {
      return this.lancamentos.slice(0, this.limit);
    },
  },
  methods: {
    async fetchLancamentos() {
      try {
        const response = await axios.get('https://api.wegoout.com.br/api/releases?is_main=1');
        this.lancamentos = response.data.data;
      } catch (error) {
        console.error('Erro ao buscar lancamentos:', error);
      }
    },
    formatSimpleList(list) {
      const formattedList = list.map((item) => item.name);
      if (formattedList.length === 1) {
        return formattedList[0];
      } else if (formattedList.length === 2) {
        return formattedList.join(' e ');
      } else if (formattedList.length === 3) {
        return `${formattedList[0]}, ${formattedList[1]} e ${formattedList[2]}`;
      } else {
        const firstItems = formattedList.slice(0, 3).join(', ');
        const extraCount = formattedList.length - 3;
        return `${firstItems} e + ${extraCount}`;
      }
    },
  },
};
</script>