<template>
  <div>
    <h2>Togethers</h2>
    <div>
      <fieldset v-for="together in togethersFiltrados" :key="together.id">
        <img :src="together.images?.medium ? together.images.medium : together.image" :alt="together.name" /><br/>
        <strong>{{ together.name }}</strong>
        <strong>{{ together.slug }}</strong>
      </fieldset>
    </div>
  </div>
</template>

<script>
import axios from 'axios';

export default {
  props: {
    limit: {
      type: Number,
      default: 4,
    },
  },
  data() {
    return {
      togethers: [],
    };
  },
  created() {
    this.fetchTogethers();
  },
  computed: {
    togethersFiltrados() {
      return this.togethers.slice(0, this.limit);
    },
  },
  methods: {
    async fetchTogethers() {
      try {
        const response = await axios.get('https://api.wegoout.com.br/api/togethers');
        this.togethers = response.data.data;
      } catch (error) {
        console.error('Erro ao buscar togethers:', error);
      }
    },
  },
};
</script>