<template>
  <div>
    <section class="firstContent">
      <div class="container">
        <div class="bestEvents">
          <h2 class="font1 fontColor3 titleName">TOGETHER</h2>
          <p class="font2 fontSize4 titleDescription fontColor2">
            Faça parte da comunidade We Go Out Together! Entre nos nossos grupos de WhatsApp para ter acesso a benefícios exclusivos, ingressos com desconto, sorteios, as melhores dicas sobre festas e festivais de música do mundo, além de conhecer e trocar experiência com a galera!
          </p>
          <div class="title">
            <h2 class="font1 fontColor3 fontSize6">NAVEGUE POR CATEGORIAS</h2>
          </div>
          <Carousel class="carouselBestEvents carouselMargin" v-bind="carouselOptions" :breakpoints="carouselBreakpoints">
            <Slide class="item" v-for="category in categories" :key="category.id">
              <a :href="'#categoria_' + category.id" @click="smoothScroll('#categoria_' + category.id, 800)">
                <p class="font1 fontSize4 fontColor3 icon">{{ category.name }}</p>
              </a>
            </Slide>
            <template #addons>
              <Navigation />
            </template>
          </Carousel>
        </div>
        <div class="darkWave" alt="icone de fundo"></div>
      </div>
    </section>
    <section class="extraContent">
      <div class="containerExtra">
        <div class="guide">
          <div v-for="category in categories" :key="category.id">
            <div class="title" :id="'categoria_' + category.id">
              <h2 class="font1 fontColor1">{{ category.name }}</h2>
            </div>
            <div class="listGuide">
              <div class="item" v-for="together in getTogethersByCategory(category.id)" :key="together.id">
                <a :href="`${together.link}`" target="_blank">
                  <figure>
                    <img
                      :src="together.images?.medium ? together.images.medium : together.image"
                      :alt="together.name"
                      class="tgt-thumb"
                    />
                  </figure>
                  <h2 class="font1 fontSize3 fontColor1">{{ together.name }}</h2>
                </a>
              </div>
            </div> 
          </div>
        </div>
      </div>
    </section>
  </div>
</template>

<script>
import axios from 'axios';
import { Carousel, Slide, Navigation } from 'vue3-carousel';
import 'vue3-carousel/dist/carousel.css';

export default {
  data() {
    return {
      togethers: [],
      categories: [],
      carouselOptions: {
        itemsToShow: 1,
        snapAlign: 'start',
      },
      carouselBreakpoints: {
        700: {
          itemsToShow: 1,
        },
        1024: {
          itemsToShow: 5,
        },
      },
    };
  },
  components: {
    Carousel,
    Slide,
    Navigation,
  },
  async created() {
    await this.fetchTogethers();
  },
  computed: {
    togethersFiltrados() {
      return this.togethers.slice(0, this.limit);
    },
  },
  methods: {
    async fetchTogethers() {
      try {
        const allTogethers = await this.fetchAllTogethersPages();
        this.togethers = allTogethers;
        this.createCategoriesList();
      } catch (error) {
        console.error('Erro ao buscar togethers:', error);
      }
    },
    async fetchAllTogethersPages() {
      let page = 1;
      let allTogethers = [];
      let hasMorePages = true;

      while (hasMorePages) {
        try {
          const response = await axios.get(`https://api.wegoout.com.br/api/togethers?status=1&page=${page}`);
          const currentPageTogethers = response.data.data;

          if (currentPageTogethers.length === 0) {
            hasMorePages = false;
          } else {
            allTogethers = allTogethers.concat(currentPageTogethers);
            page++;
          }
        } catch (error) {
          if (error.response && error.response.status === 429) {
            await new Promise((resolve) => setTimeout(resolve, 1000));
            continue;
          } else {
            console.error('Erro ao buscar togethers:', error);
            break;
          }
        }
      }

      return allTogethers;
    },

    createCategoriesList() {
      const categoriesMap = new Map();
      this.togethers.forEach((together) => {
        const category = together.category;
        if (!categoriesMap.has(category.id)) {
          categoriesMap.set(category.id, category);
        }
      });
      this.categories = Array.from(categoriesMap.values());
    },
    getTogethersByCategory(categoryId) {
      return this.togethers.filter((together) => together.category.id === categoryId);
    },
    smoothScroll(target, duration) {
      const targetElement = document.querySelector(target);
      if (!targetElement) return;

      const targetPosition = targetElement.offsetTop - 120;
      const startPosition = window.pageYOffset;
      const distance = targetPosition - startPosition;
      const startTime = performance.now();

      function easeInOutQuad(time, start, change, duration) {
        time /= duration / 2;
        if (time < 1) return change / 2 * time * time + start;
        time--;
        return -change / 2 * (time * (time - 2) - 1) + start;
      }

      function scroll(timestamp) {
        const currentTime = timestamp - startTime;
        window.scrollTo(0, easeInOutQuad(currentTime, startPosition, distance, duration));
        if (currentTime < duration) requestAnimationFrame(scroll);
      }

      requestAnimationFrame(scroll);
    },
  },
};
</script>