<template>
  <div class="componentGuide">
    <div class="title">
      <h3 class="font1 fontColor1">NOSSOS GUIAS</h3>
      <router-link to="/noticias?title=&category_id=11" class="seeAll">VER TUDO</router-link>
    </div>
    <Carousel class="carouselGuide carouselMargin" v-bind="carouselOptions" :breakpoints="carouselBreakpoints">
      <Slide class="item" v-for="noticia in noticias" :key="noticia.id">
        <router-link :to="`noticias/${noticia.slug}`">
          <figure>
            <img :src="noticia.images?.large ? noticia.images.large : noticia.image" :alt="noticia.title" />

            <span class="font2 fontSize2 fontColor3 tag"
            :class="{
            'backgroundBlue': noticia.category.name === 'Música',
            'backgroundLightGreen': noticia.category.name === 'Entrevista',
            'backgroundWaterBlue': noticia.category.name === 'Fica a Dica',
            'backgroundOrange': noticia.category.name === 'Cena',
            'backgroundPink': noticia.category.name === 'Festa',
            'backgroundSalmon': noticia.category.name === 'Guia',
            'backgroundPurple': noticia.category.name === 'Festival',
            'backgroundGreen': noticia.category.name === 'Lista',
            'backgroundYellow': noticia.category.name === 'Show',
            'backgroundFuchsia': noticia.category.name === 'Carnaval',
            'backgroundLime': noticia.category.name === 'Réveillon',
            'backgroundPurple2': noticia.category.name === 'Quanto custa',
            'backgroundGray2': noticia.category.name === 'Review'
            }">
              {{ noticia.category.name }}
            </span>
          </figure>
          <h2>{{ noticia.title }}</h2>
          <span class="font2 fontSize3 fontColor2">
            {{ formatDate(noticia.public_date) }}
          </span>
        </router-link>
      </Slide>
      <template #addons>
        <Navigation />
      </template>
    </Carousel>
  </div>
</template>

<script>
import axios from 'axios';
import { Carousel, Slide, Navigation } from 'vue3-carousel';
import 'vue3-carousel/dist/carousel.css'

export default {
  props: {
    limit: {
      type: Number,
      default: 4,
    },
  },
  components: {
    Carousel,
    Slide,
    Navigation,
  },
  data() {
    return {
      noticias: [],
      carouselOptions: {
        snapAlign: 'start',
      },
      carouselBreakpoints: {
        0: {
          itemsToShow: 2,
        },
        1024: {
          itemsToShow: 5,
        },
      },
    };
  },
  created() {
    this.fetchNoticias();
  },
  methods: {
    async fetchNoticias() {
      const url = 'https://api.wegoout.com.br/api/news?sortedBy=public_date&sorted=DESC&category_id=11';
      try {
        const response = await axios.get(url);
        this.noticias = response.data.data;
      } catch (error) {
        if (error.response && error.response.status === 429) {
          await new Promise((resolve) => setTimeout(resolve, 1000));
          await this.fetchNoticias();
        } else {
          console.error('Erro ao buscar notícias:', error);
        }
      }
    },
    formatDate(dateString) {
      const months = [
        'janeiro', 'fevereiro', 'março', 'abril', 'maio', 'junho',
        'julho', 'agosto', 'setembro', 'outubro', 'novembro', 'dezembro'
      ];

      const date = new Date(dateString);
      const day = date.getDate();
      const month = months[date.getMonth()];

      return `${day} de ${month}`;
    },
  },
};
</script>