<template>
  <div>
    <div class="title ">
        <h1 class="font1 fontColor3 fontSize6">EVENTOS EM DESTAQUE</h1>
    </div>
    <Carousel class="carouselEvents carouselMargin" v-bind="carouselOptions" :breakpoints="carouselBreakpoints">
      <Slide class="item" v-for="evento in eventosOrdenados" :key="evento.id">  
        <router-link :to="`eventos/${evento.slug}`">
          <figure>
              <img :src="evento.images?.large ? evento.images.large : evento.image" :alt="evento.name" />
              <span v-if="evento.event_type && evento.event_type.name" class="font2 fontSize2 fontColor3 tag"
              :class="{
              'backgroundBlue': evento.event_type.name === 'Música',
              'backgroundLightGreen': evento.event_type.name === 'Entrevista',
              'backgroundWaterBlue': evento.event_type.name === 'Fica a Dica',
              'backgroundOrange': evento.event_type.name === 'Cena',
              'backgroundPink': evento.event_type.name === 'Festa',
              'backgroundSalmon': evento.event_type.name === 'Guia',
              'backgroundPurple': evento.event_type.name === 'Festival',
              'backgroundGreen': evento.event_type.name === 'Lista',
              'backgroundYellow': evento.event_type.name === 'Show',
              'backgroundFuchsia': evento.event_type.name === 'Carnaval',
              'backgroundLime': evento.event_type.name === 'Réveillon',
              'backgroundPurple2': evento.event_type.name === 'Quanto custa',
              'backgroundGray2': evento.event_type.name === 'Review'
              }">
                {{ evento.event_type.name }}
              </span>
          </figure>
          <div class="text">
            <h2 class="font1 fontColor3 fontSize7">{{ evento.name }}</h2>
            <p v-if="evento.artists && evento.artists.length > 0" class="icon star">
              {{ formatSimpleList(evento.artists, 3) }}
            </p>
            <div class="iconWrapper">
              <p class="icon house" v-if="evento.location && evento.location.name">
                {{ evento.location.name }}
                <template v-if="evento.location.city && evento.location.city.name">
                  - {{ evento.location.city.name }} - {{ evento.location.city.state.abbr }}
                </template>
              </p>
            </div>
            <div class="calendar">
                <p class="icon calendar">
                  <template v-if="evento.end_date">
                    <template v-if="formatDate(evento.start_date) == formatDate(evento.end_date)">
                      {{ formatDate(evento.start_date) }}
                    </template>
                    <template v-else>
                      <template v-if="formatDate4(evento.start_date) == formatDate4(evento.end_date)">
                        {{ formatDate2(evento.start_date) }} a {{ formatDate(evento.end_date) }}
                      </template>
                      <template v-else>
                        {{ formatDate(evento.start_date) }} a {{ formatDate(evento.end_date) }}
                      </template>
                    </template>
                  </template>
                  <template v-else>
                    {{ formatDate(evento.start_date) }}
                  </template>
                </p>
            </div>
          </div>

          <div v-if="evento.has_discount !== '0' && evento.has_discount !== null" class="tagPromoDiv">
            <span class="font1 fontSize2 fontColor3 tagPromo"
              >DESCONTO WE GO OUT</span>
            <span class="fontColor3 tagPromoTip"></span>
          </div>
          
        </router-link>
      </Slide>
      <template #addons>
        <Navigation />
      </template>
    </Carousel>
  </div>
</template>

<script>
import axios from 'axios';
import { Carousel, Slide, Navigation } from 'vue3-carousel';
import 'vue3-carousel/dist/carousel.css'

export default {
  props: {
    limit: {
      type: Number,
      default: 4,
    },
  },
  components: {
    Carousel,
    Slide,
    Navigation,
  },
  data() {
    return {
      eventos: [],
      carouselOptions: {
        itemsToShow: 1,
        snapAlign: 'start',
      },
      carouselBreakpoints: {
        700: {
          itemsToShow: 1,
        },
        1024: {
          itemsToShow: 2,
        },
      },
    };
  },
  created() {
    this.fetchEventos();
  },
  computed: {
    eventosOrdenados() {
      return this.eventos
        .slice(0, this.limit)
        .sort((a, b) => new Date(a.start_date) - new Date(b.start_date));
    },
  },
  methods: {
    async fetchEventos() {
      const url = 'https://api.wegoout.com.br/api/events?is_main=1&future=true';
      try {
        const response = await axios.get(url);
        this.eventos = response.data.data;
      } catch (error) {
        if (error.response && error.response.status === 429) {
          await new Promise((resolve) => setTimeout(resolve, 1000));
          await this.fetchEventos();
        } else {
          console.error('Erro ao buscar eventos:', error);
        }
      }
    },
    formatDate(dateString) {
      const months = [
        'janeiro', 'fevereiro', 'março', 'abril', 'maio', 'junho',
        'julho', 'agosto', 'setembro', 'outubro', 'novembro', 'dezembro'
      ];

      const date = new Date(dateString);
      const day = date.getDate();
      const month = months[date.getMonth()];

      return `${day} de ${month}`;
    },
    formatDate2(dateString) {
      const date = new Date(dateString);
      const day = date.getDate();
      return `${day}`;
    },
    formatDate4(dateString) {
      const date = new Date(dateString);
      const month = date.getMonth() + 1;
      return `${month}`;
    },
    formatSimpleList(list) {
      const formattedList = list.map((item) => item.name);
      if (formattedList.length === 1) {
        return formattedList[0];
      } else if (formattedList.length === 2) {
        return formattedList.join(' e ');
      } else if (formattedList.length === 3) {
        return `${formattedList[0]}, ${formattedList[1]} e ${formattedList[2]}`;
      } else {
        const firstItems = formattedList.slice(0, 3).join(', ');
        const extraCount = formattedList.length - 3;
        return `${firstItems} e + ${extraCount}`;
      }
    },
  },
};
</script>
