<template>
  <div>
    <div class="title hs__header">
      <h2 class="font1 fontColor3 fontSize6">Próximos Eventos</h2>
    </div>
    <Carousel class="carouselCountdown" v-bind="carouselOptions" :breakpoints="carouselBreakpoints">
      <Slide class="item" v-for="(grupo, index) in eventosAgrupados" :key="index">
        <div class="containerItem" v-for="evento in grupo" :key="evento.id">
            <router-link :to="`/eventos/${evento.slug}`" class="card">
              <figure>
                <img :src="evento.images?.medium ? evento.images.medium : evento.image" :alt="evento.name" />
                <span v-if="evento.event_type && evento.event_type.name" class="font2 fontSize2 fontColor3 tag"
                :class="
                {
                'backgroundBlue': evento.event_type.name === 'Música',
                'backgroundLightGreen': evento.event_type.name === 'Entrevista',
                'backgroundWaterBlue': evento.event_type.name === 'Fica a Dica',
                'backgroundOrange': evento.event_type.name === 'Cena',
                'backgroundPink': evento.event_type.name === 'Festa',
                'backgroundSalmon': evento.event_type.name === 'Guia',
                'backgroundPurple': evento.event_type.name === 'Festival',
                'backgroundGreen': evento.event_type.name === 'Lista',
                'backgroundYellow': evento.event_type.name === 'Show',
                'backgroundFuchsia': evento.event_type.name === 'Carnaval',
                'backgroundLime': evento.event_type.name === 'Réveillon',
                'backgroundPurple2': evento.event_type.name === 'Quanto custa',
                'backgroundGray2': evento.event_type.name === 'Review'
                }">
                  {{ evento.event_type.name }}
                </span>
              </figure>
              <div class="text">
                <h2 class="font1 fontColor3 fontSize5">{{ evento.name }}</h2>
                <div class="iconWrapper">
                  <p class="house icon" v-if="evento.location && evento.location.name">{{ evento.location.name }}</p>
                  <p class="location icon" v-if="evento.location && evento.location.name">{{ evento.location.city.name }} - {{ evento.location.city.state.abbr }}</p>
                </div>
                <p class="icon calendar">
                  <template v-if="evento.end_date">
                    <template v-if="formatDate(evento.start_date) == formatDate(evento.end_date)">
                      {{ formatDate(evento.start_date) }}
                    </template>
                    <template v-else>
                      {{ formatDate2(evento.start_date) }} a {{ formatDate(evento.end_date) }}
                    </template>
                  </template>
                  <template v-else>
                    {{ formatDate(evento.start_date) }}
                  </template>
                </p>
              </div>
              <div v-if="evento.has_discount !== '0' && evento.has_discount !== null" class="tagPromoDiv">
                <span class="font1 fontSize2 fontColor3 tagPromo"
                  >DESCONTO WE GO OUT</span
                >
                <span class="fontColor3 tagPromoTip"></span>
              </div>
            </router-link>
        </div>
      </Slide>
      <template #addons>
        <Navigation />
      </template>
    </Carousel>
    <router-link to="/eventos" class="font1 fontSize3 fontColor4 seeAll">VER TUDO</router-link>
  </div>
</template>

<script>
import axios from 'axios';
import { Carousel, Slide, Navigation } from 'vue3-carousel';
import 'vue3-carousel/dist/carousel.css';

export default {
  props: {
    limit: {
      type: Number,
      default: 4,
    },
  },
  components: {
    Carousel,
    Slide,
    Navigation,
  },
  data() {
    return {
      eventos: [],
      carouselOptions: {
        itemsToShow: 1,
      },
      carouselBreakpoints: {
        700: {
          itemsToShow: 1,
        },
        1024: {
          itemsToShow: 1,
        },
      },
    };
  },
  created() {
    this.fetchEventos();
  },
  computed: {
    eventosOrdenados() {
      return this.eventos
        .slice(0, this.limit)
        .sort((a, b) => new Date(a.start_date) - new Date(b.start_date));
    },
    eventosAgrupados() {
      const grupos = [];
      for (let i = 0; i < this.eventosOrdenados.length; i += 2) {
        grupos.push(this.eventosOrdenados.slice(i, i + 2));
      }
      return grupos;
    },
  },
  methods: {
    async fetchEventos() {
      const url = 'https://api.wegoout.com.br/api/events?future=true';
      try {
        const response = await axios.get(url);
        this.eventos = response.data.data;
      } catch (error) {
        if (error.response && error.response.status === 429) {
          await new Promise((resolve) => setTimeout(resolve, 1000));
          await this.fetchEventos();
        } else {
          console.error('Erro ao buscar eventos:', error);
        }
      }
    },
    formatDate(dateString) {
      const months = [
        'janeiro', 'fevereiro', 'março', 'abril', 'maio', 'junho',
        'julho', 'agosto', 'setembro', 'outubro', 'novembro', 'dezembro'
      ];

      const date = new Date(dateString);
      const day = date.getDate();
      const month = months[date.getMonth()];

      return `${day} de ${month}`;
    },
    formatDate2(dateString) {
      const date = new Date(dateString);
      const day = date.getDate();
      return `${day}`;
    },
  },
};
</script>
