<template>
  <main class="news">
    <section class="firstContent">
      <div class="container">
        <div class="searchEvents searchTool">
          <h2 class="font1 fontColor3">NOTÍCIAS</h2>
          <p class="font2 fontSize4 titleDescription fontColor2">
            Aqui você encontra todas as novidades da cena eletrônica e do mundo do entretenimento! Fique por dentro dos melhores festivais, festas e shows, consulte nossos guias completos, acesse conteúdos com dicas, curiosidades que estão rolando na cena, além de diversos assuntos sobre música e muito mais.
          </p>
          <div class="form">
            <div class="field">
              <label class="font2 fontSize4 fontColor3" for="key-word">Palavra-chave</label>
              <input type="text" v-model="newsTitle" placeholder="Digite a palavra-chave" class="font2 fontSize2 fontColor2">
            </div>
            <div class="field">
              <label class="font2 fontSize4 fontColor3" for="category">Categoria de Conteúdo</label>
              <select v-model="newsCategory" class="pure-style">
                <option value="">Todas as categorias</option>
                <option v-for="categoria in categorias" :key="categoria.id" :value="categoria.id" class="selectCategory fontColor2">{{ categoria.name }}</option>
              </select>  
            </div>
            <button @click="updateURLAndFetchNews" class="goSearch go">GO</button>
          </div>
          <div class="darkWave"></div>
        </div>
      </div>
    </section>
    <section class="extraContent" v-if="noticiaBuscada == true">
      <div class="containerExtra results">
        <div class="guide">
          <div class="title">
            <h2 class="font1 fontColor1">ÚLTIMAS NOTÍCIAS</h2>
            <div class="text">
              <h3 class="font2 fontColor1">{{ noticias.length }} {{ noticias.length === 1 ? 'resultado' : 'resultados' }}</h3>
              <div class="filterAZ">
                <p class="font2 fontColor1 fontSize3 orderby">Ordenado por</p>
                <div class="field">
                  <!-- https://api.wegoout.com.br/api/news?sorted=ASC -->
                  <select class="font2 fontColor4 fontSize3 selectAZ">
                    <option value="Mais recentes">Mais recentes</option>
                    <option value="Mais antigos">Mais antigos</option>
                    <option value="Mais populares">Mais populares</option>
                  </select>
                </div>
              </div>
            </div>
          </div>
          <div class="listGuide">
            <div class="item" v-for="noticia in noticias" :key="noticia.id">
              <router-link :to="`noticias/${noticia.slug}`">
                <figure>
                  <img v-if="noticia.image" :src="noticia.images?.large ? noticia.images.large : noticia.image" :alt="noticia.title" />
                  <span class="font2 fontSize2 fontColor3 tag"
                  :class="{
                  'backgroundBlue': noticia.category.name === 'Música',
                  'backgroundLightGreen': noticia.category.name === 'Entrevista',
                  'backgroundWaterBlue': noticia.category.name === 'Fica a Dica',
                  'backgroundOrange': noticia.category.name === 'Cena',
                  'backgroundPink': noticia.category.name === 'Festa',
                  'backgroundSalmon': noticia.category.name === 'Guia',
                  'backgroundPurple': noticia.category.name === 'Festival',
                  'backgroundGreen': noticia.category.name === 'Lista',
                  'backgroundYellow': noticia.category.name === 'Show',
                  'backgroundFuchsia': noticia.category.name === 'Carnaval',
                  'backgroundLime': noticia.category.name === 'Réveillon',
                  'backgroundPurple2': noticia.category.name === 'Quanto custa',
                  'backgroundGray2': noticia.category.name === 'Review'
                  }">
                    {{ noticia.category.name }}
                  </span>
                </figure>
                <div>
                  <h2 class="font1 fontSize5 fontColor1">{{ noticia.title }}</h2>
                  <span class="font2 fontSize3 fontColor2">{{ formatDate(noticia.public_date) }}</span>
                </div>
              </router-link>
            </div>
          </div>
          <button v-if="showLoadMoreButton" @click="loadMoreNoticias" class="font1 fontSize3 moreItems">Carregar mais</button>
        </div>
        <div class="advertisement">
          <SelectedAd :position="WideHome" />
        </div>
      </div>
    </section>
    <section class="extraContent loaderActive" v-else>
      <div class="containerExtra">
        <div class="boxContainer floated">
          <div class="box box1"></div>
          <div class="box box2"></div>
          <div class="box box3"></div>
          <div class="box box4"></div>
          <div class="box box5"></div>
        </div>
        <p class="searching-items">Buscando resultados</p>
      </div>
    </section>
  </main>
</template>

<script>
import axios from 'axios';

import SelectedAd from '@/components/SelectedAd.vue'

export default {
  components: {
    SelectedAd
  },
  data() {
    return {
      noticias: [],
      newsTitle: '',
      newsCategory: '',
      newsArtist: '',
      newsEvent: '',
      categorias: [],
      currentPage: 1,
      totalPages: 1,
      noticiaBuscada: false
    };
  },
  created() {
    this.initFromRouteParams();
    this.fetchCategorias();
  },
  methods: {
    async fetchNoticias() {
      this.noticiaBuscada = false;
      const url = 'https://api.wegoout.com.br/api/news?sortedBy=public_date&sorted=DESC&';
      const params = {
        page: this.currentPage,
        title: this.newsTitle,
        category_id: this.newsCategory,
        artist_id: this.newsArtist,
        event_id: this.newsEvent,
      };

      try {
        const response = await axios.get(url, { params });

        if (this.currentPage === 1) {
          this.noticias = response.data.data;
        } else {
          this.noticias = [...this.noticias, ...response.data.data];
        }

        this.noticiaBuscada = true;

        this.currentPage = response.data.current_page;
        this.totalPages = response.data.last_page;
      } catch (error) {
        if (error.response && error.response.status === 429) {
          await new Promise((resolve) => setTimeout(resolve, 1000));
          await this.fetchNoticias();
        } else {
          console.error('Erro ao buscar notícias:', error);
        }
      }
    },
    async fetchCategorias() {
      const url = 'https://api.wegoout.com.br/api/categories';
      try {
        const response = await axios.get(url);
        this.categorias = response.data;
      } catch (error) {
        if (error.response && error.response.status === 429) {
          await new Promise((resolve) => setTimeout(resolve, 1000));
          await this.fetchCategorias();
        } else {
          console.error('Erro ao buscar categorias:', error);
        }
      }
    },
    async loadMoreNoticias() {
      this.currentPage++;
      await this.fetchNoticias();
    },
    updateURLAndFetchNews() {
      this.currentPage = 1;

      this.$router.push({
        path: '/noticias',
        query: {
          title: this.newsTitle,
          category_id: this.newsCategory,
          artist_id: this.newsArtist,
          event_id: this.newsEvent,
        }
      });

      setTimeout(() => {
        this.fetchNoticias();
        this.scrollResultsIntoView();
      }, 100);
    },
    initFromRouteParams() {
      this.newsTitle = this.$route.query.title || '';
      this.newsCategory = this.$route.query.category_id || '';
      this.newsArtist = this.$route.query.artist_id || '';
      this.newsEvent = this.$route.query.event_id || '';
      this.fetchNoticias();
    },
    scrollResultsIntoView() {
      const resultsElement = document.querySelector('.results');
      if (resultsElement) {
        const yOffset = resultsElement.getBoundingClientRect().top - 150;
        window.scrollTo({
          top: window.pageYOffset + yOffset,
          behavior: 'smooth'
        });
      }
    },
    formatDate(dateString) {
      const months = [
        'janeiro', 'fevereiro', 'março', 'abril', 'maio', 'junho',
        'julho', 'agosto', 'setembro', 'outubro', 'novembro', 'dezembro'
      ];

      const date = new Date(dateString);
      const day = date.getDate();
      const month = months[date.getMonth()];
      const year = date.getFullYear();

      return `${day} de ${month} de ${year}`;
    },
  },
  computed: {
    showLoadMoreButton() {
      return this.currentPage < this.totalPages;
    },
  },
};
</script>
