<template>
  <div>
    <ul>
      <li v-for="evento in eventosOrdenados" :key="evento.id">
        <router-link class="font2 fontSize3 fontColor3 event" :to="`/eventos/${evento.slug}`">{{ evento.name }}</router-link>
      </li>
    </ul>
  </div>
</template>

<script>
import axios from 'axios';

export default {
  props: {
    limit: {
      type: Number,
      default: 4,
    },
  },
  data() {
    return {
      eventos: [],
    };
  },
  created() {
    this.fetchEventos();
  },
  computed: {
    eventosOrdenados() {
      return this.eventos
        .slice(0, this.limit)
        .sort((a, b) => new Date(a.start_date) - new Date(b.start_date));
    },
  },
  methods: {
    async fetchEventos() {
      try {
        const response = await axios.get('https://api.wegoout.com.br/api/events?is_main=1&future=true', {
          timeout: 10000,
        });
        this.eventos = response.data.data;
      } catch (error) {
        if (axios.isCancel(error)) {
          return;
        }

        if (error.response && error.response.status === 429) {
          setTimeout(() => {
            this.fetchEventos();
          }, 10000);
        } else {
          console.error('Erro ao buscar eventos:', error);
        }
      }
    },
  },
};
</script>