<template>
  <div class="highlightLaunch">
    <div class="title">
      <h2 class="font1 fontSize6 fontColor1">LANÇAMENTOS</h2>
      <router-link to="/lancamentos" class="seeAll">VER TUDO</router-link>
    </div>
    <div class="content"> 
      <iframe style="border-radius:12px" src="https://open.spotify.com/embed/playlist/4C2RPf3HTrOhYWVtJnphHj?utm_source=generator&theme=0" width="350px" height="400px" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
      <div class="carouselContainer">
        <Carousel class="carouselHighlightLaunch carouselMargin" v-bind="carouselOptions" :breakpoints="carouselBreakpoints">
          <Slide class="item" v-for="lancamento in lancamentosFiltrados" :key="lancamento.id">
            <router-link :to="`lancamentos/${lancamento.slug}`"> 
              <img :src="lancamento.images?.large ? lancamento.images.large : lancamento.image" :alt="lancamento.name" />
              <h3 class="font1 fontSize4 fontColor1">{{ lancamento.name }}</h3>
              <p class="font2 fontSize4" v-if="lancamento.artists.length > 0">
                {{ formatSimpleList(lancamento.artists, 3) }}
              </p>
            </router-link>
          </Slide>
          <template #addons>
            <Navigation />
          </template>
        </Carousel>
      </div>
    </div>
  </div>
</template>

<script>
import axios from 'axios';
import { Carousel, Slide, Navigation } from 'vue3-carousel';
import 'vue3-carousel/dist/carousel.css'

export default {
  props: {
    limit: {
      type: Number,
      default: 4,
    },
  },
  components: {
    Carousel,
    Slide,
    Navigation,
  },
  data() {
    return {
      lancamentos: [],
      carouselOptions: {
        itemsToShow: 3,
      },
      carouselBreakpoints: {
        700: {
          itemsToShow: 2,
        },
        1024: {
          itemsToShow: 3,
        },
      },
    };
  },
  created() {
    this.fetchLancamentos();
  },
  computed: {
    lancamentosFiltrados() {
      return this.lancamentos.slice(0, this.limit);
    },
  },
  methods: {
    async fetchLancamentos() {
      const url = 'https://api.wegoout.com.br/api/releases?is_main=1';
      try {
        const response = await axios.get(url);
        this.lancamentos = response.data.data;
      } catch (error) {
        if (error.response && error.response.status === 429) {
          await new Promise((resolve) => setTimeout(resolve, 1000));
          await this.fetchLancamentos();
        } else {
          console.error('Erro ao buscar lançamentos:', error);
        }
      }
    },
    formatSimpleList(list) {
      const formattedList = list.map((item) => item.name);
      if (formattedList.length === 1) {
        return formattedList[0];
      } else if (formattedList.length === 2) {
        return formattedList.join(' e ');
      } else if (formattedList.length === 3) {
        return `${formattedList[0]}, ${formattedList[1]} e ${formattedList[2]}`;
      } else {
        const firstItems = formattedList.slice(0, 3).join(', ');
        const extraCount = formattedList.length - 3;
        return `${firstItems} e + ${extraCount}`;
      }
    },
  },
};
</script>