<template>
  <ul>
    <li v-for="autor in autoresFiltrados" :key="autor.id">
      <div class="profile">
        <img :src="autor.images?.thumb ? autor.images.thumb : autor.image" :alt="autor.name" class="author-thumb" />
        <div class="text">
          <h3>{{ autor.name }}</h3>
          <p>{{ autor.position }}</p>
        </div>
      </div>
      <p v-html="autor.biography"></p>
      <div class="lastContent">
        <nav>
          <a v-for="social in autor.social_media" :key="social.id" :href="social.pivot.link" :class="social.name">
          </a>
        </nav>
      </div>
    </li>
  </ul>
</template>

<script>
import axios from 'axios';

export default {
  props: {
    limit: {
      type: Number,
      default: 4,
    },
  },
  data() {
    return {
      autores: [],
    };
  },
  created() {
    this.fetchAutores();
  },
  computed: {
    autoresFiltrados() {
      return this.autores.slice(0, this.limit);
    },
  },
  methods: {
    async fetchAutores() {
      try {
        const response = await axios.get('https://api.wegoout.com.br/api/authors');
        // Filtrar os autores excluindo o registro com id = 19
        this.autores = response.data.data.filter(autor => autor.id !== 19);
      } catch (error) {
        console.error('Erro ao buscar autores:', error);
      }
    }
  },
};
</script>