<template>
  <div class="highlightNews">
    <div class="title">
        <h2 class="font1 fontSize6 fontColor1">NOTÍCIAS EM DESTAQUE</h2>
        <router-link to="/noticias" class="seeAll font1 fontSize3 fontColor3">VER TUDO</router-link>
    </div>
    <ul>
        <li v-for="noticia in noticiasFiltrados" :key="noticia.id">
            <router-link :to="`noticias/${noticia.slug}`">
                <img :src="noticia.images?.large ? noticia.images.large : noticia.image" :alt="noticia.title" />
                <div>
                    <h3 class="font1 fontSize5 fontColor3">{{ noticia.title }}</h3>
                    <span class="font2 fontColor2">
                      {{ formatDate(noticia.public_date) }}
                    </span>
                </div>
                <span class="font2 fontSize2 fontColor3 tag"
                :class="{
                'backgroundBlue': noticia.category.name === 'Música',
                'backgroundLightGreen': noticia.category.name === 'Entrevista',
                'backgroundWaterBlue': noticia.category.name === 'Fica a Dica',
                'backgroundOrange': noticia.category.name === 'Cena',
                'backgroundPink': noticia.category.name === 'Festa',
                'backgroundSalmon': noticia.category.name === 'Guia',
                'backgroundPurple': noticia.category.name === 'Festival',
                'backgroundGreen': noticia.category.name === 'Lista',
                'backgroundYellow': noticia.category.name === 'Show',
                'backgroundFuchsia': noticia.category.name === 'Carnaval',
                'backgroundLime': noticia.category.name === 'Réveillon',
                'backgroundPurple2': noticia.category.name === 'Quanto custa',
                'backgroundGray2': noticia.category.name === 'Review'
                }">
                {{ noticia.category.name }}
              </span>
            </router-link>
        </li>
    </ul>
  </div>
</template>

<script>
import axios from 'axios';

export default {
  props: {
    limit: {
      type: Number,
      default: 4,
    },
  },
  data() {
    return {
      noticias: [],
    };
  },
  created() {
    this.fetchNoticias();
  },
  computed: {
    noticiasFiltrados() {
      return this.noticias.slice(0, this.limit);
    },
  },
  methods: {
    async fetchNoticias() {
      const url = 'https://api.wegoout.com.br/api/news?sortedBy=public_date&sorted=DESC&is_main=1';
      try {
        const response = await axios.get(url);
        this.noticias = response.data.data;
      } catch (error) {
        if (error.response && error.response.status === 429) {
          await new Promise((resolve) => setTimeout(resolve, 1000));
          await this.fetchNoticias();
        } else {
          console.error('Erro ao buscar notícias:', error);
        }
      }
    },
    formatDate(dateString) {
      const months = [
        'janeiro', 'fevereiro', 'março', 'abril', 'maio', 'junho',
        'julho', 'agosto', 'setembro', 'outubro', 'novembro', 'dezembro'
      ];

      const date = new Date(dateString);
      const day = date.getDate();
      const month = months[date.getMonth()];

      return `${day} de ${month}`;
    },
  },
};
</script>
