<template>
  <div>
    <main class="releases">
      <section class="firstContent">
        <div class="container">
          <div class="searchEvents searchTool">
            <h2 class="font1 fontColor3" @click="removeBodyClass">PESQUISE LANÇAMENTOS</h2>
            <div class="form">
              <div class="field">
                <label class="font2 fontSize4 fontColor3" for="key-word">Nome do lançamento</label>
                <input type="text" v-model="releaseTitle" placeholder="Digite o título do lançamento" />
              </div>
              <div class="field">
                <label class="font2 fontSize4 fontColor3" for="record">Gravadora</label>
                
                <select class="selectRecord arrowOff fontColor2 pure-style" v-model="releases_company" v-if="gravadorasLoaded">
                  <option value="">Todas as gravadoras</option>
                  <option v-for="gravadora in gravadoras" :key="gravadora.id" :value="gravadora.id">{{ gravadora.name }}</option>
                </select>
                <select class="selectRecord arrowOff fontColor2 pure-style" v-else>
                  <option value="">Carregando gravadoras...</option>
                </select>

              </div>
              <button class="goSearch go" @click="updateURLAndFetchReleases">Go</button>
            </div>
            <button class="buttonPinkLarge searchModalButton font1 fontSize2">
              PESQUISAR LANÇAMENTOS
              <img :src="require('@/assets/images/seta-vertical-cima.svg?17072023')" alt="seta" />
            </button>
          </div>
        </div>
      </section>
      <section class="extraContent">
        <div class="containerExtra results">
          <div class="lastLaunch">
            <div class="title">
              <div class="text">
                <h2 class="font1 fontSize6 fontColor1">ÚLTIMOS LANÇAMENTOS</h2>
              </div>
            </div>
            <div class="content listItemsContent">
              <div class="item" v-for="lancamento in lancamentos" :key="lancamento.id">
                <router-link :to="`lancamentos/${lancamento.slug}`">
                  <figure>
                    <img :src="lancamento.images?.large ? lancamento.images.large : lancamento.image" :alt="lancamento.name" />
                  </figure>
                  <div>
                    <span class="font2 icon fontSize4 fontColor1">{{ formatDate(lancamento.date) }}</span>
                    <h3 class="font1 fontSize4 fontColor1">{{ lancamento.name }}</h3>
                    <p class="font2 fontSize4 fontColor1" v-if="lancamento.artists.length > 0">
                      {{ formatSimpleList(lancamento.artists, 3) }}
                    </p>
                  </div>
                </router-link>
              </div>
            </div>
            <button class="font1 fontSize3 moreItems" v-if="showLoadMoreButton" @click="loadMoreReleases">CARREGAR MAIS</button>
          </div>
        </div>
      </section>
    </main>
  </div>
</template>

<script>
import axios from 'axios';

export default {
  data() {
    return {
      lancamentos: [],
      releaseTitle: '',
      releases_company: '',
      releases_artist: '',
      currentPage: 1,
      totalPages: 1,
      gravadorasLoaded: false,
    };
  },
  created() {
    this.fetchGravadoras();
    this.initFromRouteParams();
  },
  methods: {
    async fetchReleases() {
      try {
        const url = 'https://api.wegoout.com.br/api/releases';
        const params = {
          page: this.currentPage,
          name: this.releaseTitle,
          company_id: this.releases_company,
          artist_id: this.releases_artist,
        };

        const response = await axios.get(url, { params });

        if (this.currentPage === 1) {
          this.lancamentos = response.data.data;
        } else {
          this.lancamentos = [...this.lancamentos, ...response.data.data];
        }

        this.currentPage = response.data.current_page;
        this.totalPages = response.data.last_page;
      } catch (error) {
        console.error('Erro ao buscar lançamentos:', error);
      }

      this.removeBodyClass();
    },
    
    async fetchGravadoras() {
      try {
        const url = 'https://api.wegoout.com.br/api/companies?sortedBy=name';
        const maxPages = 100;
        let page = 1;
        let gravadoras = [];
        let retryCount = 0;

        while (page <= maxPages) {
          const params = { page };
          let response;

          try {
            response = await axios.get(url, { params });

            if (response.status === 200 && response.data.data.length > 0) {
              gravadoras = gravadoras.concat(response.data.data);
              page++;
              retryCount = 0; // Reset retry count on a successful response
            } else {
              break;
            }
          } catch (error) {
            if (error.response && error.response.status === 429) {
              // Handle rate limit exceeded error
              console.warn('Rate limit exceeded. Retrying in a moment...');
              retryCount++;
              
              if (retryCount > 3) {
                // If we've retried too many times, break the loop
                console.error('Exceeded maximum retry count. Terminating...');
                break;
              }

              // Add a delay before retrying (adjust this delay as needed)
              await new Promise((resolve) => setTimeout(resolve, 5000));
            } else {
              console.error('Erro ao buscar gravadoras:', error);
              break;
            }
          }
        }

        this.gravadoras = gravadoras;

        if (this.gravadoras.length > 0) {
          this.gravadorasLoaded = true;
        }
      } catch (error) {
        console.error('Erro ao buscar gravadoras:', error);
      }
    },


    async loadMoreReleases() {
      this.currentPage++;
      await this.fetchReleases();
    },
    formatSimpleList(list) {
      const formattedList = list.map((item) => item.name);
      if (formattedList.length === 1) {
        return formattedList[0];
      } else if (formattedList.length === 2) {
        return formattedList.join(' e ');
      } else if (formattedList.length === 3) {
        return `${formattedList[0]}, ${formattedList[1]} e ${formattedList[2]}`;
      } else {
        const firstItems = formattedList.slice(0, 3).join(', ');
        const extraCount = formattedList.length - 3;
        return `${firstItems} e + ${extraCount}`;
      }
    },
    formatDate(dateString) {
      const months = [
        'janeiro', 'fevereiro', 'março', 'abril', 'maio', 'junho',
        'julho', 'agosto', 'setembro', 'outubro', 'novembro', 'dezembro'
      ];

      const date = new Date(dateString);
      const day = date.getDate();
      const month = months[date.getMonth()];

      return `${day} de ${month}`;
    },
    removeBodyClass() {
      const body = document.body;
      body.classList.remove('searchEventsModalActive');
    },
    updateURLAndFetchReleases() {
      this.currentPage = 1; // Reset page when performing a new search

      this.$router.push({
        path: '/lancamentos',
        query: {
          name: this.releaseTitle,
          company_id: this.releases_company,
          artist_id: this.releases_artist,
        }
      });

      // Use a timeout to scroll to results after the URL update
      setTimeout(() => {
        const resultsElement = document.querySelector('.results');

        if (resultsElement) {
          const yOffset = resultsElement.getBoundingClientRect().top - 150;
          window.scrollTo({
            top: window.pageYOffset + yOffset,
            behavior: 'smooth'
          });
        }

        // Reset page to 1 when performing a new search
        this.fetchReleases();
      }, 100);
    },
    initFromRouteParams() {
      this.releaseTitle = this.$route.query.name || '';
      this.releases_company = this.$route.query.company_id || '';
      this.releases_artist = this.$route.query.artist_id || '';

      this.fetchReleases();
    },
  },
  computed: {
    showLoadMoreButton() {
      return this.currentPage < this.totalPages;
    },
  },
};
</script>