<template>
  <div>
    <div class="body-filter">
      <div class="containerExtra">
        <div class="searchEvents searchTool">
          <BuscaHome />
        </div>
      </div>
    </div>
    <div class="containerExtra results">
      <div class="nextEvents">
        <div class="title">
          <h2 class="font1 fontColor1">PRÓXIMOS EVENTOS</h2>
        </div>
        <div class="listItems">
          <div v-if="loading">Buscando...</div>
          <div v-if="!eventos.length && !loading">
            Nenhum resultado encontrado...
          </div>
          <div  class="item" v-for="evento in eventos" :key="evento.id">
            <router-link :to="`/eventos/${evento.slug}`">
              <figure class="square-image-container ">
                <img :src="evento.images?.large ? evento.images.large : evento.image" :alt="evento.name">
                <span v-if="evento.event_type && evento.event_type.name" class="font2 fontSize2 fontColor3 tag"
                :class="{
                'backgroundBlue': evento.event_type.name === 'Música',
                'backgroundLightGreen': evento.event_type.name === 'Entrevista',
                'backgroundWaterBlue': evento.event_type.name === 'Fica a Dica',
                'backgroundOrange': evento.event_type.name === 'Cena',
                'backgroundPink': evento.event_type.name === 'Festa',
                'backgroundSalmon': evento.event_type.name === 'Guia',
                'backgroundPurple': evento.event_type.name === 'Festival',
                'backgroundGreen': evento.event_type.name === 'Lista',
                'backgroundYellow': evento.event_type.name === 'Show',
                'backgroundFuchsia': evento.event_type.name === 'Carnaval',
                'backgroundLime': evento.event_type.name === 'Réveillon',
                'backgroundPurple2': evento.event_type.name === 'Quanto custa',
                'backgroundGray2': evento.event_type.name === 'Review'
                }">
                  {{ evento.event_type.name }}
                </span>
              </figure>
              <div class="text">
                <h2 class="font1 fontColor3 fontSize7">{{ evento.name }}</h2>
                <p v-if="evento.artists.length > 0" class="icon star">{{ formatSimpleList(evento.artists, 3) }}</p>
                <div class="iconWrapper">
                  <p class="icon house" v-if="evento.location && evento.location.name">{{ evento.location.name }}</p>
                  <p class="icon location" v-if="evento.location && evento.location.city">
                    {{ evento.location.city.name }} - {{ evento.location.city.state.abbr }}
                  </p>
                </div>
                <div class="calendar" v-if="evento.start_date">
                  <p class="icon calendar">
                    <template v-if="evento.end_date">
                      <template v-if="formatDate(evento.start_date) == formatDate(evento.end_date)">
                        {{ formatDate(evento.start_date) }}
                      </template>
                      <template v-else>
                        <template v-if="formatDate4(evento.start_date) == formatDate4(evento.end_date)">
                          {{ formatDate2(evento.start_date) }} a {{ formatDate(evento.end_date) }}
                        </template>
                        <template v-else>
                          {{ formatDate(evento.start_date) }} a {{ formatDate(evento.end_date) }}
                        </template>
                      </template>
                    </template>
                    <template v-else>
                      {{ formatDate(evento.start_date) }}
                    </template>
                  </p>
                </div>
              </div>
              <div v-if="evento.has_discount !== '0' && evento.has_discount !== null" class="tagPromoDiv">
                <span class="font1 fontSize2 fontColor3 tagPromo"
                  >DESCONTO WE GO OUT</span>
                <span class="fontColor3 tagPromoTip"></span>
              </div>
            </router-link>
          </div>
        </div>
        <button class="font1 fontSize3 moreItems" v-if="showLoadMoreButton" @click="loadMoreEventos">CARREGAR MAIS</button>
      </div>
    </div>
  </div>
</template>

<script>
import axios from 'axios';
import BuscaHome from '@/components/BuscaHome.vue'

export default {
  name: 'EventosView',
  components: {
    BuscaHome,
  },
  data() {
    return {
      eventos: [],
      loading: true,
      currentPage: 1,
      totalPages: 1,
    }
  },
  mounted() {
    this.buscarEventos();
  },
  methods: {
    async buscarEventos() {
      this.loading = true;
      let apiUrl = 'https://api.wegoout.com.br/api/events?future=true';

      apiUrl += '&page=' + this.currentPage;

      try {
        const response = await axios.get(apiUrl);

        if (this.currentPage === 1) {
          this.eventos = response.data.data;
        } else {
          this.eventos = [...this.eventos, ...response.data.data];
        }

        this.currentPage = response.data.current_page;
        this.totalPages = response.data.last_page;
        this.loading = false;
      } catch (error) {
        if (error.response && error.response.status === 429) {
          await new Promise((resolve) => setTimeout(resolve, 1000));
          await this.buscarEventos();
        } else {
          console.error(error);
          this.loading = false;
        }
      }
    },    
    loadMoreEventos() {
      this.currentPage++;
      this.buscarEventos();
    },
    formatDate(dateString) {
      const months = [
        'janeiro', 'fevereiro', 'março', 'abril', 'maio', 'junho',
        'julho', 'agosto', 'setembro', 'outubro', 'novembro', 'dezembro'
      ];

      const date = new Date(dateString);
      const day = date.getDate();
      const month = months[date.getMonth()];

      return `${day} de ${month}`;
    },
    formatDate2(dateString) {
      const date = new Date(dateString);
      const day = date.getDate();
      return `${day}`;
    },
    formatDate4(dateString) {
      const date = new Date(dateString);
      const month = date.getMonth() + 1;
      return `${month}`;
    },
    formatSimpleList(list) {
      const formattedList = list.map((item) => item.name);
      if (formattedList.length === 1) {
        return formattedList[0];
      } else if (formattedList.length === 2) {
        return formattedList.join(' e ');
      } else if (formattedList.length === 3) {
        return `${formattedList[0]}, ${formattedList[1]} e ${formattedList[2]}`;
      } else {
        const firstItems = formattedList.slice(0, 3).join(', ');
        const extraCount = formattedList.length - 3;
        return `${firstItems} e + ${extraCount}`;
      }
    },
  },
  computed: {
    showLoadMoreButton() {
      return this.currentPage < this.totalPages;
    },
  }
}
</script>