<template>
  <div>
    <LoadingOverlay :is-loading="isLoading" />
    <slot></slot>
  </div>
</template>

<script>
import LoadingOverlay from '@/components/LoadingOverlay.vue';
import { mapState } from 'vuex'; // Importe mapState do Vuex

export default {
  components: {
    LoadingOverlay
  },
  computed: {
    ...mapState(['loading']) // Use a variável 'loading' do Vuex
  }
};
</script>