<template>
  <div>
    <div v-if="loading">Carregando...</div>
    <div v-else>
      <h1>{{ page.title }}</h1>
      <h2>{{ page.sub_title }}</h2>
      <div v-html="page.content"></div>
      <hr/>
      <div>Slug: {{ page.slug }} / {{ page.key_words }} / {{ page.meta_description }} / </div>
    </div>
  </div>
</template>

<script>
import axios from 'axios';

export default {
  props: {
    slug: {
      type: String,
      required: true
    }
  },
  data() {
    return {
      loading: true,
      page: null
    };
  },
  mounted() {
    this.fetchPageData();
  },
  methods: {
    fetchPageData() {
      axios
        .get(`https://api.wegoout.com.br/api/pages?slug=${this.slug}`)
        .then(response => {
          const [pageData] = response.data; // Desestruturação do array
          this.page = pageData;
          this.loading = false;
        })
        .catch(error => {
          console.error(error);
          this.loading = false;
        });
    }
  }
};
</script>