<template>
  <div v-if="anuncioExibido" :key="anuncioExibido.id">
    <a class="container" :href="anuncioExibido.url" target="_blank">
      <figure class="pictureMobile">
        <img :src="anuncioExibido.image_asset_mobile" />
      </figure>
      <figure class="pictureDesk">
        <img :src="anuncioExibido.image_asset_desktop" />
      </figure>
    </a>
  </div>
</template>

<script>
import axios from 'axios';

export default {
  props: {
    limit: {
      type: Number,
      default: 4,
    },
    position: {
      type: String,
      required: true,
    },
  },
  data() {
    return {
      anuncioExibido: null,
    };
  },
  created() {
    this.fetchAnuncioWithRetry();
  },
  methods: {
    async fetchAnuncioWithRetry() {
      try {
        const response = await axios.get('https://api.wegoout.com.br/api/ads', {
          timeout: 10000,
        });
        const anuncios = response.data.data;
        if (anuncios.length > 0) {
          const indiceSorteado = Math.floor(Math.random() * anuncios.length);
          this.anuncioExibido = anuncios[indiceSorteado];
        }
      } catch (error) {
        console.error('Erro ao buscar anúncios:', error);
        if (error.response && error.response.status === 429) {
          setTimeout(() => {
            this.fetchAnuncioWithRetry();
          }, 1000);
        } else {
          this.anuncioExibido = null;
        }
      }
    },
  },
};
</script>