/*
../images vira ../images
*/

h1,
h2,
h3,
h4,
h5,
h6{
    text-transform: uppercase;
}

select {
  appearance: none;
  line-height: normal;
  position: relative;
  line-height: 1em;
  border: 0px;
  background-color: transparent;
  outline: 0px;
}

.pure-style{
    background-color: var(--neutral1);
    border: 3px solid var(--neutral2);
    padding: 14.5px 8px;
    border-radius: var(--lowRadius);
    font-size: 14px;
    color: var(--neutral6);
    transition: var(--transitionFast);
    height: 50px;
    font-family: var(--font2);
}
.pure-style option{
    margin-bottom: 10px;
}

.carousel__next--disabled,
.carousel__prev--disabled{
    display: none!important;
}

.news .guide .text .filterAZ{
    overflow-x: hidden;
}
.news .guide .text .filterAZ .field{
    margin-top: -6px;
    float: right;
}
.news .guide .text .filterAZ select{
    background-image: url(../images/seta-pink.svg);
    background-repeat: no-repeat;
    background-position: right;
    padding-right: 15px; 
    
}

.carousel{
    text-align: left!important;
}
.carousel__slide{
    display: block;
    /*padding: 0px 20px 0px 0px!important;*/
    pointer-events: none!important;
    opacity: 0;
    display: block!important;
    transition: var(--transitionFast);
}
.carousel__slide--visible{
    pointer-events: initial!important;
    opacity: 1;
}
.search .emphasis .carouselEvents{
    padding-bottom: 0px;
}
.artistsHighlights .carouselArtists{
    padding-top: 0px
}

.artistsHighlights .carouselArtists{
    display: block;
}
.search .componentGuide,
.search .lastLaunch,
.search .emphasis,
.search .artistsHighlights,
.search .carouselTogethers{
    overflow: hidden;
}

.search .emphasis .title{
    margin-bottom: 20px!important;
}

.carousel__prev, 
.carousel__next{
    position: absolute!important;
    top: -18px!important;
    transform: translateY(-100%)!important;
    height: 16px!important;
    width: 8px!important;
    background-size: 8px!important;
    background-repeat: no-repeat!important;
}
.carousel__next{
    margin-right: 0px!important;
}
.carousel__prev{
    left: inherit!important;
    right: 16px!important;
}
.carouselHighlightLaunch{
    padding-top: 20px;
}
.releases .carouselHighlightLaunch{
    padding-top: 0px;
}

.carouseltogether .item{
    width: calc(100% / 4 - 60px / 4)!important;
    margin-right: 20px!important;
    float: left;
}
.carouseltogether .item:last-child{
    margin-right: 0px!important;
}
.home .bestEvents .carouselBestEvents p img,
.events .bestEvents .carouselBestEvents p img{
    display: block;
    width: 40px;
    height: 45px;
    float: left;
    margin-right: 10px;
    opacity: 40%;;
}
.carouselEvents,
.carouselCountdown,
.carouselArtists{
    padding: 20px 0px;
}
.carouselCountdown{
  padding-top: 0px!important;
}
.carouselCountdown .carousel__viewport{
  padding-top: 20px!important;
}
.carouselEvents .carousel__viewport{
    overflow: inherit;
}

body.modalLupaActive{
    overflow: auto!important; 
}
.modalLupaActive .menu .containerLupa .lupaContainerItem {
    width: 19px;
    bottom: 8px;
    left: 9px;
    top: 14px!important;
}
.backgroundModal{
    display: none;
}
.menu{
    border-radius: 0px 0px var(--bigRadius) var(--bigRadius);
}

main.search{
    padding-top: 100px;
}
.search .lastLaunch .item a img{
    width: 100%;
}
.search .lastLaunch .item div{
    margin-top: 15px;
}
.search.notFound{
    margin-top: -200px;
}

.route.consulta .search.notFound{
  margin-top: 0px!important;
  padding-top: 0px!important;
}

.route.consulta .notFound .containerExtra .notFoundImg{
  margin-top: 0px;
}

.notFound .containerExtra h4{
    margin-bottom: 0px;
    text-transform: initial;
    margin-top: 10px;
}
.news .firstContent{
    overflow: hidden;
}
.news .guide .text{
    width: 100%;
}
.singleNews .content .text .profile img{
    border-radius: 50%;
    overflow-x: hidden;
}
.singleNews .info .moreInfo{
    text-decoration: none;
}

.read-more{
    cursor: pointer;
}

.releases .lastLaunch .content .icon:before{
    background-image: url(../images/icone-calendario-dark.svg);
}


/* filtros */
.releases .firstContent,
.artists .firstContent,
.events .firstContent{
    border-radius: 0px;
}

.releases .highlightLaunch,
.artists .artistHighlights{
    margin-bottom: 0px;
}

button.clear{
    border: 0px;
    color: red;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 400;
    font-family: var(--font1);
    color: var(--main1);
    text-decoration: none; 
    background-color: transparent;
    padding: 0px;
    width: fit-content;
    display: inline-block;
    margin-top: 20px;
}
button.clear:hover{
    text-decoration: underline;
}

.releases-filter, 
.artists-filter,
.events-filter .body-filter{
    border-radius: 0px 0px var(--bigRadius) var(--bigRadius);
    background-color: var(--neutral1);
    overflow: hidden;
}
.releases .containerExtra{
    margin-left: auto;
    margin-right: auto; 
}

.releases .searchTool .form {
    grid-template-columns: 1fr 1fr 140px;
}

/* / filtros */


.list-event{
overflow: hidden;
display: grid;
grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
grid-gap: 40px;
}
.block_event{
border: 2px solid #000000;
padding: 40px;

}
.block_event img{
width: 100%;
}
.filter-event{
overflow: hidden;
}
.filter-event div{
float: left;
width: calc(100% / 13);
text-align: left;
}
.filter-event div label{
font-weight: 900;
}
.filter-event div input,
.filter-event div select,
.filter-event div button{
width: 100%;
}
.no-events{
background-color: #dddddd;
padding: 100px;
}

/* fixed */

main.event,
main.artist,
.artist .firstContent,
main.release,
main.singleNews{
    overflow: initial;
}

.container-prev{
  font-size: 60px;
}

.container-sticky {
  display: flex;
}

.container-sticky-right {
  position: relative;
}

.container-sticky-right-fixed {
    position: -webkit-sticky;
    position: sticky;
    top: 20px;
    margin-top: 100px;
    z-index: 1;
    padding-left: 40px;
    padding-right: 40px;
}

/* margamento */

:root {
    --cmargin: 20px;
}

.carousel:has(.carousel__slide.carousel__slide--visible){
  /*background-color: red;*/
}

.carouselMargin .carousel__prev,
.carouselMargin .carousel__next{
  display: none;
}

.carousel:has(.carousel__slide:not(.carousel__slide--visible)) .carousel__prev,
.carousel:has(.carousel__slide:not(.carousel__slide--visible)) .carousel__next{
  display: block;
}

.carouselMargin{
    width: calc(100% + var(--cmargin))!important;
}
.carouselMargin .carousel__slide{
    padding-left: var(--cmargin)!important;
}
.carouselMargin .carousel__slide > :first-child{
    margin-left: calc(var(--cmargin) * -1)!important;
    width: 100%!important;
}
.carouselMargin .carousel__next{
    margin-right: 0px!important;
    right: var(--cmargin)!important;
    background-color: var(--main1)!important;
    padding: 10px;
    background-position: 7px 3px;
    border-radius: var(--lowRadius);
    background-size: 6px!important;
}
.carouselMargin .carousel__prev{
    left: inherit!important;
    right: calc(var(--cmargin) + 20px)!important;
    background-color: var(--main1)!important;
    padding: 10px;
    background-position: 7px 3px;
    border-radius: var(--lowRadius);
    background-size: 6px!important;
}

.carouselEvents .carousel__prev, 
.carouselEvents .carousel__next{
    top: -8px!important;
}


.waiting .footer-waiting-page {
  position: absolute;
  left: 50%;
  bottom: 20px;
  transform: translate(-50%, -50%);
  text-align: center;
  opacity: 40%;
}

.waiting .footer-waiting-page p {
  text-align: center;
  font-family: "Lato";
  font-size: 14px;
}

/* Estilos do contêiner principal */
.waiting .main-container-waiting-page {
  position: absolute;
  left: 50%;
  top: 40%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.waiting .main-section-waiting-page {
  height: 100vh;
  overflow: hidden;
  text-align: center;
  background-repeat: no-repeat;
  background-position: top left;
  background-size: 130%;
  background-image: url(http://62.72.11.187/images/onda-footer-1.svg);
}

/* Estilos do contêiner de espera */
.waiting .waiting-page-container {
  max-width: 650px;
  padding: 20px;
}

/* Estilos do botão de espera */
.waiting a.waiting-page-button-link {
  padding: 20px;
  background-color: #f83a80;
  border-radius: 5px;
  border: none;
  font-size: 14px;
  text-decoration: none;
  display: block;
  text-transform: uppercase;
  color: white;
  max-width: 300px;
  margin: auto auto;
  transition: all 0.5s;
  font-family: "Fugaz One";
}

.waiting a.waiting-page-button-link:hover {
  background-color: #db2065;
}

/* Estilos do contêiner de logotipo */
.waiting .logo-container-waiting-page {
  width: 300px;
  margin-left: auto;
  margin-right: auto;
  padding: 40px;
}

.waiting .logo-container-waiting-page img {
  width: 120px;
}

/* Estilos do cabeçalho principal */
.waiting .main-container-waiting-page h1 {
  padding: 0;
  margin: 0;
  line-height: 1.33em;
  text-transform: uppercase;
  font-size: 36px;
  color: white;
  font-family: "Fugaz One";
}

.waiting .main-container-waiting-page p {
  padding: 0;
  margin: 0;
  line-height: 1.5em;
  font-size: 16px;
  display: block;
  width: 100%;
  margin-bottom: 40px;
  font-family: "Lato";
}

.espera{
  background-color: var(--neutral1);
  color: var(--neutral7);
}

.espera header,
.espera footer{
  display: none;
}


.loading-overlay {
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  position: fixed;
  background-color: var(--neutral1);
  z-index: 10;
  animation-duration: 0.5s; /* Defina a mesma duração da transição */
  animation-delay: 4.5s; /* Delay para iniciar a animação antes de desaparecer */
  animation-fill-mode: forwards; /* Mantém o estado final da animação */
  animation-name: fade-out; /* Nome da animação */
}

@keyframes fade-out {
  to {
    opacity: 0; /* Opacidade 0 ao final da animação */
  }
}

@keyframes quiet {
  25%{
    transform: scaleY(.6);
  }
  50%{
    transform: scaleY(.4);
  }
  75%{
    transform: scaleY(.8);
  }
}

@keyframes normal {
  25%{
    transform: scaleY(1);
  }
  50%{
    transform: scaleY(.4);
  }
  75%{
    transform: scaleY(.6);
  }
}

@keyframes loud {
  25%{
    transform: scaleY(1);
  }
  50%{
    transform: scaleY(.4);
  }
  75%{
    transform: scaleY(1.2);
  }
}

.boxContainer{
  display: flex;
  position: absolute;
  justify-content: space-between;
  height: 64px;
  top: calc(50% - 20px);
  left: calc(50% - 32px);
  --boxSize: 8px;
  --gutter: 4px;
  width: calc((var(--boxSize) + var(--gutter)) * 5);
}

.boxContainer.floated{
  position: relative;
  margin-top: 100px;
}

.searching-items{
  text-align: center; 
  margin-top: 20px;
}

.box{
  transform: scaleY(.4);
  height: 100%;
  width: var(--boxSize);
  background: var(--main1);
  animation-duration: 1.2s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  border-radius: 8px;
}

.box1{
  animation-name: quiet;
}

.box2{
  animation-name: normal;
}

.box3{
  animation-name: quiet;
}

.box4{
  animation-name: loud;
}

.box5{
  animation-name: quiet;
}



/* / margeamento */

@media(max-width: 1024px) {
.container-sticky,
.event .firstContent{
display: block;
}
.waiting .main-container-waiting-page{
top: 50%;
}
.waiting .main-container-waiting-page h1 {
padding: 0;
margin: 0;
font-weight: 600;
font-size: 24px;
}
.waiting .main-container-waiting-page h2 {
padding: 0 10px;
}
.waiting .main-container-waiting-page p {
padding: 0;
margin: 0;
font-size: 16px;
margin-bottom: 30px;
}
.waiting .logo-container-waiting-page img{
width: 90px;
}
}