hr{
    margin-bottom: 20px;
    border: 0px;
    background-color: var(--neutral4);
    height: 2px;
}

.singleNews .info .content h2,
.singleNews .info .content h2 span,
.release .info .about div h2,
.release .info .about div h2 span,
.artist .info .about div h2,
.artist .info .about div h2 span,
.event .info .content article h2,
.event .info .content article h2 span,
.event .info .more .event-details h2,
.event .info .more .event-details h2 span,
.event .info .tickets div:nth-child(2) h2,
.event .info .tickets div:nth-child(2) h2 span{
    font-size: 28px!important;
    background-color: transparent!important;
    text-transform: initial !important;
    color: var(--neutral1) !important;
    margin: 0px 0px 20px 0px!important;
    font-weight: bold!important;
    line-height: 1.2em!important;
}

.singleNews .info .content h3,
.singleNews .info .content h3 span,
.release .info .about div h3,
.release .info .about div h3 span,
.artist .info .about div h3,
.artist .info .about div h3 span,
.event .info .content article h3,
.event .info .content article h3 span,
.event .info .more .event-details h3,
.event .info .more .event-details h3 span,
.event .info .tickets div:nth-child(2) h3,
.event .info .tickets div:nth-child(2) h3 span{
    font-size: 24px!important;
    background-color: transparent!important;
    text-transform: initial !important;
    color: var(--neutral1)!important;
    margin: 0px 0px 20px 0px!important;
    font-weight: bold!important;
    line-height: 1.2em!important;
}


.singleNews .info .content h4,
.singleNews .info .content h4 span,
.release .info .about div h4,
.release .info .about div h4 span,
.artist .info .about div h4,
.artist .info .about div h4 span,
.event .info .content article h4,
.event .info .content article h4 span,
.event .info .more .event-details h4,
.event .info .more .event-details h4 span,
.event .info .tickets div:nth-child(2) h4,
.event .info .tickets div:nth-child(2) h4 span{
    font-size: 20px!important;
    background-color: transparent!important;
    text-transform: initial !important;
    color: var(--neutral1)!important;
    margin: 0px 0px 20px 0px!important;
    font-weight: bold!important;
    line-height: 1.2em!important;
}

.singleNews .info .content p,
.release .info .about div p,
.artist .info .about div p,
.event .info .content article p,
.event .info .more .event-details p,
.event .info .tickets div:nth-child(2) p{
    font-size: 16px!important;
    margin-bottom: 20px!important;
    width: 100%!important;
    font-family: "Lato"!important;
    color: var(--neutral1)!important;
    line-height: 1.5em!important;
    text-align: left!important;
    background-color: transparent!important;
}

.event .info .tickets div:nth-child(2) *:last-child{
    margin-bottom: 0px!important;
}

.singleNews .info .content p:has(img:only-child),
.release .info .about div p:has(img:only-child),
.artist .info .about div p:has(img:only-child),
.event .info .content article p:has(img:only-child),
.event .info .more .event-details p:has(img:only-child),
.event .info .tickets div:nth-child(2) p:has(img:only-child){
    margin-bottom: 0px!important;
}

.singleNews .info .content p:has(br:only-child),
.release .info .about div p:has(br:only-child),
.artist .info .about div p:has(br:only-child),
.event .info .content article p:has(br:only-child),
.event .info .more .event-details p:has(br:only-child),
.event .info .tickets div:nth-child(2) p:has(br:only-child){
    display: none!important;
}

.singleNews .info .content p *,
.release .info .about div p *,
.artist .info .about div p *,
.event .info .content article p *,
.event .info .more .event-details p *,
.event .info .tickets div:nth-child(2) p *{
    font-size: 16px!important;
    font-family: "Lato"!important;
    color: var(--neutral1)!important;
    line-height: 1.5em!important;
    text-align: left!important;
    font-weight: normal!important;
    display: inline!important;
    background-color: transparent!important;
}

.singleNews .info .content p span strong,
.singleNews .info .content p strong,
.release .info .about div p span strong,
.release .info .about div p strong,
.artist .info .about div p span strong,
.artist .info .about div p strong,
.event .info .content article p span strong,
.event .info .content article p strong,
.event .info .more .event-details p span strong,
.event .info .more .event-details p strong,
.event .info .tickets div:nth-child(2) p span strong,
.event .info .tickets div:nth-child(2) p strong{
    font-weight: bold!important;
    background-color: transparent!important;
}

.singleNews .info .content p span em,
.singleNews .info .content p em,
.release .info .about div p span em,
.release .info .about div p em,
.artist .info .about div p span em,
.artist .info .about div p em,
.event .info .content article p span em,
.event .info .content article p em,
.event .info .more .event-details p span em,
.event .info .more .event-details p em,
.event .info .tickets div:nth-child(2) p span em,
.event .info .tickets div:nth-child(2) p em{
    font-style: italic!important;
    background-color: transparent!important;
}

.singleNews .info .content span blockquote,
.singleNews .info .content p blockquote,
.singleNews .info .content blockquote,
.release .info .about div span blockquote,
.release .info .about div p blockquote,
.release .info .about div blockquote,
.artist .info .about div span blockquote,
.artist .info .about div p blockquote,
.artist .info .about div blockquote,
.event .info .content article span blockquote,
.event .info .content article p blockquote,
.event .info .content article blockquote,
.event .info .more .event-details span blockquote,
.event .info .more .event-details p blockquote,
.event .info .more .event-details blockquote,
.event .info .tickets div:nth-child(2) span blockquote,
.event .info .tickets div:nth-child(2) p blockquote,
.event .info .tickets div:nth-child(2) blockquote{
    font-style: italic!important;
    padding-left: 20px!important;
    border-left: 2px solid #e3e3e3!important;
    margin-bottom: 20px!important;
    line-height: 1.5em!important;
    background-color: transparent!important;
}

.singleNews .info .content video,
.release .info .about div video,
.artist .info .about div video,
.event .info .content article video,
.event .info .more .event-details video,
.event .info .tickets div:nth-child(2) video{
    width: 100%;
    border-radius: var(--mediumRadius1);
    overflow: hidden;
    margin-bottom: 20px;
    background-color: transparent!important;
}

.singleNews .info .content a,
.release .info .about div a,
.artist .info .about div a,
.event .info .content article a,
.event .info .more .event-details a,
.event .info .tickets div:nth-child(2) a,
.singleNews .info .content a *,
.release .info .about div a *,
.artist .info .about div a *,
.event .info .content article a *,
.event .info .more .event-details a *,
.event .info .tickets div:nth-child(2) a *{
    text-decoration: underline!important;
    color: var(--main1)!important;
    font-family: "Lato"!important;
    line-height: 1.5em!important;
    font-size: 16px!important;
    background-color: transparent!important;
}

.event .info .tickets div:nth-child(2) a:after{
    display: none!important;
}

.singleNews .info .content a:hover,
.release .info .about div a:hover,
.artist .info .about div a:hover,
.event .info .content article a:hover,
.event .info .more .event-details a:hover,
.event .info .tickets div:nth-child(2) a:hover{
    color: var(--pinkHover);
    transition: var(--transitionFast);
}

.singleNews .info .content b,
.release .info .about div b,
.artist .info .about div b,
.event .info .content article b,
.event .info .more .event-details b,
.event .info .tickets div:nth-child(2) b{
    font-weight: bold;
    background-color: transparent!important;
}

.singleNews .info .content iframe,
.release .info .about div iframe,
.artist .info .about div iframe,
.event .info .content article iframe,
.event .info .more .event-details iframe,
.event .info .tickets div:nth-child(2) iframe{
    width: 100%;
    margin-bottom: 20px;
    border-radius: var(--mediumRadius1);
    height: 400px;
}


.singleNews .info .content iframe[src*="spotify"],
.release .info .about div iframe[src*="spotify"],
.artist .info .about div iframe[src*="spotify"],
.event .info .content article iframe[src*="spotify"],
.event .info .more .event-details iframe[src*="spotify"],
.event .info .tickets div:nth-child(2) iframe[src*="spotify"]{
    height: 232px;
}

.singleNews .info .content iframe[src*="instagram"],
.release .info .about div iframe[src*="instagram"],
.artist .info .about div iframe[src*="instagram"],
.event .info .content article iframe[src*="instagram"],
.event .info .more .event-details iframe[src*="instagram"],
.event .info .tickets div:nth-child(2) iframe[src*="instagram"]{
    height: 608px;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    border: 3px solid var(--neutral4);
}

.singleNews .info .content ol,
.release .info .about div ol,
.artist .info .about div ol,
.event .info .content article ol,
.event .info .more .event-details ol,
.event .info .tickets div:nth-child(2) ol{
    list-style: none!important;
    margin-left: 0px!important;
    font-size: 16px!important;
    margin-bottom: 20px!important;
    width: 100%!important;
    font-family: "Lato"!important;
    color: var(--neutral1)!important;
    line-height: 1.5em!important;
    text-align: left!important;
    background-color: transparent!important;
}

.singleNews .info .content ol li,
.release .info .about div ol li,
.artist .info .about div ol li,
.event .info .content article ol li,
.event .info .more .event-details ol li,
.event .info .tickets div:nth-child(2) ol li{
    margin-bottom: 0px!important;
    background-color: transparent!important;
}

.singleNews .info .content ol li *,
.release .info .about div ol li *,
.artist .info .about div ol li *,
.event .info .content article ol li *,
.event .info .more .event-details ol li *,
.event .info .tickets div:nth-child(2) ol li *{
    font-family: "Lato"!important;
    color: var(--neutral1)!important;
    line-height: 1.5em!important;
    text-align: left!important;
    font-size: 16px!important;
    background-color: transparent!important;
}
.singleNews .info .content ol li span em,
.singleNews .info .content ol li em,
.release .info .about div ol li span em,
.release .info .about div ol li em,
.artist .info .about div ol li span em,
.artist .info .about div ol li em,
.event .info .content article ol li span em,
.event .info .content article ol li em,
.event .info .more .event-details ol li span em,
.event .info .more .event-details ol li em,
.event .info .tickets div:nth-child(2) ol li span em,
.event .info .tickets div:nth-child(2) ol li em{
    font-style: italic!important;
    background-color: transparent!important;
}

.singleNews .info .content ul,
.release .info .about div ul,
.artist .info .about div ul,
.event .info .content article ul,
.event .info .more .event-details ul,
.event .info .tickets div:nth-child(2) ul{
    list-style: disc!important;
    margin-left: 20px!important;
    font-size: 16px!important;
    margin-bottom: 0px!important;
    width: calc(100% - 20px)!important;
    font-family: "Lato"!important;
    color: var(--neutral1)!important;
    line-height: 1.5em!important;
    text-align: left!important;
    background-color: transparent!important;
}

.singleNews .info .content li,
.release .info .about div li,
.artist .info .about div li,
.event .info .content article li,
.event .info .more .event-details li,
.event .info .tickets div:nth-child(2) li{
    width: 100%;
    font-size: 16px!important;
    margin-bottom: 5px!important;
    width: 100%!important;
    font-family: "Lato"!important;
    color: var(--neutral1)!important;
    line-height: 1.5em!important;
    text-align: left!important;
    background-color: transparent!important;
}

.singleNews .info .content li:last-child,
.release .info .about div li:last-child,
.artist .info .about div li:last-child,
.event .info .content article li:last-child,
.event .info .more .event-details li:last-child,
.event .info .tickets div:nth-child(2) li:last-child{
    margin-bottom: 20px!important;
}

.singleNews .info .content li span,
.singleNews .info .content li strong,
.singleNews .info .content li em,
.release .info .about div li span,
.release .info .about div li strong,
.release .info .about div li em,
.artist .info .about div li span,
.artist .info .about div li strong,
.artist .info .about div li em,
.event .info .content article li span,
.event .info .content article li strong,
.event .info .content article li em,
.event .info .more .event-details li span,
.event .info .more .event-details li strong,
.event .info .more .event-details li em,
.event .info .tickets div:nth-child(2) li span,
.event .info .tickets div:nth-child(2) li strong,
.event .info .tickets div:nth-child(2) li em{
    font-family: "Lato"!important;
    color: var(--neutral1)!important;
    line-height: 1.5em!important;
    font-weight: normal!important;
    font-size: 16px!important;
    display: inline!important;
    background-color: transparent!important;
}
.singleNews .info .content li strong,
.release .info .about div li strong,
.artist .info .about div li strong,
.event .info .content article li strong,
.event .info .more .event-details li strong,
.event .info .tickets div:nth-child(2) li strong,
.singleNews .info .content li em strong,
.release .info .about div li em strong,
.artist .info .about div li em strong,
.event .info .content article li em strong,
.event .info .more .event-details li em strong,
.event .info .tickets div:nth-child(2) li em strong,
.singleNews .info .content em strong,
.release .info .about div em strong,
.artist .info .about div em strong,
.event .info .content article em strong,
.event .info .more .event-details em strong,
.event .info .tickets div:nth-child(2) em strong,
.singleNews .info .content li strong em,
.release .info .about div li strong em ,
.artist .info .about div li strong em,
.event .info .content article li strong em,
.event .info .more .event-details li strong em,
.event .info .tickets div:nth-child(2) li strong em,
.singleNews .info .content strong em,
.release .info .about div strong em,
.artist .info .about div strong em,
.event .info .content article strong em,
.event .info .more .event-details strong em,
.event .info .tickets div:nth-child(2) strong em,
.singleNews .info .content blockquote strong,
.release .info .about div blockquote strong,
.artist .info .about div blockquote strong,
.event .info .content article blockquote strong,
.event .info .more .event-details blockquote strong,
.event .info .tickets div:nth-child(2) blockquote strong{
    font-weight: bold!important;
    background-color: transparent!important;
}
.singleNews .info .content li em,
.release .info .about div li em,
.artist .info .about div li em,
.event .info .content article li em,
.event .info .more .event-details li em,
.event .info .tickets div:nth-child(2) li em{
    font-style: italic!important;
    background-color: transparent!important;
}

.singleNews .info .content figure,
.release .info .about div figure,
.artist .info .about div figure,
.event .info .content article figure,
.event .info .more .event-details figure,
.event .info .tickets div:nth-child(2) figure{
    border-radius: var(--mediumRadius1);
    width: 100%;
    height: 100%;
    position: relative;
    margin-top: 40px;
    background-color: transparent!important;
}

.singleNews .info .content img,
.release .info .about div img,
.artist .info .about div img,
.event .info .content article img,
.event .info .more .event-details img,
.event .info .tickets div:nth-child(2) img{
    width: 100%!important;
    height: auto!important;
    object-fit: cover!important;
    margin-bottom: 10px!important;
    border-radius: var(--mediumRadius1)!important;
    background-color: transparent!important;
}

.singleNews .info .content figcaption,
.release .info .about div figcaption,
.artist .info .about div figcaption,
.event .info .content article figcaption,
.event .info .more .event-details figcaption,
.event .info .tickets div:nth-child(2) figcaption{
    font-size: 14px!important;
    color: var(--neutral3)!important;
    font-family: "Lato"!important;
    line-height: 1.5em!important;
    margin-bottom: 10px!important;
    background-color: transparent!important;
}


@media(max-width: 1025px) {
    .singleNews .info .content h2,
    .release .info .about div h2,
    .artist .info .about div h2,
    .event .info .content article h2,
    .event .info .more .event-details h2,
    .event .info .tickets div:nth-child(2) h2{
        font-size: 20px!important;
        margin-bottom: 20px!important;
    }

    .singleNews .info .content iframe[src*="spotify"],
    .release .info .about div iframe[src*="spotify"],
    .artist .info .about div iframe[src*="spotify"],
    .event .info .content article iframe[src*="spotify"],
    .event .info .more .event-details iframe[src*="spotify"],
    .event .info .tickets div:nth-child(2) iframe[src*="spotify"]{
        height: 152px;
    }

    .singleNews .info .content iframe[src*="instagram"],
    .release .info .about div iframe[src*="instagram"],
    .artist .info .about div iframe[src*="instagram"],
    .event .info .content article iframe[src*="instagram"],
    .event .info .more .event-details iframe[src*="instagram"],
    .event .info .tickets div:nth-child(2) iframe[src*="instagram"]{
        height: 510px;
        width: 300px;
    }

    .singleNews .info .content h3,
    .release .info .about div h3,
    .artist .info .about div h3,
    .event .info .content article h3,
    .event .info .more .event-details h3,
    .event .info .tickets div:nth-child(2) h3{
        font-size: 16px!important;
    }
}


@media(max-width: 440px) {
    .singleNews .info .content iframe[src*="instagram"],
    .release .info .about div iframe[src*="instagram"],
    .artist .info .about div iframe[src*="instagram"],
    .event .info .content article iframe[src*="instagram"],
    .event .info .more .event-details iframe[src*="instagram"],
    .event .info .tickets div:nth-child(2) iframe[src*="instagram"]{
        height: 470px;
        width: 260px;
    }
}