<template>
  <div :class="['route', routeClasses]">
    <AllHeader />
    <router-view/>
    <AllFooter />
  </div>
</template>

<script>
import AllFooter from '@/components/AllFooter.vue'
import AllHeader from '@/components/AllHeader.vue'


export default {
  components: {
    AllFooter,
    AllHeader,
  },
  data() {
    return {
      routeClasses: '',
    };
  },
  watch: {
    '$route'(to) {
      this.updateRouteClasses(to);
    }
  },
  methods: {
    updateRouteClasses(route) {
      const routePath = route.path;

      if (routePath === '/') {
        this.routeClasses = 'home';
      } else {
        const classes = routePath.split('/').filter(Boolean).join(' ');
        this.routeClasses = classes;
      }
    },
  },
  created() {
    this.updateRouteClasses(this.$route);
  }
}
</script>