@font-face {
    font-family: 'FugazOne-Regular';
    src: url('../fonts/FugazOne-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Lato-Regular';
    src: url('../fonts/Lato-Regular.ttf') format('truetype');
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

:root {
    --main-title: #211E1E;
    --body-text: #2C2929;
    --tab-grey-text: #707070;
    --placeholder: #707070;
    --tab-hover: #E3E3E3;
    --input-focus: #2c2929;
    --input-border: #E3E3E3;
    --input-result-background: #E3E3E3;
    --tab-grey-background: #F2F2F2;
    --neutral6: #F4F4F4;
    --body: #FFFFFF;
    --text-white: #FFFFFF;
    --h1-font-size: 24px;
    --tab-font-size: 12px;
    --button-font-size: 12px;
    --label-font-size: 16px;
    --fugaz-one: 'FugazOne-Regular', sans-serif;
    --lato: 'Lato-Regular', sans-serif;
    --main1: #F83A80;
    --button-hover: #db2065;
    --transitionFast: all 0.5s;
    --lowRadius: 5px;
    --general-line-height: 1.5em;
}

*{
    box-sizing: border-box;
}


body::-webkit-scrollbar {
	width: 8px;
}

body::-webkit-scrollbar-track {
	background: var(--main-title);
}

body::-webkit-scrollbar-thumb {
	background-color: var(--main1);
	border-radius: 0px;
}

body::-webkit-scrollbar-thumb:hover {
	background-color: var(--main1);
}

.new-content .facebook-container,
.new-content .instagram-container,
.new-content .mixCloud-container,
.new-content .soundCloud-container,
.new-content .spotify-container{
    display: none;
}

.new-content.facebook-tab-active .facebook-container,
.new-content.insta-tab-active .instagram-container,
.new-content.mixCloud-tab-active .mixCloud-container,
.new-content.soundCloud-tab-active .soundCloud-container,
.new-content.spotify-tab-active .spotify-container{
    display: block
}

.new-content {
    background-color: var(--body);
    color: var(--body-text);
    font-family: var(--lato);
    box-sizing: border-box;
    line-height: var(--general-line-height);
}

.new-content header {
    text-align: center;
    padding: 20px;
    margin-bottom: 20px;
}

.new-content header img{
    height: 50px;
    width: auto;
}

.new-content main {
    max-width: 700px;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 100px;
    text-align: left;
    transition: var(--transitionFast);
}

.new-content .tabs{
    overflow: hidden;
    margin-bottom: 45px;
}

.new-content .tabs h4{
    float: left;
    margin-right: 10px;
    transition: var(--transitionFast);
    padding: 10px 30px;
    border-radius: 50px;
    background-color: var(--tab-grey-background);
    color: var(--tab-grey-text);
    cursor: pointer;
    text-align: center;
    font-size: var(--tab-font-size)
}

.new-content .tabs h4:hover{
    background-color: var(--tab-hover);
}

.new-content .tabs h4.active,
.new-content .tabs h4.active:hover{
    background-color: var(--main1);
    color: var(--text-white);
    text-align: center;
    font-size: var(--tab-font-size)
}

.new-content h1 {
    font-family: var(--fugaz-one);
    margin-bottom: 30px;
    font-size: var(--h1-font-size);
    text-transform: uppercase;
}

.new-content .label-text {
    font-size: var(--label-font-size);
    display: block;
    font-family: var(--lato);
    margin-bottom: 10px;
}

.new-content .input-output {
    background-color: var(--body);
    color: var(--body-text);
    border-radius: var(--lowRadius);
    border: 2px solid var(--input-border);
    padding: 15px 10px;
    width: 100%;
    transition: var(--transitionFast);
}

.new-content .output.input-output{
    background-color: var(--tab-grey-background);
}

.new-content .input-output::placeholder {
   color: var(--placeholder);
}

.new-content .input-output:focus {
    outline: none;
    border: 2px solid var(--input-focus);
}

.new-content .send{
    margin-bottom: 40px;
}

.new-content .send div{
    margin-bottom: 20px;
}

.new-content button{
    padding: 15px 20px;
    font-family: var(--fugaz-one);
    font-size: var(--button-font-size);
    border-radius: var(--lowRadius);
    background-color: var(--main1);
    color: var(--text-white);
    text-transform: uppercase;
    position: relative;
    cursor: pointer;
    transition: var(--transitionFast);
    border: none;
}

.new-content button:hover{
    background-color: var(--button-hover);
}

.new-content button.copyButton{
    padding-left: 41px;
    margin-top: 20px;
}

.new-content button.copyButton:before{
    background-repeat: no-repeat;
    background-image: url(../assets/copy-icon.svg);
	background-position: center;
	width: 16px;
	height: 16px;
	content: "";
	display: block;
	position: absolute;
    left: 20px;
}

.new-content .disabled{
    display: none;
}

.new-content .error-message{
    color: red;
    font-size: 12px;
}

.new-content .alert{
    position: fixed;
	left: 50%;
	margin-left: calc((600px / 2) * -1);
	width: 600px;
    padding: 20px;
    background-color: green;
    color: var(--text-white);
    font-size: 16px;
    border-radius: var(--lowRadius) var(--lowRadius) 0px 0px;
	bottom: -10%;
    animation: mymove 2s;
    opacity: 100%;
}

@keyframes mymove {
	0% {
		bottom: -10%;
		z-index: 10;
	}

	30% {
		bottom: 0%;
		z-index: 10;
	}

	70% {
		bottom: 0%;
		z-index: 10;
	}

	100% {
		bottom: -10%;
		z-index: -1;
	}
}
